@model  MeherEstateDevelopers.Models.QuotationServicesViewModel
@{
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("CEO"))
    {
        Layout = "~/Views/Shared/_CEOLayout.cshtml";
    }
    else if (User.IsInRole("Staff"))
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
    var status = Model.AppliedBids.Any(x => x.PR_Status == MeherEstateDevelopers.Models.PurchaseRequisitionStatus.Purchase_Order_Generated.ToString() || x.PR_Status == MeherEstateDevelopers.Models.PurchaseRequisitionStatus.Purchase_Order_NotPrinted.ToString());
    var reqno = Model.PurchaseRequistionDetails.Select(x => x.Requisition_No).FirstOrDefault();
    var Dep_Name = Model.PurchaseRequistionDetails.Select(x => x.Dep_Name).FirstOrDefault();
    var Date = Model.PurchaseRequistionDetails.Select(x => x.DateTime).FirstOrDefault();
    var prj = Model.PurchaseRequistionDetails.Select(x => x.Prj_Name).FirstOrDefault();
}
<script src="~/Scripts/Inv.js"></script>
<input type="hidden" value="@Model.PurchaseRequistionDetails.FirstOrDefault().Group_Id" id="Group_Id" />
<div class="bgc-white bd bdrs-3 p-20 mB-20">
    @if (Model.PurchaseRequistionDetails.Any())
    {
        <div class="row">
            <div class="col-md-3">
                <label>Department</label>
                <h4>@Dep_Name</h4>
            </div>
            <div class="col-md-3">
                <label>Project</label>
                <h4>@prj</h4>
            </div>
            <div class="col-md-3">
                <label>Requisition No</label>
                <h4>@reqno</h4>
            </div>
            <div class="col-md-3">
                <label>Date</label>
                <h4>@String.Format("{0:dd-MMM-yyyy}", Date)</h4>
            </div>
        </div>
        foreach (var v in Model.PurchaseRequistionDetails)
        {
            string dims = string.Empty;
            if (!(v.Length is null))
            {
                dims += " /Length - " + v.Length + v.Len_UOM;
            }
            if (!(v.Width is null))
            {
                dims += " /Width - " + v.Width + v.Wid_UOM;
            }
            if (!(v.Heigth is null))
            {
                dims += " /Height - " + v.Heigth + v.Hei_UOM;
            }
            if (!(v.Breadth is null))
            {
                dims += " /Breadth - " + v.Breadth + v.B_UOM;
            }
            <div class="row" style="border:1px solid #ccc">
                <div class="col-md-3 p-20">
                    <h6>@v.Item_Name @((dims is "") ? "" : ("( " + dims + " )"))</h6>
                    @if (v.Description != null || !string.IsNullOrEmpty(v.Description))
                    {
                        <h6>@v.Description</h6>
                    }
                </div>
                <div class="col-md-9">
                    <table class="table-bordered table">
                        <thead>
                            <tr class="thTextHeading">
                                <th width="50px">Sr.</th>
                                <th width="350px">Vendor</th>
                                <th width="100px">Est Completion</th>
                                <th width="100px">Amount</th>
                                <th width="100px">Gst</th>
                                <th width="100px">Total</th>
                            </tr>
                        </thead>
                        <tbody class="quotes-rec" data-itemid="@v.Id" data-itemInvId="@v.Id" data-itemttl="@v.Item_Name">
                            @if (Model.AppliedBids.Any())
                            {
                                int i = 1;
                                foreach (var item in Model.AppliedBids.Where(x => x.Bid_PurReqId == v.Id))
                                {
                                    string col = "";
                                    if (item.Bid_Finalized == true)
                                    {
                                        col = "bgc-green-50";
                                    }
                                    <tr class="exst-item-bid-info @col" data-bidIden="@item.Bid_Id" data-isfnl="@item.Bid_Finalized.ToString()">
                                        <td class="">
                                            @i
                                            @if (status)
                                            {
                                                if (item.Bid_Finalized == true)
                                                {
                                                    <i class="ti-check" style="color:green"></i>
                                                }
                                            }
                                            else
                                            {
                                                if (item.Bid_Finalized == true)
                                                {
                                                    <input type="checkbox" checked value="@item.Bid_Id" class="s-po-fin" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" value="@item.Bid_Id" class="s-po-fin" />
                                                }
                                            }
                                            <div class="s-quote-det"><i class="fa fa-plus-square"></i></div>
                                        </td>
                                        <td class=" wid-10">@item.Bid_Vendor_Name</td>
                                        <td class="">@item.BidQty / @item.Bid_UOM</td>
                                        <td>@string.Format("{0:0,0.##}", item.Bid_Pur_Rate)</td>
                                        <td>@string.Format("{0:0,0.##}", ((item.Tax == null)?0:item.Tax))</td>
                                        <td class="item-ttl"><span class="ccy">@item.Currency</span> @string.Format("{0:0,0.##}", (item.Bid_Pur_Rate * item.BidQty) + ((item.Tax == null)?0:item.Tax))</td>
                                    </tr>
                                    if (!string.IsNullOrEmpty(item.Bid_Desc) && !string.IsNullOrWhiteSpace(item.Bid_Desc))
                                    {
                                        <tr>
                                            <td colspan="4"><b>Remarks: </b> @item.Bid_Desc</td>
                                        </tr>
                                    }
                                    <tr style="display:none" class="quot-deta-@item.Bid_Id">
                                        <td colspan="3" class="term"></td>
                                        <td colspan="3" class="quo"></td>
                                    </tr>
                                    i++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="2">No Quotations are Added yet</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        <div class="total-val demo bottomright">
            Grand Total : <span class="ccy">@Model.AppliedBids.Select(x => x.Currency).FirstOrDefault() </span>@string.Format("{0:0,0.##}", Model.AppliedBids.Where(x => x.Bid_Finalized == true).Sum(x => x.TotalVal))
        </div>
        @*<div class="row">
                <div class="col-md-12">

                    @*<h6 style="text-align:right" id="total-val">Grand Total - <span class="ccy">Rs. </span>@string.Format("{0:0,0.##}", Model.AppliedBids.Where(x => x.Bid_Finalized == true).Sum(x => x.TotalVal))</h6>
                </div>
            </div>*@
        <div class="col-md-12 mt-3">
            @if (status)
            {
                <h5 style="text-align:right">Quoations are Finalized</h5>
            }
            else
            {
                if (Model.AppliedBids.Any(x => x.PR_Status == MeherEstateDevelopers.Models.PurchaseRequisitionStatus.Pending.ToString()))
                {
                    <h5>In Quotations Process</h5>
                }
                else
                {
                    if (Model.PurchaseRequistionDetails.FirstOrDefault().Status == MeherEstateDevelopers.Models.PurchaseRequisitionStatus.Demand_Approval.ToString())
                    {
                        <h5>Sent to Requestor Department</h5>
                    }
                    else
                    {
                        <button type="button" style="float:left" data-status="Pending" data-type="Service" class="btn btn-danger quo-s-bk">Send Back to Procurement</button>
                        <button type="button" style="float:right" class="btn btn-info quo-fina-ser">Finalize Quotations</button>
                    }
                }
            }
        </div>
    }
    else
    {
        <div class="col-md-12">
            <h5>It appears to have occurred some sort of error. Please try again or contact SA Systems Team.</h5>
        </div>
    }
</div>
<script>

    $(document).on("click", ".s-po-fin", function () {
        var ttl_val = 0;
        var id = $(this).val();
        var stat = $(this).is(":checked");
        $.post("/Services/MarkQuotation_SC/", { Id: id, Status: stat, Remarks: "" }, function () {
            $(".s-po-fin").each(function () {
                if ($(this).is(":checked")) {
                    var id = RemoveComma($(this).closest('tr').find('.item-ttl').text());
                    ttl_val += Number(id);
                }
            });

            $(".total-val").text("Grand Total - Rs. " + Number(ttl_val).toLocaleString());
        });
    });
</script>
<style>
    tr th {
        font-size: 13px;
        padding: 5px !important;
    }

    .thTextHeading {
        color: #FFF;
        background-color: #212529;
    }

    .centralText {
        text-align: center;
    }

    .po-fin {
        float: right;
        margin-top: 10px;
    }

    .bottomright {
        position: fixed;
        bottom: 0px;
        right: 0px;
    }

    .demo {
        background-color: white;
        border: 1px solid blue;
        box-shadow: rgba(0,0,0,0.8) 0 0 10px;
        border-radius: 5px;
        padding: 20px;
        margin: 4% 1% 4% 4%;
        font-weight: bold;
        z-index: 999999
    }
</style>

