@model IEnumerable<MeherEstateDevelopers.Models.Inventory_Stock_In>
<style type="text/css">
    .ritz .waffle a {
        color: inherit;
    }

    .ritz .waffle .s48 {
        text-align: right;
        font-weight: bold;
        color: #333f4f;
        font-family: 'docs-Roboto',Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s4 {
        text-align: right;
        font-weight: bold;
        color: #4472c4;
        font-family: 'docs-Roboto',Arial;
        font-size: 22pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s2 {
        text-align: left;
        font-weight: bold;
        color: #a5a5a5;
        font-family: 'docs-Roboto',Arial;
        font-size: 20pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s35 {
        border-bottom: 1px SOLID #bfbfbf;
        border-right: 1px SOLID #bfbfbf;
        background-color: #f3f3f3;
        text-align: right;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s9 {
        text-align: center;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s31 {
        border-bottom: 1px SOLID #bfbfbf;
        border-right: 1px SOLID #bfbfbf;
        text-align: center;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s28 {
        border: 1px SOLID;
        text-align: center;
        font-weight: bold;
        color: #434343;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s11 {
        text-align: left;
        color: #333f4f;
        font-family: 'docs-Roboto',Arial;
        font-size: 11pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s5 {
        text-align: left;
        color: #434343;
        font-family: 'docs-Roboto',Arial;
        font-size: 18pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s27 {
        border: 1px SOLID;
        text-align: center;
        font-weight: bold;
        color: #434343;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s36 {
        text-align: left;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s0 {
        background-color: #fff2cc;
        text-align: left;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s44 {
        border-left: none;
        text-align: right;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s14 {
        text-align: center;
        font-weight: bold;
        color: #1f3864;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s19 {
        text-align: right;
        font-weight: bold;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: top;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s20 {
        text-align: left;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: top;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s54 {
        text-align: center;
        font-style: italic;
        color: #333f4f;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s7 {
        text-align: left;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s3 {
        text-align: left;
        font-weight: bold;
        color: #4472c4;
        font-family: 'docs-Roboto',Arial;
        font-size: 22pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s8 {
        text-align: left;
        color: #434343;
        font-family: 'docs-Roboto',Arial;
        font-size: 11pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s33 {
        border-bottom: 1px SOLID #bfbfbf;
        border-right: 1px SOLID #bfbfbf;
        background-color: #f3f3f3;
        text-align: left;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s38 {
        text-align: right;
        font-weight: bold;
        color: #333f4f;
        font-family: 'docs-Roboto',Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s50 {
        text-align: left;
        font-weight: bold;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s12 {
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s21 {
        text-align: right;
        font-style: italic;
        color: #333f4f;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: top;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s52 {
        border-bottom: 1px SOLID #999999;
        text-align: left;
        font-weight: bold;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s6 {
        text-align: right;
        font-weight: bold;
        color: #666666;
        font-family: 'docs-Roboto',Arial;
        font-size: 19pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s30 {
        border: 1px SOLID;
        text-align: center;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s41 {
        text-align: left;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s43 {
        border-left: none;
        text-align: right;
        font-weight: bold;
        color: #333f4f;
        font-family: 'docs-Roboto',Arial;
        font-size: 8pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s29 {
        border-right: 1px SOLID #bfbfbf;
        text-align: left;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s57 {
        text-align: center;
        color: #333f4f;
        font-family: 'docs-Roboto',Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s26 {
        border-right: 1px SOLID #999999;
        text-align: left;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s1 {
        text-align: left;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s34 {
        border-bottom: 1px SOLID #bfbfbf;
        border-right: 1px SOLID #bfbfbf;
        background-color: #f3f3f3;
        text-align: center;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s39 {
        text-align: right;
        font-weight: bold;
        color: #333f4f;
        font-family: 'docs-Roboto',Arial;
        font-size: 8pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s24 {
        border-bottom: 1px SOLID #999999;
        text-align: left;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s49 {
        border-bottom: 1px SOLID #000000;
        text-align: right;
        font-weight: bold;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s40 {
        border-bottom: 1px SOLID #bfbfbf;
        text-align: right;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s37 {
        text-align: left;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s46 {
        border-bottom: 1px SOLID #000000;
        text-align: right;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s18 {
        text-align: left;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s56 {
        text-align: left;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s22 {
        text-align: right;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s53 {
        text-align: left;
        color: #333f4f;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s47 {
        text-align: center;
        color: #333f4f;
        font-family: 'docs-Roboto',Arial;
        font-size: 18pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s15 {
        border-bottom: 1px SOLID #bfbfbf;
        text-align: left;
        font-weight: bold;
        color: #1f3864;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s17 {
        text-align: left;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 11pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s25 {
        border-bottom: 1px SOLID #999999;
    }

    .ritz .waffle .s10 {
        text-align: right;
        color: #7f7f7f;
        font-family: 'docs-Roboto',Arial;
        font-size: 18pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s23 {
        text-align: left;
        color: #1f3864;
        font-family: 'docs-Roboto',Arial;
        font-size: 11pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s51 {
        text-align: center;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 12pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s45 {
        border-bottom: 1px SOLID #000000;
        text-align: right;
        font-weight: bold;
        color: #333f4f;
        font-family: 'docs-Roboto',Arial;
        font-size: 8pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s42 {
        border-right: none;
        text-align: right;
        font-weight: bold;
        color: #333f4f;
        font-family: 'docs-Roboto',Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s13 {
        text-align: center;
        color: #ffffff;
        font-family: 'docs-Roboto',Arial;
        font-size: 11pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s55 {
        text-align: center;
        color: #333f4f;
        font-family: 'docs-Roboto',Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    .ritz .waffle .s16 {
        text-align: right;
        font-weight: bold;
        color: #000000;
        font-family: 'docs-Roboto',Arial;
        font-size: 9pt;
        vertical-align: middle;
        white-space: nowrap;
        direction: ltr;
        padding: 0px 3px 0px 3px;
    }

    table {
        table-layout: fixed;
    }

    td {
        word-wrap: break-word;
    }

    @@media print {
        @@Page {
            size: A4
        }

        tfoot {
            position: fixed;
            bottom: 0;
        }
    }
</style>

<div class="ritz grid-container" dir="ltr">
    <table class="waffle no-grid" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th width="20px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
                <th width="50px"></th>
            </tr>
        </thead>
        <tbody>
            <tr style='height:18px;'>
                <td colspan="21" style="text-align:center">
                    <img width="200" height="100" src="~/assets/static/images/SagVoucher/customer.jpg" />
                </td>
            </tr>
            <tr style='height:18px;'>
                <td class="s6" colspan="21" style="text-align:center">
                    Delivery Note
                </td>
            </tr>
            <tr style='height:18px;'>
                @{
                    string text = (ViewBag.Prjoffsite == null) ? "" : " - Offsite";
                }
                <td class="s12" colspan="21" style="text-align:center">@ViewBag.PrjName @(text)  </td>
            </tr>
            <tr style='height:18px;'>
                <td class="s5" colspan="11">@Model.Select(x => x.Vendor_Name).FirstOrDefault()</td>
                <td class="s6" colspan="10"> @ViewBag.grn</td>
            </tr>
            <tr style='height:18px;'>
                <td class="s8" colspan="11">Department: @Model.Select(x => x.Dep_Name).FirstOrDefault()</td>
                <td class="s17" colspan="10" style="text-align:right">PO# : @Model.Select(x => x.PO_Number).FirstOrDefault()</td>
            </tr>
            <tr style='height:18px;'>
                <td class="s12" colspan="11"></td>
                <td class="s17" colspan="10" style="text-align:right">Date: @DateTime.Now.ToShortDateString()</td>
            </tr>
            <tr style='height:18px;'>
                <td colspan="21"></td>
            </tr>
            <tr style='height:23px;'>
                <td colspan="21"></td>
            </tr>
            <tr style='height:23px;'>
                <td colspan="21"></td>
            </tr>
            <tr style='height:30px;'>
                <td class="s27">Sr.</td>
                <td class="s27" colspan="16">DESCRIPTION</td>
                <td class="s28" colspan="2">UOM</td>
                <td class="s28" colspan="2">Qty</td>
            </tr>
            <tr style='height:30px;'><td class="s30"><td class="s30" colspan="16"><td class="s30" colspan="2"><td class="s30" colspan="2"></tr>
            @{
                int count = 1;}
            @foreach (var v in Model)
            {
                <tr style='height:30px;'><td class="s30">@(count++).</td><td class="s30" colspan="16">@v.Item_name</td><td class="s30" colspan="2">@v.UOM</td><td class="s30" colspan="2">@v.Qty</td></tr>
            }
            <tr style='height:30px;'><td class="s30"><td class="s30" colspan="16"><td class="s30" colspan="2"><td class="s30" colspan="2"></tr>
            <tr style='height:30px;'><td class="s30"><td class="s30" colspan="16"><td class="s30" colspan="2"><td class="s30" colspan="2"></tr>
            <tr style='height:30px;'><td class="s30"><td class="s30" colspan="16"><td class="s30" colspan="2"><td class="s30" colspan="2"></tr>
            <tr style='height:30px;'><td class="s30"><td class="s30" colspan="16"><td class="s30" colspan="2"><td class="s30" colspan="2"></tr>
            <tr style='height:44px;'></tr>
            <tr style='height:60px;'>
                <td colspan="21"></td>
            </tr>
            <tr style='height:18px;'>
                <td colspan="21"></td>
            </tr>
            <tr style='height:18px;'>
                <td colspan="21"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4" style="text-align:center;width:250px">Prepared By<br />@ViewBag.username</th>
                <th colspan="4" style="text-align:center;width:250px"><br /></th>
                <th colspan="4" style="text-align:center;width:250px">@*Delivered By<br />@Model.Select(x => x.QualityCheck_By_Name).FirstOrDefault()*@</th>
                <th colspan="4" style="text-align:center;width:250px"></th>
                <th colspan="4" style="text-align:center;width:250px">Delivered By<br />@Model.Select(x => x.QualityCheck_By_Name).FirstOrDefault()</th>
            </tr>
        </tfoot>
    </table>
</div>



