@model IEnumerable<MeherEstateDevelopers.Models.Stock_Out_Details>
<script src="~/Scripts/Inv.js"></script>
@{ if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<div class="bgc-white bd bdrs-3 p-20 mB-20">
    <div class="row">
        <div class="col-md-12">
            <h4 style="text-align:center">Issuance Supervision</h4>
        </div>
    </div>
    <div class=" mt-2 bgc-white" id="dep-inv">
        <table class="table table-bordered potbl">
            <thead class="thead-dark">
                <tr>
                    <th>Month</th>
                    <th>Department</th>
                    <th width="10%">Project</th>
                    <th width="10%">Demand No.</th>
                    <th width="10%">Issue Note</th>
                    <th width="10%">Date</th>
                    <th width="50%">Items</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var g in Model.GroupBy(x => new { x.Inv.Dep_Name, x.Inv.Prj_Name, x.Inv.Group_Id, x.Inv.IssueNote_No, x.DemandOrder_No, x.Inv.IssuedBy_Date}).OrderByDescending(x => x.Key.IssuedBy_Date.Value.Year).ThenByDescending(x => x.Key.IssuedBy_Date.Value.Month).ThenBy(x => x.Key.Dep_Name).ThenByDescending(x => x.Key.IssuedBy_Date).ToList())
                    {
                        <tr id="@g.Key.IssueNote_No" class=" pointer sup-iss">
                            <td>@string.Format("{0:MMMM - yyyy}", g.Key.IssuedBy_Date)</td>
                            <td>@g.Key.Dep_Name</td>
                            <td>@g.Key.Prj_Name</td>
                            <td>@g.Key.DemandOrder_No</td>
                            <td>@g.Key.IssueNote_No</td>
                            <td>@string.Format("{0:dd-MMM-yyyy}", g.Key.IssuedBy_Date)</td>
                            <td class="tdscrol">
                                <table class="table" style="margin-bottom:0px; border:none">
                                    <thead>
                                        <tr>
                                            <th width="10%">Sr</th>
                                            <th width="50%">Item</th>
                                            <th width="20%">Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int ii = 1;}
                                        @foreach (var item in g)
                                        {
                                            <tr>
                                                <td>@ii</td>
                                                <td>@item.Item_Name</td>
                                                <td>@string.Format("{0:0,0.##}", item.Inv.Qty) / @item.UOM</td>
                                            </tr>
                                            ii++;
                                        }
                                    </tbody>
                                </table>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">No Record Exists</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
