@model MeherEstateDevelopers.Models.PendingPurchaseorder
<table class="table table-bordered potbl">
    <thead class="thead-dark">
        <tr>
            <th>Month</th>
            <th>Department</th>
            <th>Project</th>
            <th>Po#</th>
            <th>Date</th>
            <th>Pending Days</th>
            <th>Vendor</th>
            <th>Total PO Value</th>
            <th>Items</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PO.Any())
        {
            foreach (var po in Model.PO.GroupBy(x => new { x.Dep_Name , x.Prj_Name, x.Group_Id, x.PO_Number, x.DateTime, x.Vendor_Name }).OrderByDescending(x => x.Key.DateTime.Value.Year).ThenByDescending(x=> x.Key.DateTime.Value.Month).ThenBy(x => x.Key.Dep_Name).ThenByDescending(x => x.Key.DateTime).ToList())
            {
                decimal? Receivedval = 0;
                foreach (var a in po)
                {
                    var it = Model.GRN.Where(x => x.Item_Id == a.Item_Id && x.PO_Number == po.Key.PO_Number).FirstOrDefault();
                    if (it != null)
                    {
                        Receivedval += it.R_Qty * a.Purchase_Rate;
                    }
                }
                if (Receivedval > 0)
                {
                    continue;
                }
                var remdays = (DateTime.Now.Date - po.Key.DateTime.Value.Date).TotalDays;
                <tr id="@po.Key.PO_Number" class=" pointer ser-po">
                    <td>@string.Format("{0:MMMM - yyyy}", po.Key.DateTime)</td>
                    <td>@po.Key.Dep_Name</td>
                    <td>@po.Key.Prj_Name</td>
                    <td class=" rec-item">@po.Key.PO_Number</td>
                    <td>@string.Format("{0:dd-MMM-yyyy}", po.Key.DateTime)</td>
                    <td>@remdays Days</td>
                    <td>@po.Key.Vendor_Name</td>
                    <td>@string.Format("{0:n0}", po.Sum(x => x.TotalVal))</td>
                    <td class="tdscrol">
                        <table class="table" style="margin-bottom:0px; border:none">
                            <thead>
                                <tr>
                                    <th width="5%">Sr</th>
                                    <th width="50%">Item</th>
                                    <th width="10%">Qty</th>
                                    <th width="10%">UOM</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{ int i = 1;}
                                @foreach (var v in po)
                                {
                                    <tr class="">
                                        <td>@i</td>
                                        <td>@v.Item_Name</td>
                                        <td>@string.Format("{0:0,0.##}", v.Qty)</td>
                                        <td>@v.UOM</td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                
                <td colspan="9">No Record Exists</td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(function () {
        $(".potbl").DataTable({
            //rowGroup: { dataSrc: [0, 1] },
            //columnDefs: [{ targets: 5, type: "date-eu" }],
            //columnDefs: [{ targets: [1, 0], visible: false }],
            ordering: false,
            dom: 'Bfrtip'
        });
    });
</script>