@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_PendingPayments_Result>
@{ if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<div class=" bgc-white bd bdrs-3 p-20 mB-20 row">
    <div class="col-md-12">
        <h5 style="text-align:center">Pending Journal Entries for Supervision</h5>
    </div>
    <div class="col-md-12">
        <table id="pend" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead class="thead-dark">
                <tr>
                    <th width="5%" class="textcenter" >Sr.</th>
                    <th width="50%" class="textcenter">Details</th>
                    <th width="10%" class="textcenter">Amount</th>
                    <th width="10%" class="textcenter">Recorded By</th>
                    <th width="10%" class="textcenter">Date</th>
                    <th width="3%" class="textcenter"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Any())
                    {
                        int srcounter = 1;
                        foreach (var item in Model.GroupBy(x => new { x.GroupId, x.DATE, x.Rec_Name, }).OrderByDescending(x=> x.Key.DATE))
                        {
                            <tr class="pointer" id="@item.Key.GroupId">
                                <td  class="textcenter">@srcounter</td>
                                <td class="vouc-det zer-pad">
                                    <table id="in-tab" width="100%">
                                        <tr>
                                            <th width="50%">Narration</th>
                                            <th width="10%">Code</th>
                                            <th width="20%">Head</th>
                                            <th width="10%">Debit</th>
                                            <th width="10%">Credit</th>
                                        </tr>
                                        @foreach (var g in item.GroupBy(x => new { x.Line, x.Naration }))
                                        {
                                            int count = 1;
                                            foreach (var gg in g)
                                            {
                                                if (count == 1)
                                                {
                                                    <tr>
                                                        <td rowspan="@g.Count()">@gg.Naration</td>
                                                        <td>@gg.Head_Code</td>
                                                        <td>@gg.Head_Name</td>
                                                        <td>@string.Format("{0:n0}", gg.Debit) </td>
                                                        <td>@string.Format("{0:n0}", gg.Credit) </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>@gg.Head_Code</td>
                                                        <td>@gg.Head_Name</td>
                                                        <td>@string.Format("{0:n0}", gg.Debit) </td>
                                                        <td>@string.Format("{0:n0}", gg.Credit) </td>
                                                    </tr>
                                                }
                                                count++;
                                            }
                                            <tr><td colspan="5" style="padding: 0px;border: 1px solid black;"></td></tr>
                                        }
                                    </table>
                                </td>
                                <td  class="textcenter"><span class="ccy">Rs. </span> @string.Format("{0:n0}", item.Sum(x => x.Credit))</td>
                                <td class="textcenter">@item.Key.Rec_Name</td>
                                <td class="textcenter">@string.Format("{0:dd-MMM-yyyy}", item.Key.DATE)</td>
                                <td style="z-index:11111111">
                                    <ul style="list-style:none;margin-left:0px;">
                                        <li class="dropdown">
                                            <a href="" class="dropdown-toggle no-after peers " data-toggle="dropdown">
                                                <i class="ti-more-alt  c-grey-900" style="transform:rotate(90deg);"></i>
                                            </a>
                                            <ul class="dropdown-menu" style="padding:10px;width:auto !important">
                                                <li><a style="z-index:111111111" id="@item.Key.GroupId" class="pointer rev-ent"><span>Revert Back</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            srcounter++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#pend').DataTable({
            ordering: false
        });
    });
</script>
<style>
    /*#pend table td {
        text-align: center;
        vertical-align: middle;
    }*/

    #in-tab table, #in-tab tbody, #in-tab tr {
        background-color: transparent;
    }
</style>