@model  IEnumerable<MeherEstateDevelopers.Models.Sp_Get_GeneralEntries_Parameter_Result>
@{ if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
    int count = 1;

}
<style>
    .paymentotherinfo {
        display: none;
    }

    #inst-stat {
        height: 1245px;
        overflow-y: scroll;
    }

    img.scanned {
        height: 200px; /** Sets the display size */
        /*margin-right: 12px;*/
        float: left;
    }

    div#images {
        margin-top: 20px;
        text-align: center;
    }
</style>
<div class="bgc-white bd bdrs-3 p-20 mB-20">
    <h4 style="text-align:center">General Entry</h4>
    @if (Model.Select(x => x.Status).FirstOrDefault() is null)
    {
        <input type="hidden" value="@Model.Select(x=> x.GroupId).FirstOrDefault()" id="trans-id" />
        <hr />
        <div class="row" id="ad-iven-stock">
            @foreach (var g in Model.GroupBy(x => new { x.Naration, x.Qty, x.UOM, x.Rate, x.Line }))
            {
                <div class="col-md-12 cal" id="add-inv-@count">
                    <div class="form-row">
                        <span class="add-inven-counter" style="margin-top: 35px;font-size: 15px;width:35px">@count.</span>
                        <div class="form-group col-md-4">
                            <label>Description</label>
                            <input type="text" class="form-control Name" maxlength="250" value="@g.Key.Naration" name="Name" data-id="@count" required />
                        </div>
                        <div class="form-group col-md-1">
                            <label>Quantity</label>
                            <input class="form-control coma" placeholder="12,345" value="@string.Format("{0:0,0.##}",g.Key.Qty)" required>
                            <input type="hidden" id="" name="Quantity" class="amt Quantity rate-calc" value="@g.Key.Qty" data-id="@count" required>
                        </div>
                        <div class="form-group col-md-1">
                            <label>UOM</label>
                            <select style="padding:5px" class="form-control Measurement meas-che" name="Measurement" data-id="@count">
                                <option value="-">N/A</option>
                                <option value="Kg">Kg</option>
                                <option value="Piece">Piece</option>
                                <option value="Bag">Bag</option>
                                <option value="Liter">Liter</option>
                            </select>
                            <script>
                            var a = "@g.Key.UOM";
                            $("#add-inv-@count .meas-che").val(a);
                            </script>
                        </div>
                        <div class="form-group col-md-1">
                            <label>Rate</label>
                            <input class="form-control coma" placeholder="12,345" value="@string.Format("{0:0,0.##}",g.Key.Rate)" required>
                            <input type="hidden" id="" name="Rate" class="amt Rate inv-rate rate-calc" value="@g.Key.Rate" data-id="@count" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Amount</label>
                            <input type="text" class="form-control coma p-r-c rate-calc" placeholder="Amount" value="@string.Format("{0:0,0.##}", g.Sum(x=> x.Debit))">
                            <input type="hidden" id="" name="Quantity" class="amt Rate Purchase_Rate" data-id="1" value="@g.Sum(x=> x.Debit)" required>
                        </div>
                        <i class="ti-plus pointer add-ven-pay-de" style="margin-top: 35px;font-size: 20px;font-weight: bold;margin-left: 2%;"></i>
                    </div>
                    <div class="form-row">
                        <span style="width:35px"></span>
                        <div class="col-md-4"></div>
                        <div class="col-md-3"><h6>Head</h6></div>
                        <div class="col-md-1"><h6>Debit</h6></div>
                        <div class="col-md-1"><h6>Credit</h6></div>
                    </div>


                    <div class="dr-line">
                        @foreach (var item in g.Where(x => x.Debit > 0))
                        {
                            <div class="form-row dr-row dr-row-1" id="@item.Id">
                                <span style="width:35px"></span>
                                <div class="form-group col-md-4"><i class="ti-plus  add-dr-row" style="float:right;margin-top:10px;font-size:12px"></i></div>
                                <div class="form-group col-md-3">
                                    <select class="form-control acc-head searchbox" data-id="1">
                                        <option value="@item.Id">@item.Head</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-1">
                                    <input type="text" class="form-control coma " value="@string.Format("{0:0,0.##}",item.Debit)" placeholder="Amount">
                                    <input type="hidden" id="" class="amt Rate dr" value="@item.Debit" data-id="1" required>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="cr-line">
                        @foreach (var item in g.Where(x => x.Credit > 0))
                        {
                            <div class="form-row cr-row cr-row-1" id="@item.Id">
                                <span style="width:35px"></span>
                                <div class="form-group col-md-4"><i class="ti-plus add-cr-row" style="float:right;margin-top:10px;font-size:12px"></i></div>
                                <div class="form-group col-md-3">
                                    <select class="form-control acc-head searchbox" data-id="1">
                                        <option value="@item.Id">@item.Head</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-1">
                                    <input type="text" class="form-control coma " value="@string.Format("{0:0,0.##}",item.Credit)" placeholder="Amount">
                                    <input type="hidden" id="" class="amt Rate cr" value="@item.Credit" data-id="1" required>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                count++;
            }
        </div>
        <hr />
        <div class="form-row">
            <span style="width:35px"></span>
            <div class="form-group col-md-7">
                <h4 style="padding-top:1%;float:right">Total</h4>
            </div>
            <div class="form-group col-md-2">
                <input class="form-control coma f-amt" value="@string.Format("{0:0,0.##}", Model.Sum(x=> x.Debit))" placeholder="12,345" required readonly>
                <input type="hidden" id="amt" name="Amount" class="amt" value="@Model.Sum(x=> x.Debit)" required readonly>
            </div>
            <div class="form-group col-md-1"></div>
        </div>
        <div><button class="btn btn-primary up-rec-ent">Update Entries</button></div>
    }
    else
    {
        <h5>Already Updated the record</h5>
    }
</div>
<script>
    $(document).ready(function () {
        $('.searchbox').select2({
            //dropdownParent: $('#Modal'),
            placeholder: "Search for Head",
            ajax: {
                url: '/AccountHeads/GetHead/',
                dataType: 'json',
                params: {
                    contentType: 'application/json; charset=utf-8'
                },
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                text: item.Parent,
                                children: [{
                                    id: item.id,
                                    text: item.text + ' - ' + item.head
                                }]
                            }
                        })

                    };

                }
            }
        });
        InventoryCounter = @count;
    });
    $('.hidn_member_trm_pay').hide();
</script>