@model IEnumerable<MeherEstateDevelopers.Models.Inventory_PurchaseOrder>
@{
    var group = Model.Select(x => x.Group_Id).FirstOrDefault();
    var vendor = Model.Select(x => x.Vendor_Id).FirstOrDefault();
    var vendor_Name = Model.Select(x => x.Vendor_Name).FirstOrDefault();
    var bid_id = Model.Select(x => x.Bid_Id).FirstOrDefault();
    var PO_num = Model.Select(x => x.PO_Number).FirstOrDefault();
    var PO_date = Model.Select(x => x.DateTime).FirstOrDefault();
    var Dep_Id = Model.Select(x => x.Dep_Id).FirstOrDefault();
    var Dep_Name = Model.Select(x => x.Dep_Name).FirstOrDefault();
    var Prj_Id = Model.Select(x => x.Prj_Id).FirstOrDefault();
    var Prj_Name = Model.Select(x => x.Prj_Name).FirstOrDefault();
}
@{ if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<div class="bgc-white bd bdrs-3 p-20 mB-20">
    <div class="col-md-12">
        <div class="col-md-10">
            <input type="hidden" value="@ViewBag.Transaction" class="trans-id" />
            <input type="hidden" value="@group" class="grpId" />
            <input type="hidden" class="form-control Bid_Number" name="Bid_Number" placeholder="Bid Number" readonly value="@bid_id">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Vendor</label>
                    <h5>@vendor_Name</h5>
                    <input type="hidden" id="vendors" value="@vendor_Name" />
                    <input type="hidden" id="vendId" value="@vendor" />
                </div>
                <div class="form-group col-md-2">
                    <label>PO Number</label>
                    <h5>@PO_num</h5>
                    <input type="hidden" class="PO_Number" name="PO_Number" value="@PO_num">
                </div>
                <div class="form-group col-md-2">
                    <label>PO Date</label>
                    <h5>@string.Format("{0:dd-MMM-yyyy}", PO_date)</h5>
                    <input type="hidden" class="PO_Date" placeholder="mm/dd/yyyy" name="PO_Date" value="@Model.Select(x=>x.DateTime).FirstOrDefault().Value.ToShortDateString()">
                </div>
                <div class="form-group col-md-2">
                    <label>Department</label>
                    <h5>@Dep_Name</h5>
                    <input type="hidden" id="dep-name" value="@Dep_Name">
                    <input type="hidden" id="dep-id" value="@Dep_Id">
                </div>
                <div class="form-group col-md-2">
                    <label>Project</label>
                    <h5>@Prj_Name</h5>
                    <input type="hidden" id="prj-name" value="@Prj_Name">
                    <input type="hidden" id="prj-id" value="@Prj_Id">
                </div>
                <div class="form-group col-md-3" style="display: block;">
                    <label>Delivered By</label>
                    @Html.DropDownList("Employees", null, "Choose..", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    <hr />

    @if (Model.Any())
    {
        int sr = 1;
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="10px">Sr.</th>
                    <th>Item</th>
                    <th width="100px">PO Qty</th>
                    <th width="100px">Delivered Qty</th>
                    <th width="100px">Qty</th>
                    <th width="120px">UOM</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model.Where(x=> x.OtherCharges == null))
                {
                    <tr class="main-inv-rec cal">
                        <input type="hidden" class="po-id" value="@v.Id" />
                        <input type="hidden" class="inv-rate" value="@v.Purchase_Rate" />
                        <td>@(sr++)</td>
                        <td class="invs" data-slval='@v.Item_Id'>@v.Item_Name</td>
                        <td class="ttl-qty">@v.Qty</td>
                        <td class="rcvd-qty">@((v.ReceivedQuantity is null) ? "0" : v.ReceivedQuantity.ToString())</td>
                        <td>
                            @{  
                                var rcqty = (v.ReceivedQuantity is null) ? 0 : v.ReceivedQuantity;
                            }
                            <input type="number" class="form-control qty" value="@( v.Qty - rcqty )">
                        </td>
                        <td>@v.UOM</td>
                        <td>
                            <textarea class="form-control rems" placeholder="remarks" rows="3" cols="5" style="resize:none"></textarea>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <div class="foot-row row">
        <div class="col-md-12 mt-md-2">
            <div class="col-md-2 righty">
                <button class="btn btn-success save-to-inv-de">Generate Delivery Note</button>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<script>

    $('.save-to-inv-de').click(function () {
        
        let trans = $('.trans-id').val();
        var itemsData = [];
        $('.main-inv-rec').each(function () {
            let bidId = $('.Bid_Number').val();
            let grp = $('.grpId').val();
            let venId = $('#vendId').val();
            let venName = $('#vendors').val();
            let dep_id = $('#dep-id').val();
            let dep_name = $('#dep-name').val();
            let prj_id = $('#prj-id').val();
            let prj_name = $('#prj-name').val();

            let emp = $('#Employees option:selected').val();
            let emp_nam = $('#Employees option:selected').text();


            let itemId = $(this).find('.invs').attr('data-slval');
            let itemnm = $.trim($(this).find('.invs').text());

            let poid = $(this).find('.po-id').val();
            let poNum = $.trim($('.PO_Number').val());
            let qty = $(this).find('.qty').val();
            let rate = $(this).find('.inv-rate').val();
            let rems = $(this).find('.rems').val();

            itemsData.push({
                Item_Id: itemId,
                Group_Id: grp,
                Qty: qty,
                Rate: rate,
                Vendor_Id: venId,
                Vendor_Name: venName,
                Remarks: rems,
                PO_Id: poid,
                PO_Number: poNum,
                Bid_Id: bidId,
                Item_name: itemnm,
                Dep_Id: dep_id,
                Dep_Name: dep_name,
                Prj: prj_id,
                Prj_Name: prj_name,
                QualityCheck_By: emp,
                QualityCheck_By_Name: emp_nam
            });

        });
        if (confirm("Are you sure you want to Generate Delivery Note")) {
            $.ajax({
                type: "POST",
                url: "/Inventory/InventoryDelivery/",
                contentType: "application/json",
                traditional: true,
                beforeSend: function () {

                },
                complete: function () {

                },
                data: JSON.stringify({ items: itemsData, TransactionId: trans }),
            }).done(function (data) {
                if (data.Status == true) {
                    alert(data.Msg);
                    window.open('/Inventory/DeliveryNotePrint?Id=' + data.GRNS);
                    window.location.reload();
                }
                else {
                    alert(data.Msg);
                }
            });
        }


    });

    $(document).on('focusout', '.qty', function () {
        
        let qty = $(this).val();
        let rt = $.trim($(this).closest('.cal').find('.inv-rate').text());
        let rcvd = $.trim($(this).closest('.cal').find('.rcvd-qty').text());
        let mainQty = $.trim($(this).closest('.cal').find('.ttl-qty').text());
        if ((parseFloat(rcvd) + parseFloat(qty)) > parseFloat(mainQty)) {
            alert('Quantity error. Quantity cannot exceed PO quantity');
            qty = 0;
            $(this).val(0);
        }
        $(this).closest('.cal').find('.ttl-prc').text(qty * rt);
    });
</script>

<style>
    .centralText {
        text-align: center;
    }

    .warningText {
        position: absolute;
        left: 50%;
        right: 50%;
        /*font-size: 20px;*/
        animation-name: warning;
        animation-duration: .6s;
        animation-iteration-count: infinite;
    }

    @@keyframes warning {
        0% {
            font-size: 15px;
        }

        25% {
            font-size: 20px;
        }

        50% {
            font-size: 25px;
        }

        70% {
            font-size: 20px;
        }

        100% {
            font-size: 15px;
        }
    }
</style>
