@model MeherEstateDevelopers.Models.PO_Completed_With_GRN
<table class="table table-bordered potbl">
    <thead class="thead-dark">
        <tr>
            <th>Po#</th>
            <th>Project</th>
            <th>Date</th>
            <th>Vendor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PO_list.Any())
        {
            foreach (var po in Model.PO_list.GroupBy(x => new { x.Group_Id,x.Prj_Name ,x.PO_Number, x.DateTime, x.Vendor_Name }).ToList())
            {
                <tr>
                    <td class="pointer" data-po="@po.Key.PO_Number">
                        <a href="/Inventory/PrintPurchaseOrder?poNum=@po.Key.PO_Number" target="_blank"> @po.Key.PO_Number</a>
                        <br />
                        <br />
                        <a href="/Inventory/BidsListing?Group=@po.Key.Group_Id" target="_blank">Requisition Details</a>
                    </td>
                    <td>@po.Key.Prj_Name</td>
                    <td>@string.Format("{0:dd-MMM-yyyy}", po.Key.DateTime)</td>
                    <td>@po.Key.Vendor_Name</td>
                    <td class="tdscrol">
                        <table class="table" style="margin-bottom:0px; border:none">
                            <thead>
                                <tr>
                                    <th width="50px">GRN</th>
                                    <th width="50px">Date</th>
                                    <th width="250px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var v in Model.GRN.Where(x => x.PO_Number == po.Key.PO_Number).GroupBy(x => new { x.GRN, x.St_Date }))
                                {
                                    int ii = 1;
                                    <tr class="">
                                        <td><a href="/Inventory/GoodReceiveNotePrint?Id=@v.Key.GRN" target="_blank">@v.Key.GRN</a> </td>
                                        <td>@string.Format("{0:dd-MMM-yyyy}", v.Key.St_Date)</td>
                                        <td class="tdscrol">
                                            <table class="table" style="margin-bottom:0px; border:none">
                                                <thead>
                                                    <tr>
                                                        <th style="max-width:50px">Sr</th>
                                                        <th>Item</th>
                                                        <th>Qty</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in v)
                                                    {
                                                        <tr>
                                                            <td>@ii</td>
                                                            <td>@item.Complete_Name</td>
                                                            <td>@item.R_Qty</td>
                                                        </tr>
                                                        ii++;
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">No Record Exists</td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(function () {
        $(".potbl").DataTable({
            ordering: false
        });
    });
</script>