@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_DealLedger_Result>
@{
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
    string[] userid = { "Muhammad Mujtabah Syed", "Asim Razzaq Butt" };
}
<div class=" bgc-white bd bdrs-3 p-20 mB-20 row">
    <div class="col-md-12">
        <h2>Deals Report</h2>
    </div>
    <div class="col-md-12 " id="SAMLeads">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                @foreach (var item in Model.GroupBy(x => x.Created_By))
                {
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" data-lead="1" aria-controls="home" aria-selected="true" href="#@item.Key.Replace(" ","_")">@item.Key</a></li>
                }
            </ul>
            <div class="tab-content">
                @foreach (var gg in Model.GroupBy(x => x.Created_By))
                {
                    <div id="@gg.Key.Replace(" ","_")" class="tab-pane">
                        <div class="p-20">
                            <table id="allleadss" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead class="thead-dark">
                                    <tr>
                                        <th width="20%">Date</th>
                                        <th width="20%">Receipt/Voucher No</th>
                                        <th width="20%">Block</th>
                                        <th width="20%">Plot Number</th>
                                        <th width="20%">Plot Type</th>
                                        <th width="20%">Deal Type</th>
                                        <th width="20%">Payment Type</th>
                                        <th width="20%">Cheque No</th>
                                        <th width="20%">Debit</th>
                                        <th width="20%">Credit</th>
                                        <th width="20%">Balance</th>
                                        <th width="20%">Name</th>
                                        <th width="20%">Contact</th>
                                        <th width="20%">Cashier</th>
                                        <th width="20%">Created By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.Any())
                                        {
                                            foreach (var g in gg.OrderBy(x=> x.Type).ThenBy(x=> x.Block).ThenBy(x=> x.Plot_num).GroupBy(x => x.Lead))
                                            {
                                                decimal? Balance = 0;
                                                foreach (var item in g.OrderBy(x=> x.DATETIME))
                                                {
                                                    decimal? debit = 0;
                                                    debit = (item.Status == "Approved" || ((item.Status == "Pending" || item.Status == null) && item.PaymentType == "Cash") ) ? item.Debit : 0;
                                                    if (item.Receipt_Type != "Direct Payment")
                                                    {
                                                        Balance += debit - item.Credit;
                                                    }

                                                    string col = "";
                                                    if (item.Status == "Approved")
                                                    {
                                                        col = "bgc-green-50";
                                                    }
                                                    else if (item.Status == "Dishonored")
                                                    {
                                                        col = "bgc-green-50";
                                                    }
                                                    else if (item.Status == "Pending" && item.PaymentType != "Cash")
                                                    {
                                                        col = "bgc-yellow-50";
                                                    }
                                                    if (item.Receipt_Type == "Direct Payment")
                                                    {
                                                        col = "bgc-purple-50";
                                                    }
                                                    <tr class="pointer @col" id="@item.Lead" data-type="@item.Lead_Deal">
                                                        <td>@string.Format("{0:dd-MMM-yyyy}", item.DATETIME)</td>
                                                        <td>@item.Receipt_Voucher_No</td>
                                                        <td>@item.Block</td>
                                                        <td class="pl-ld">@item.Plot_num</td>
                                                        <td class="pl-ld">@item.Plot_Type</td>
                                                        <td >@item.Type</td>
                                                        <td>@item.PaymentType</td>
                                                        <td>@item.Ch_Pay_Draft_No</td>
                                                        <td>@string.Format("{0:n0}", item.Debit)</td>
                                                        <td>@string.Format("{0:n0}", item.Credit)</td>
                                                        <td>@string.Format("{0:n0}", Balance)</td>
                                                        <td>@item.Name</td>
                                                        <td>@item.Contact</td>
                                                        <td>@item.Cashier</td>
                                                        <td>@item.Created_By</td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <th colspan="8" style="text-align:right"></th>
                                                    <th>@string.Format("{0:n0}", g.Where(x => x.Receipt_Type != "Direct Payment").Sum(x=> x.Debit))</th>
                                                    <th>@string.Format("{0:n0}", g.Where(x => x.Receipt_Type != "Direct Payment").Sum(x => x.Credit))</th>
                                                    <th colspan="5"><b>@string.Format("{0:n0}", Balance)</b></th>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="8"></td>
                                        <th>@string.Format("{0:n0}", gg.Where(x=> x.Receipt_Type != "Direct Payment").Sum(x => x.Debit))</th>
                                        <th>@string.Format("{0:n0}", gg.Where(x => x.Receipt_Type != "Direct Payment").Sum(x => x.Credit))</th>
                                        <th>@string.Format("{0:n0}", gg.Where(x => x.Receipt_Type != "Direct Payment").Sum(x => x.Debit) - gg.Where(x => x.Receipt_Type != "Direct Payment").Sum(x => x.Credit))</th>
                                        <td colspan="4"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<style>
    .table tr td {
        padding: 2px;
    }
</style>
<script>
    $(document).on("click", ".pl-ld", function () {
        var id = $(this).closest("tr").attr("id");
        var type = $(this).closest("tr").data("type");
        if (type == "Lead") {
            window.open("/Leads/LeadDetails?Id=" + id, "_blank")
        }
        else if (type == "Deal") {
            window.open("/PropertyDeal/DealDetails?Id=" + id, "_blank")
        }
    })
</script>




@*<div id="created" class="tab-pane">
        <div class="p-20">
            <table id="allleadss" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead class="thead-dark">
                    <tr>
                        <th width="20%">Date</th>
                        <th width="20%">Receipt/Voucher No</th>
                        <th width="20%">Block</th>
                        <th width="20%">Plot Number</th>
                        <th width="20%">Payment Type</th>
                        <th width="20%">Cheque No</th>
                        <th width="20%">Debit</th>
                        <th width="20%">Credit</th>
                        <th width="20%">Balance</th>
                        <th width="20%">Name</th>
                        <th width="20%">Contact</th>
                        <th width="20%">Cashier</th>
                        <th width="20%">Created By</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.Any())
                        {
                            foreach (var g in Model.Where(x => (userid.Contains(x.Created_By))).GroupBy(x => x.Lead))
                            {
                                decimal? Balance = 0;
                                foreach (var item in g)
                                {
                                    if (item.Status is null || item.Status == "Approved")
                                    {
                                        Balance += item.Debit - item.Credit;
                                    }

                                    <tr class="pointer" id="">
                                        <td>@string.Format("{0:dd-MMM-yyyy}", item.DATETIME)</td>
                                        <td>@item.Receipt_Voucher_No</td>
                                        <td>@item.Block</td>
                                        <td>@item.Plot_num</td>
                                        <td>@item.PaymentType</td>
                                        <td>@item.Ch_Pay_Draft_No</td>
                                        <td>@string.Format("{0:n0}", item.Debit)</td>
                                        <td>@string.Format("{0:n0}", item.Credit)</td>
                                        <td>@string.Format("{0:n0}", Balance)</td>
                                        <td>@item.Name</td>
                                        <td>@item.Contact</td>
                                        <td>@item.Cashier</td>
                                        <td>@item.Created_By</td>
                                    </tr>
                                }
                                <tr>
                                    <th colspan="8" style="text-align:right">Total: </th>
                                    <th colspan="5"><b>@string.Format("{0:n0}", Balance)</b></th>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>*@