@model MeherEstateDevelopers.Models.ChangePasswordViewModel
<div id="loader">
    <div class="spinner"></div>
</div>
<script type="text/javascript">
    window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
            loader.classList.add('fadeOut');
        }, 300);
    });</script>
<div class="peers ai-s fxw-nw h-100vh">
    <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv " id="bkgr-adj" style="background-size: contain;background-color: #f2e36f;background-image:url(/assets/static/images/meherestate.png)"></div>
    <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style="min-width:320px">
        <h4 class="fw-300 c-grey-900 mB-40">
            Your Password must Contains
            <ul>
                <li>Minimum 6 Letters</li>
                <li>Capital Letter (A B C .. X Y Z)</li>
                <li>Number (1 2 3 ..)</li>
                <li>Special Character ( ! @@ # $ % ^ & * () _ - + =)</li>
            </ul>
        </h4>
        <h4 class="fw-300 c-grey-900 mB-40">Change Password</h4>
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <label class="text-normal text-dark">Old Password</label>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="text-normal text-dark">Password</label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="text-normal text-dark">Confirm Password</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <h4 class="fw-300 c-grey-900 mB-40">
                <ul>
                    <li>Do Not Share Your Password With Others</li>
                </ul>
            </h4>
            <div class="form-group">
                <div class="peer">
                    <button class="btn btn-primary" type="submit">Reset</button>
                </div>
            </div>
        }
        <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
            <span>Ignited By . SA Systems.</span>
        </footer>
    </div>
</div>