@model MeherEstateDevelopers.Models.NewFileLedger
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <title>@Model.FileData.File_Form_Number - Statment</title>
</head>

<style>
    @@media print {
        table, tr, td, th {
            padding: 2px !important;
        }

        body {
            margin: 2px;
            color: black;
        }
    }
</style>
<table>
    <tr>
        <td align="left" style="width:500px"><img style="width:75px;font-size:16px;padding:10px" src="/assets/static/images/logo2.png" alt=""> &nbsp;SA Management Information System</td>
        <td align="right" style="width:500px"><img style="width:120px" src="~/assets/static/images/whitesaprj.png" /></td>
    </tr>
</table>
<h5>Owner Information</h5>
<div style="display:table;width:100%">
    <table style="font-size:12px;float:left" width="500">
        <tr><td width="170">Registeration Number:</td><td>@Model.FileData.File_Form_Number</td></tr>
        <tr><td>CNIC / NICOP No.</td><td>@string.Join(",", Model.OwnerData.Select(x=> x.CNIC_NICOP)) </td></tr>
        <tr><td>Owner Name</td><td>@string.Join(",", Model.OwnerData.Select(x => x.Name))</td></tr>
        <tr><td>Mobile No.</td><td>@string.Join(",", Model.OwnerData.Select(x => x.Mobile_1))</td></tr>
        <tr><td>Address</td><td>@string.Join(",", Model.OwnerData.Select(x => x.Postal_Address))</td></tr>
    </table>
    <table style="font-size:12px;float:left" width="200">
        @{
            if (Model.FileData.AuditVerified == true)
            {
                <tr><td width="80"><img width="50" src="~/assets/static/images/verified.png" /></td><td>Verified</td></tr>
            }
            else
            {
                <tr><td width="80"><img width="50" src="~/assets/static/images/notver.png" /></td><td></td></tr>
            }
        }
    </table>
</div>

<hr />
<h4>Plot Details</h4>
<table>
    <tr>
        <td width="120"><b>Project</b></td>
        <td width="120">@Model.FileData.Project_Name</td>
        <td width="130"><b>Plot No.</b></td>
        <td width="120">@Model.FileData.File_Form_Number</td>
        <td width="120"><b>Phase</b></td>
        <td width="120">@Model.FileData.Phase_Name</td>
        <td width="120"><b>Block</b></td>
        <td width="120">@Model.FileData.Block_Name</td>

    </tr>
    @{
        string dev = "";
        if (Model.FileData.Development_Charges == "False")
        {
            dev = "Non Development Charges";
        }
        else if (Model.FileData.Development_Charges == "True")
        {
            dev = "With Development Charges";
        }
        else
        {
            dev = "To Be Announce";
        }
    }
    <tr>
        <td width="120"><b>Plot Size</b></td>
        <td width="120">@Model.FileData.Plot_Size</td>
        <td width="130"><b>Preference</b></td>
        <td width="120">@Model.FileData.Plot_Prefrence</td>
        @*<td width="120" colspan="2"><b>Development Charges</b></td>
            <td width="120" colspan="2">@dev</td>*@
    </tr>
</table>
<hr />
<h4>Booking Details</h4>
<table style="margin-top:5px">
    <tr>
        <td width="150"><b>Booking Price</b></td>
        <td width="150">@string.Format("{0:n0}", Model.Balance.Total_Amount)</td>
        <td width="150"><b>Rate / Marla</b></td>
        @{
            int plotsize = Convert.ToInt16(Model.FileData.Plot_Size.Split(' ')[0]);
            var rate = Model.Balance.Total_Amount / plotsize;

        }
        <td width="150">@string.Format("{0:n0}", rate)</td>

        <td width="150"><b>Booking Date</b></td>
        <td width="150" id="booking-date"></td>
    </tr>
</table>
<hr />
<h5>Payment Details</h5>
<table class="table table-striped table-bordered" style="font-size:10px">
    <thead>
        <tr>
            <th width="100">Date</th>
            <th width="100">Description</th>
            <th width="100">Receipt/Voucher #</th>
            <th width="100">Mode</th>
            <th width="100">Instrument No.</th>
            <th width="100">Debit</th>
            <th width="100">Credit</th>
            <th width="180">Balance</th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal? bal = 0;
            decimal? Total_Amt = 0;
            decimal? Rec_amt = 0;
        }
        @foreach (var item in Model.Report.Where(z => z.Date <= DateTime.Now).OrderBy(x => x.Date))
        {
            if (item.Description == "Advance")
            {
                <script>
                    var res = "@string.Format("{0:MMM dd yyyy}", item.Date)"
                    $("#booking-date").text(res);
                </script>
            }
            if ((item.Inst_Status == "Approved" || string.IsNullOrEmpty(item.Inst_Status) || string.IsNullOrWhiteSpace(item.Inst_Status)) && (item.Mode != "Cash" || string.IsNullOrEmpty(item.Mode) || string.IsNullOrWhiteSpace(item.Mode)))
            {
                Total_Amt += (item.Debit == null) ? 0 : item.Debit;
                Rec_amt += (item.Credit == null) ? 0 : item.Credit;
                bal += (item.Debit == null) ? 0 : -(item.Debit);
                bal += (item.Credit == null) ? 0 : item.Credit;
            }
            if (item.Mode == "Cash")
            {
                Total_Amt += (item.Debit == null) ? 0 : item.Debit;
                Rec_amt += (item.Credit == null) ? 0 : item.Credit;
                bal += (item.Debit == null) ? 0 : -(item.Debit);
                bal += (item.Credit == null) ? 0 : item.Credit;
            }

            <tr class="trnsctnCol">
                <td>@string.Format("{0:dd-MMM-yyyy}", item.Date)</td>
                <td>@item.Description</td>
                <td>@item.Receipt_Voucher_No</td>
                @if (item.Mode == "Cheque" || item.Mode == "PayOrder" || item.Mode == "BankDraft")
                {
                    if (item.Inst_Status == "Dishonored")
                    {
                        <td>@item.Mode </td>
                    }
                    else
                    {
                        <td>@item.Mode @*(@item.Inst_Status)*@</td>
                    }
                }
                else
                {
                    <td>@item.Mode</td>
                }
                @if (!string.IsNullOrEmpty(item.Bank))
                {
                    <td>@string.Concat(item.Chq_No, "  (" + item.Bank + ")")</td>
                }
                else
                {
                    <td>@string.Concat(item.Chq_No, item.Bank)</td>
                }
                @if (item.Debit == null || item.Debit == 0)
                {
                    <td style="text-align:center; font-size:15px">-</td>
                }
                else
                {
                    <td style="text-align:center">@string.Format("{0:n0}", item.Debit)</td>
                }
                @if (item.Credit == null || item.Credit == 0)
                {
                    <td style="text-align:center; font-size:15px">-</td>
                }
                else
                {
                    <td style="text-align:center">@string.Format("{0:n0}", item.Credit)</td>
                }
                @if (item.Inst_Status == "Dishonored")
                {
                    <td>@string.Format("{0:n0}", bal + item.Credit)</td>
                }
                else
                {
                    <td>@string.Format("{0:n0}", bal)</td>
                }
            </tr>
            if (item.Inst_Status == "Dishonored")
            {
                <tr class="trnsctnCol">
                    <td>@string.Format("{0:dd-MMM-yyyy}", item.Date)</td>
                    <td>@item.Description</td>
                    <td>@item.Receipt_Voucher_No</td>
                    @if (item.Mode == "Cheque" || item.Mode == "PayOrder" || item.Mode == "BankDraft")
                    {
                        <td>@item.Mode  @*(@item.Inst_Status)*@</td>
                    }
                    else
                    {
                        <td>@item.Mode</td>
                    }
                    @if (!string.IsNullOrEmpty(item.Bank))
                    {
                        <td>@string.Concat(item.Chq_No, "  (" + item.Bank + ")")</td>
                    }
                    else
                    {
                        <td>@string.Concat(item.Chq_No, item.Bank)</td>
                    }
                    <td style="text-align:center;">@string.Format("{0:n0}", item.Credit)</td>
                    <td style="text-align:center">-</td>
                    <td>@string.Format("{0:n0}", bal)</td>
                </tr>

            }
        }
    </tbody>
</table>
<table class="table">
    <tbody>
        <tr>
            <td><b>Total Amount</b></td>
            <script>
                var pltprice = "@Model.FileData.GrandTotal";
                if (pltprice > 0) {
                    $("#plot-price").text(Number(parseFloat(pltprice).toFixed(0)).toLocaleString());

                }
                else {
                     var t_plt_amt = "@string.Format("{0:n0}", Math.Round(Convert.ToDecimal(Total_Amt)))";
                    $('#plot-price').text(t_plt_amt);


                }
                 var disamt =  "@Model.Discount";

                if (disamt > 0 || disamt != "" || disamt != null) {
                    $(".dis-amt-sec").show();
                    $("#dis-amt").text(Number(disamt).toLocaleString());
                }
            </script>
            <td>@string.Format("{0:n0}", Math.Round(Convert.ToDecimal(Model.Balance.Total_Amount)))</td>
            <td><b>Received Amount</b></td>
            <td>@string.Format("{0:n0}", Math.Round(Convert.ToDecimal(Model.Balance.Received_Amount)))</td>
            <td><b>Outstanding Amount</b></td>
            <td>@string.Format("{0:n0}", Math.Round(Convert.ToDecimal(Model.Balance.Outstanding_Amount )))</td>
            <td colspan="4"></td>
        </tr>
    </tbody>
</table>
@{
    if (Model.Discount != null)
    {
        <h5> Discount </h5>
        <table class="table">
            <tbody>
                @foreach (var item in Model.Discount)
                {
                    <tr>
                        <td><b>Total Amount</b></td>
                        <td>@string.Format("{0:n0}", item.Total_Amount)</td>
                        <td><b>Discount  @Math.Round(Convert.ToDouble(item.Percentage), 2) % </b></td>
                        <td>@string.Format("{0:n0}", item.Discount_Amount)</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Remarks</b></td>
                        <td colspan="4">@item.Remarks</td>
                    </tr>
                }

            </tbody>
        </table>
    }
}
@if (Model.FileData.AuditVerified == true)
{
    <table class="table">
        <tbody>
            <tr>
                <td><b>This is a computer generated report therefore does not require any signature.</b></td>
            </tr>
        </tbody>
    </table>
}
<table class="table">
    <tbody>
        <tr>
            @if (Model.FileData.AuditVerified == true)
            {
                <td colspan="2"><b>Verified By :   @ViewBag.verifier</b></td>
            }
            <td colspan="2"><b>Printed By :    @ViewBag.name</b></td>
            <td></td>
        </tr>
        <tr>
            <td><b>@DateTime.Now.ToLongDateString()   at   @DateTime.Now.ToLocalTime().ToString("hh:mm:tt")</b></td>
        </tr>
    </tbody>
</table>
