@model MeherEstateDevelopers.Models.Sp_Get_AllotmentLetter_Result
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body {
            font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
        }

        @@page {
            size: legal;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        @@media all {
            body {
                -webkit-print-color-adjust: exact;
            }

            .watermark {
                background-image: url(/images/K-05.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: 50% 50%;
                width: 1000px;
                position: absolute;
                height: 800px;
                opacity: 0.1;
                margin-top: 32%;
            }
        }
    </style>
</head>
<body>
    <div class="watermark"></div>
    <!--<table cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="200px" align="center" valign=bottom style="font-weight:bold"><img src="~/assets/static/images/sag scheme logo.jpg" width=160 height=110></td>
            <td width="650px" align="right" valign="top" style="font-weight:bold">
                <table style="margin-top:1px;font-size:20px">
                    <tbody>
                        <tr><td align="right" valign="top">ORIGINAL</td></tr>
                        <tr><td align="right" valign="top">Ref No: @Model.Ref_No</td></tr>
                        <tr><td align="right" valign="top">@string.Format("{0:MMMM dd, yyyy}", DateTime.Now) </td></tr>
                    </tbody>
                </table>
            </td>
            @{
                string img = "";
                string plt = Model.Plot_No.Replace(" ", "_");
                var name = Model.Name.Replace("/", "-");
                img = Model.Phase + "_" + Model.Plot_No + "_" + name + ".png";
            }-->
    @*<td width="150px" align="center" valign=bottom style="font-weight:bold"><img src="~/QR Codes/@img" width=120 height=125></td>*@
    <!--</tr>
    </table>-->
<table cellspacing="0" border="0" style="width:1000px">

    <tr style="background-color: white;color: black;">
        <td width="1000px" align="center" style="padding: 100px 50px; vertical-align: middle;">
            <font size="6"><b>ALLOTMENT LETTER</b></font>
        </td>
        
        @*<td width="1000px" align="center" style="padding:11px"style="margin-top: 20px;" valign=bottom><font size="6"><b>ALLOTMENT LETTER</b></font></td>*@
    </tr>
    <tr>
        <td width="200px" align="right" valign=top><img style="border: 1px solid;padding:5px;" src="@Model.Own_Img" width=170 height=200></td>
    </tr>
</table>
    <table cellspacing="0" border="0" style="width:1000px;font-size: 21px;margin-top: 7px;">
        <tr>
            <td width="800px" valign="top">
                <table style="margin-top:10px">
                    <tbody>

                        <tr>
                            <td width="800px" align="left" valign="bottom">To,</td>
                            <td width="600px" align="Right" valign="bottom">letter# ______________</td>

                        </tr>
                        <tr>
                            <td width="800px" align="left" valign="bottom"><b>@Model.Name.Replace("Ѭ", "-")</b></td>
                            <td width="800px" align="Right" valign="bottom">Date: @string.Format("{0:MMMM dd, yyyy}", DateTime.Now)</td>
                        </tr>
                        <tr>
                            <td width="800px" align="left" valign="bottom">S/O, D/O, W/O @Model.Father_Name.Replace("Ѭ", "-")</td>

                        </tr>
                        <tr>
                            <td width="800px" align="left" valign="bottom">@Model.CNIC.Replace("Ѭ", "-")</td>
                        </tr>
                        <tr>
                            <td width="800px" align="left" valign="bottom">@Model.Address.Replace("Ѭ", "-")</td>
                        </tr>
                        <tr></tr>


                    </tbody>
                </table>

            </td>
            @*<td width="200px" align="center" valign=top><img style="border: 1px solid;padding: 5px;" src="@Model.Own_Img" width=170 height=200></td>*@
        </tr>

    </table>
    <!--<table cellspacing="0" border="0" style="width:1000px;font-size: 20px;margin-top: 35px;">-->
        @*<tr>
                <td width="100px" align="left" valign="middle" style="font-weight:bold">Subject: </td>
            </tr>*@
        <!--<tr>
            <td width="100px" align="left" valign="middle" style="font-weight:bold">Subject: </td>
            <td width="730px" align="center" valign="bottom" style="border-bottom:1px solid"> <b>Allotment/Transfer of Plot No.@Model.Plot_No @Model.Plot_Size </b></td>

        </tr>
        <tr>
            <td width="930px" align="center" valign="bottom" style="border-bottom:1px solid"> <b> @Model.Plot_Type @Model.Area Sq-Ft</b></td>
        </tr>
    </table>-->
    <table cellspacing="0" border="0" style="width:1000px;font-size: 20px;margin-top: 35px;">
        <tr>
            <td width="100px" align="left" valign="middle" style="font-weight:bold">Subject: </td>
            <td width="930px" colspan="2" valign="bottom" style="text-align:center;">
                <b><u>Allotment/Transfer of Plot No. @Model.Plot_No @Model.Plot_Size</u></b>
            </td>
        </tr>
        <tr>
            <td colspan="2" valign="bottom" style="text-align:center;">
                <b><u>@Model.Plot_Type @Model.Area Sq-Ft</u></b>
            </td>
        </tr>
    </table>

    <table cellspacing="0" border="0" style="width:1000px;font-size: 11.5pt;">
        <h5>Dear Sir,</h5>
        <tr>
            <td width="1000px" align="left" valign=bottom>
                <ol>
                    <li>Subject Plot is allotted/transferred by "The Grand City" in your name and the management has approved the same on @string.Format("{0:MMMM dd, yyyy}", DateTime.Now).</li>
                    <li>"The Grand City" reserves the right to make adjustments and relocate the plot, if need arises due to site constraints or change in town planning.</li>
                    <li>
                        The transferee aggre to pay additional development charges as and when demanded bt "The Grand City" on account of any additional development/ up
                        gradation of service or infrastructure and also agrees to abide by rules/regulations and policies as amended from tiome by management.
                    </li>
                    <li>Any Excess area as per the site plan will be charged at actual, Proportionate to the plot price.</li>
                    <li>
                        <b>Non-Construction Penalty:</b> After the possession of plot is handed over, the owner is required to contruct the building (Residential / Commercial)
                        within three years. Failing which may lead to imposition of non-construction penalty as per the bylaws/policy of the society until the issuance of site plan
                        & start of construction work.
                    </li>
                    <li><b>Verification:</b> In case of resale of the said plot, the buyer must confirm/verify the allotment letter from The Grand City Management.</li>
                </ol>
            </td>
        </tr>
    </table>
    <table cellspacing="0" border="0" style="width:1000px;font-size: 21px;margin-top: 7px;">
        <tr>
            <td width="800px" valign="top">
                <table style="margin-top:10px">
                    <tbody>

                        <tr>
                            <td width="800px" align="left" valign="bottom"> ______________</td>
                            <td width="600px" align="Right" valign="bottom"> ______________</td>

                        </tr>
                        <tr>
                            <td width="800px" align="left" valign="bottom">Director </td>
                            <td width="600px" align="Right" valign="bottom">Director </td>
                        </tr>
                  
                    </tbody>
                </table>

            </td>
            @*<td width="200px" align="center" valign=top><img style="border: 1px solid;padding: 5px;" src="@Model.Own_Img" width=170 height=200></td>*@
        </tr>

    </table>
    @*<table cellspacing="0" border="0" style="width:1000px;font-size: 11.5pt;margin-top:10px">
            <tr>
                <td width="1000px" align="left" valign=bottom><b>Ensuring our best co-operation at all times,</b></td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1000px;margin-top:15px;font-size:21px">
            <tr>
                <td width="50px" align="left" valign="middle" style="font-weight:bold"><img width="30" src="~/assets/static/images/hands.png" /></td>
                <td width="950px" align="left" valign="middle"><b>Memorandum of Acceptance</b></td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1000px;margin-top:15px;font-size:21px">
            <tbody>
                <tr>
                    <td width="10px" align="left" valign="bottom" style="line-height:40px">
                        I&nbsp;<u>&nbsp;&nbsp;&nbsp;<b>@Model.Name.Replace("Ѭ", "-")</b>&nbsp;&nbsp;&nbsp;</u>
                        &nbsp;S/O, D/O, W/O&nbsp;&nbsp;<u>&nbsp;&nbsp;&nbsp;<b>@Model.Father_Name.Replace("Ѭ", "-")</b>&nbsp;&nbsp;&nbsp;</u>&nbsp;
                        do Hereby accept the allotment with conditions embodied in the above allotment letter
                    </td>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" border="0" style="width:1000px;margin-top:120px">
            <tr>
                <td width="300px" align="left" valign=bottom>
                    <table>
                        <tbody>
                            <tr><td><b><font size="4">@Model.Witness1</font></b></td></tr>
                            <tr><td>Witness</td></tr>
                        </tbody>
                    </table>
                </td>
                <td width="300px" align="left" valign=bottom>
                    <table>
                        <tbody>
                            <tr><td><b><font size="4">@Model.Witness2</font></b></td></tr>
                            <tr><td>Witness</td></tr>
                        </tbody>
                    </table>
                </td>
                <td width="50px" align="center" valign=bottom style="border-right:1px solid #ccc"></td>
                <td width="350px" align="center" valign=bottom>
                    <table>
                        <tbody>
                            <tr><td><b><font size="4">@Model.Name.Replace("Ѭ", "-")</font></b></td></tr>
                            <tr><td>Owner</td></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1000px;margin-top:20px;border-top:1px solid #ccc">
            <tr>
                <td align="left" valign=bottom></td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1000px;margin-top:80px;font-size:21px">
            <tr>
                <td width="500px" align="center" valign=bottom></td>
                <td width="300px" align="center" valign=bottom style="border-left:1px solid #ccc">
                    <table>
                        <tbody>
                            <tr><td><b>@Model.Head_Name</b></td></tr>
                            <tr><td align="left" style="color:red">@Model.Designation</td></tr>
                        </tbody>
                    </table>
                </td>
                <td width="200px" align="center" valign=bottom></td>
            </tr>
        </table>*@



</body>
</html>