@model IEnumerable<MeherEstateDevelopers.Models.Sp_Report_CommercialReceivable_Result>
@{
    var Total = Model.Sum(x => x.Total_Amount);
    var Received = Model.Sum(x => x.Received_Amount);
    var Discount = Model.Sum(x => x.TotalDiscounts);
    var Remain = Model.Where(x => x.Balance_Amount < 0).Sum(x => x.Balance_Amount);
    var access = Model.Where(x => x.Balance_Amount > 0).Sum(x => x.Balance_Amount);
}
@{
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("Staff"))
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<div class="form-row">
    <div class="col-md-8" id="tab-data">
        <table class="table table-striped table-bordered rpttable">
            <thead class="thead-dark">
                <tr>
                    <th width="">No</th>
                    <th width="">Type</th>
                    <th width="">Floor</th>
                    <th width="">Status</th>
                    <th width="">Total Amount</th>
                    <th width="">Received</th>
                    <th width="">Discount</th>
                    <th width="">Remaining</th>
            </thead>
            <tbody style="max-height: 300px !important;">
                @foreach (var item in Model)
                {
                    <tr class="" data-id=" @item.Comercial_Id">
                        <td width="">@item.Com_App_Shop_Number </td>
                        <td width="">@item.Type  </td>
                        <td width="">@item.Floor  </td>
                        <td width="">@item.Status  </td>
                        <td width="">@string.Format("{0:n0}", item.Total_Amount)</td>
                        <td width="">@string.Format("{0:n0}", item.Received_Amount)</td>
                        <td width="">@string.Format("{0:n0}", item.TotalDiscounts)</td>
                        <td width="">@string.Format("{0:n0}", item.Balance_Amount)</td>
                    </tr>
                }
            </tbody>
            <tfoot></tfoot>
        </table>

    </div>
    <div class="col-md-" id="rpt-data">
        <h5>Total Amount: @string.Format("{0:n0}", Total)    </h5>
        <h5>Received Amount: @string.Format("{0:n0}", Received)   </h5>
        <h5>Discounted Amount: @string.Format("{0:n0}", Discount)   </h5>
        <h5>Excess Amount: @string.Format("{0:n0}", access)   </h5>
        <h5>Remaining Amount: @string.Format("{0:n0}", Remain)   </h5>
    </div>
    <div class="col-md-12" id="plot-det"></div>
</div>
<script>
    $(function () {
        $('.rpttable').DataTable();
    });
</script>