@model MeherEstateDevelopers.Models.OverdueQualifying_Shops



<div class="main-lt-cont">
    <div class="lh-head" style="display: flex; justify-content: center; align-items: center; padding-top:2%;">

        <img src="~/images/LH-Head.png" style="width:15%; height:15%;" />
    </div>
    <div class="lt-cont">
        @{
            var seven = DateTime.Now.AddDays(14);
        }
        <p style="text-align: center;"><strong><u><span style="font-size: 14.0pt; font-family: 'Abadi',sans-serif;">@Model.Project – @Model.Type Cancellation Warning Letter</span></u></strong></p>
        <p style="text-align: center;"><strong><span style="font-family: 'Abadi',sans-serif;">Submission of Installments / Arrears / Dues</span></strong></p>
        <p><strong><span style="font-family: 'Abadi',sans-serif;">Respected Customer,</span></strong></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Hope you are having a great day!</span></p>

        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1.3"><span style="font-family: 'Abadi',sans-serif;">To continue towards development and progress of this esteemed project, Meher Estate Developers administration requests you to kindly submit your Installment/arrears/dues, till dated <b>@string.Format("{0:dd-MMMM-yyyy}", seven)</b>. Please find below the information.</span></p>

        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Name: @Model.Name</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">@Model.Type Number: @Model.Shop_No</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Size: @Model.Area Sq Ft</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Balance Amount: @string.Format("{0:n0}", Math.Round(Convert.ToDecimal(Model.OverDueAmount)))</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Due Installments: @Model.Installments</span></p>

        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1.3"><span style="font-family: 'Abadi',sans-serif;">We are<span style=""> hereby</span> grieved to inform that <span style="">as the prescribed payment plan</span> <span style="">of</span> your Installments/arrears/dues <span style="">have yet not been paid</span> <span style="">as agreed per se; hence in lieu thereof, we most humbly request for your</span> <span style="">timely</span> <span style="">payment, as in case of failure, the matter shall be forwarded to our recovery and legal section, which may further also lead to the cancellation of your @Model.Type. Please be advised for the kind submission of</span> your dues as a responsible member to avoid such case and make sure the safety of your property. We shall be very thankful to you.</span></p>

        <p style="line-height:1.3"><strong><span style="font-family: 'Abadi',sans-serif;">Note: Amount mentioned above is subject to verification at the time of Payment/Cancellation. If there is any ambiguity in this case, please visit our Head Office along with the complete file and receipts in 14 days’ time for rectification.</span></strong></p>

        <p></p>
        <p><span style="font-family: 'Abadi',sans-serif;">Regards,</span></p>
        <p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">_________________</span></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Faheem Yousif </span></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Manager Records,</span></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Date: @string.Format("{0:dd-MMMM-yyyy}", DateTime.Now)</span></p>


    </div>
    <div class="lh-foot"><img src="~/images/LH-Footer.png" style="width:100%" /></div>
</div>
<div style="page-break-after:always"></div>

<style>
    @@page {
        margin: 0 !important;
    }

    p {
        color: black !important;
        font-size: 14px
    }

    .lt-cont {
        padding: 10px 2% !important
    }

    .main-lt-cont {
        width: 60%;
    }

    @@media print {
        @@Page {
            size: A4
        }

        .main-lt-cont {
            width: 100%;
        }

        .lh-foot {
            position: fixed;
            bottom: 0;
        }

        .lt-cont {
            padding: 10px 2% !important
        }
    }
</style>
