@model IEnumerable<MeherEstateDevelopers.Models.Commercial_Installment_Structure>

@{
    if (Model.Any())
    {
        foreach (var item in Model.GroupBy(x => new { x.Plan_Group, x.Plan_Name }))
        {
            <div class="col-md-4">
                <div class="bgc-white p-20 bd">
                    <h5>Name: @item.Key.Plan_Name</h5>
                    <hr />
                    @foreach (var i in item)
                    {
                        <h6>@i.TypeName : <span style="float:right;font-weight:normal">@i.Advance%  &nbsp;&nbsp;&nbsp; Installments:  @i.Installments &nbsp;&nbsp;&nbsp; After:  @i.After</span></h6>

                        @*<h6>Installments : <span style="float:right;font-weight:normal">@i.Installments Months</span></h6>

                            <h6>Duration : <span style="float:right;font-weight:normal">@i.Duration Years</span></h6>

                            <h6>After : <span style="float:right;font-weight:normal">@i.After</span></h6>*@
                    }




                </div>

            </div>
        }
    }
}

