@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_TransferRequestList_Commercial_Result>
@{
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("Staff"))
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<div class="col-md-12">
    <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <h4 class="c-grey-900 mB-20">Transfer Requests</h4>
        <table class="translst table table-striped table-bordered" cellspacing="0" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th>Sr.</th>
                    <th>Project</th>
                    <th>Unit No.</th>
                    <th>Type</th>
                    <th>Floor</th>
                    <th>Request Serial No</th>
                    <th>From Name</th>
                    <th>To</th>
                    <th>Request Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Any())
                    {
                        int srcounter = 1;
                        foreach (var item in Model.OrderByDescending(x => x.Requestdate))
                        {
                            <tr class="pointer com-trans-det" id="@item.Id">
                                <td>@srcounter</td>
                                <td>@item.Project_Name</td>
                                <td>@item.Com_App_Shop_Number</td>
                                <td>@item.Type</td>
                                <td>@item.Floor</td>
                                <td>@item.ndc_serial</td>
                                <td>@item.From_Name</td>
                                <td>@item.To_Name</td>
                                <td>@string.Format("{0:dd-MMM-yyyy}", item.Requestdate)</td>
                                <td>@item.Status</td>
                            </tr>
                            srcounter++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        $('.translst').dataTable();
    })
</script>