@model Management_Information_System.Models.PlotServiceChargesDetails
<style>
    table tr td, table tr th {
        padding: 5px !important;
        font-size: 13px
    }
</style>
<div class="form-row">
    <div class='col-md-3'>
        <div class="layers bd default-div-bg p-10 mt-2" style="text-align:center">
            <div class="layer w-100" style="border-bottom:1px solid #ccc">
                <h5 class="lh-1">@ViewBag.Block Project</h5>
            </div>
            <div class="layer w-100 row p-5">
                <div class="col-md-6">
                    <h6 class="lh-1">Receivable</h6>
                </div>
                <div class="col-md-6">
                    <h6 class="lh-1">Received</h6>
                </div>
            </div>
            <div class="layer w-100 row p-5">
                <div class="col-md-6">
                    <h6 class="lh-1">@string.Format("{0:n}", Model.Receiable)</h6>
                </div>
                <div class="col-md-6">
                    <h6 class="lh-1">@string.Format("{0:n}", Model.Received)</h6>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-3'>
        <div class="layers bd default-div-bg p-10 mt-2" style="text-align:center">
            <div class="layer w-100" style="border-bottom:1px solid #ccc">
                <h5 class="lh-1">Shop </h5>
            </div>
            <div class="layer w-100 row p-5">
                <div class="col-md-6">
                    <h6 class="lh-1">Receivable</h6>
                </div>
                <div class="col-md-6">
                    <h6 class="lh-1">Received</h6>
                </div>
            </div>
            <div class="layer w-100 row p-5">
                <div class="col-md-6">
                    <h6 class="lh-1">@string.Format("{0:n}", Model.Resi_Receiable)</h6>
                </div>
                <div class="col-md-6">
                    <h6 class="lh-1">@string.Format("{0:n}", Model.Resi_Received)</h6>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-3'>
        <div class="layers bd default-div-bg p-10 mt-2" style="text-align:center">
            <div class="layer w-100" style="border-bottom:1px solid #ccc">
                <h5 class="lh-1">Office </h5>
            </div>
            <div class="layer w-100 row p-5">
                <div class="col-md-6">
                    <h6 class="lh-1">Receivable</h6>
                </div>
                <div class="col-md-6">
                    <h6 class="lh-1">Received</h6>
                </div>
            </div>
            <div class="layer w-100 row p-5">
                <div class="col-md-6">
                    <h6 class="lh-1">@string.Format("{0:n}", Model.Com_Receiable)</h6>
                </div>
                <div class="col-md-6">
                    <h6 class="lh-1">@string.Format("{0:n}", Model.Com_Received)</h6>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-3'>
        <div class="layers bd default-div-bg p-10 mt-2" style="text-align:center">
            <div class="layer w-100" style="border-bottom:1px solid #ccc">
                <h5 class="lh-1">Apartment </h5>
            </div>
            <div class="layer w-100 row p-5">
                <div class="col-md-6">
                    <h6 class="lh-1">Receivable</h6>
                </div>
                <div class="col-md-6">
                    <h6 class="lh-1">Received</h6>
                </div>
            </div>
            <div class="layer w-100 row p-5">
                <div class="col-md-6">
                    <h6 class="lh-1">@string.Format("{0:n}", Model.App_Receiable)</h6>
                </div>
                <div class="col-md-6">
                    <h6 class="lh-1">@string.Format("{0:n}", Model.App_Received)</h6>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-info compro-sc-bills" id="@ViewBag.BlockId">Download Bills</button>
</div>
<hr />
<div class="form-row">
    <div class="col-md-3">
        <h5>Shop</h5>
        <div style="min-height:0px; max-height:500px;overflow:auto" class=" ps--active-y">
            <table id="result" class="table table-borderless clickable-rows" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="80" align="center" class="col-date">Shop</th>
                        <th width="100" class="col-name">Name</th>
                        <th width="120" class="col-rece">Amount</th>
                        <th width="120" class="col-rece">Arrears</th>
                        <th width="120" class="col-rece">Grand Total</th>
                        <th width="120" class="col-rece">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.ComServiceChargesList.Where(x => x.Type == "Shop").Any())
                        {
                            foreach (var item in Model.ComServiceChargesList.Where(x => x.Type == "Shop"))
                            {
                                <tr class="pointer com-scbl-det" data-id="@item.Plot_Id" id="@item.Id">
                                    <td align="center" class="col-mod">@item.Plot_No</td>
                                    <td class="col-type">@item.Name</td>
                                    <td class="pre-read">@item.Amount</td>
                                    <td class="pre-read">@item.Arrears</td>
                                    <td class="pre-read">@item.Grand_Total</td>
                                    <td class="pre-read">@string.Format("{0:MMM yyy}", item.Date)</td>
                                </tr>
                            }


                        }
                        else
                        {
                            <tr><td colspan="6"> No Bills </td></tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <h5>Office</h5>
        <div style="min-height:0px; max-height:500px;overflow:auto" class=" ps--active-y">
            <table id="result" class="table table-borderless clickable-rows" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="80" align="center" class="col-date">Office</th>
                        <th width="100" class="col-name">Name</th>
                        <th width="120" class="col-rece">Amount</th>
                        <th width="120" class="col-rece">Arrears</th>
                        <th width="120" class="col-rece">Grand Total</th>
                        <th width="120" class="col-rece">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.ComServiceChargesList.Where(x => x.Type == "Office").Any())
                        {

                            foreach (var item in Model.ComServiceChargesList.Where(x => x.Type == "Office"))
                            {
                                <tr class="pointer com-scbl-det" data-id="@item.Plot_Id" id="@item.Id">
                                    <td align="center" class="col-mod">@item.Plot_No</td>
                                    <td class="col-type">@item.Name</td>
                                    <td class="pre-read">@item.Amount</td>
                                    <td class="pre-read">@item.Arrears</td>
                                    <td class="pre-read">@item.Grand_Total</td>
                                    <td class="pre-read">@string.Format("{0:MMM yyy}", item.Date)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="6">No Bills</td></tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <h5>Appartment</h5>
        <div style="min-height:0px; max-height:500px;overflow:auto" class=" ps--active-y">
            <table id="result" class="table table-borderless clickable-rows" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="80" align="center" class="col-date">Apartment</th>
                        <th width="100" class="col-name">Name</th>
                        <th width="120" class="col-rece">Amount</th>
                        <th width="120" class="col-rece">Arrears</th>
                        <th width="120" class="col-rece">Grand Total</th>
                        <th width="120" class="col-rece">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.ComServiceChargesList.Where(x => x.Type == "Appartment").Any())
                        {

                            foreach (var item in Model.ComServiceChargesList.Where(x => x.Type == "Appartment"))
                            {
                                <tr class="pointer com-scbl-det" data-id="@item.Plot_Id" id="@item.Id">
                                    <td align="center" class="col-mod">@item.Plot_No</td>
                                    <td class="col-type">@item.Name</td>
                                    <td class="pre-read">@item.Amount</td>
                                    <td class="pre-read">@item.Arrears</td>
                                    <td class="pre-read">@item.Grand_Total</td>
                                    <td class="pre-read">@string.Format("{0:MMM yyy}", item.Date)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="6">No Bills</td></tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <h5 class="heading-lgt-onDark" id="plot-num"></h5>
        <table id="bill-lst" class="table table-borderless clickable-rows dataTable no-footer">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Paid</th>
                    <th>Remaining</th>
                    <th>Month</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@if (User.IsInRole("Regenerate SC Bill"))
{
    <script>
        function CheckRole() {
            $(".plt-cur-bil").show();
        }
    </script>
}
else
{
    <script>
        function CheckRole() {
            $(".plt-cur-bil").hide();
        }
    </script>
}