@model IEnumerable<Management_Information_System.Models.Sp_Get_PlotServiceChargesTypeList_Result>
@using (Html.BeginForm("RegenrateBill", "ServiceCharges", FormMethod.Post, new { @id = "re-gen-bill", @class = "", role = "form" }))
{
    @Html.AntiForgeryToken();
    <input type="hidden" value="@ViewBag.Plot_Id" name="Plot_Id" />
    <div id="ser-ch-list">
        <table class="table table-borderless clickable-rows" width="800">
            <thead>
                <tr>
                    <th colspan="2">Develop Status</th>
                    <th colspan="2" id="dev-stat"></th>
                </tr>
                <tr>
                    <th style="width:50px">Sr.</th>
                    <th style="width:250px">Service Charges</th>
                    <th style="width:250px">Rate</th>
                    <th style="width:250px">Total</th>
                </tr>
            </thead>
            <tbody>
                @{

                    decimal? total = 0;
                    int sr = 1;
                    foreach (var item in Model)
                    {
                        if (sr == 1)
                        {
                            <script>
                                var text = "@item.Develop_Status";
                                $("#dev-stat").text(text);
                            </script>
                        }
                        //if (item.Develop_Status == "Constructed")
                        //{
                        <tr>
                            <td>@sr</td>
                            <td>@item.Service_Charge_Name</td>
                            @{
                                if (item.Type == "Constant")
                                {
                                    <td> @Convert.ToDecimal(item.Rate).ToString("0.##")</td>
                                    <td>@Convert.ToDecimal(item.Rate).ToString("0.##")</td>
                                    total += item.Rate;
                                }
                                else if (item.Type == "Size")
                                {
                                    <td> @Convert.ToDecimal(item.Rate).ToString("0.##")</td>
                                    <td>@Convert.ToDecimal(item.Rate).ToString("0.##")</td>
                                    total += item.Rate;
                                }

                                else
                                {
                                    var res = item.Plot_Size * item.Rate;
                                    <td>@Convert.ToDecimal(item.Rate).ToString("0.##") x @Convert.ToDecimal(item.Plot_Size).ToString("0.##") Marla</td>
                                    <td>@Convert.ToDecimal(res).ToString("0.##")</td>
                                    total += res;
                                }
                            }
                        </tr>
                        sr++;

                    }

                    <tr>
                        <td colspan="3" align="right"><b>Total</b></td>
                        <td><input type="text" id="total-bill" value="@Convert.ToDecimal(total).ToString("0.##")" readonly/></td>
                    </tr>
                    <tr>
                        <td colspan="3" align="right"><b>Arrears</b></td>
                        <td><input type="text" class="recal-bil" name="Arrears" id="arrears"/></td>
                    </tr>
                    <tr>
                        <td colspan="3" align="right"><b>Grand Total</b></td>
                        <td><input type="text" id="g-tot" value="0" readonly/></td>
                    </tr>
                    <tr>
                        <td colspan="3" align="right"><b>Remarks</b></td>
                        <td><textarea name="Remarks" style="width:100%" required></textarea></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<script>
    $(function () {
        $('.modal-footer').append('<button class="btn btn-primary" id="gen-ser-bill" type="button">Generate Bill</button>');
        $(".modal-header").text("Service Charges Bill");
        CalBill();
    });
</script>
