@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_LoanManagement_HR_Result>

<div class="bgc-white col-md-12 bd bdrs-3">
    <h4 class="c-grey-900 mB-20" style="text-align:center">HR Pending Loans</h4>
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Sr#</th>
                <th>Created At</th>
                <th>Name</th>
                <th>Reason</th>
                <th>Manager Approvel</th>
                <th>HR Approvel</th>
                <th>Installments</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{

                if (!Model.Any())
                {
                    <tr><td colspan="8" style="text-align:center">No data available</td></tr>
                }
                else
                {
                    var couter = 1;
                    foreach (var item in Model.OrderByDescending(x=> x.CreatedAt))
                    {
                        <tr>
                            <td>@couter</td>
                            <td>@string.Format("{0:dd-MMM-yyyy}", item.CreatedAt)</td>
                            <td>@item.Employee_Name</td>
                            <td>@item.Reason</td>
                            <td>@item.ManagerApproval</td>
                            <td>@item.HrApproval</td>
                            <td>@item.Installments</td>
                            <td>@String.Format("{0:n1}", item.Amount)</td>
                            <td>
                                <i class="fa fa-print pointer doc-prnt-btn" title="Print Physical Letter" data-lntag="@item.Id"></i>
                                <br />
                                <i data-toggle="modal" data-target="#Modal" id="@item.Id" class="pop_show_pending_loan_hr pointer ti-eye"></i>
                            </td>
                        </tr>
                        couter++;
                    }
                }
            }
        </tbody>
    </table>
</div>
