@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_MarketingReceiptRequests_Update_Result>

@{ if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="bdrs-3 ov-h bgc-white p-10 bd">
            <div class="form-row">
                <h5>Receipts Update Requests</h5>
            </div>
            <div class="form-row">
                <div class="table-responsive" id="report">
                    <table id="result" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="col-date">Date</th>
                                <th class="col-rece">Receipt No</th>
                                <th class="col-file">File</th>
                                <th class="col-amt">Amount</th>
                                <th class="col-mod">Mode</th>
                                <th class="col-type">Type</th>
                                <th class="col-size">Size</th>
                                <th class="col-deal">Requested By</th>
                                <th class="col-deal">Requested Date</th>
                                <th class="col-deal">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr class="pointer req-rec-det-mar" id="@item.Id" data-ld="@item.ReceiptsFrom" data-toggle="modal" data-target="#Modal">
                                            <td class="col-date">@string.Format("{0:MM/dd/yyyy}", item.DateTime)</td>
                                            <td class="col-rece">@item.ReceiptNo</td>
                                            <td class="col-file">@item.File_Plot_Number</td>
                                            <td class="col-amt">@string.Format("{0:n0}", item.Amount)</td>
                                            <td class="col-mod">@item.PaymentType</td>
                                            <td class="col-type">@item.Type</td>
                                            <td class="col-size">@item.Size</td>
                                            <td class="col-deal">@item.Name</td>
                                            <td class="col-deal">@string.Format("{0:MM/dd/yyyy}", item.RequestDate)</td>
                                            <td class="col-deal">@item.Status</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="10">No Record Found</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>