@model MeherEstateDevelopers.Models.Receipts_Pending
<input type="hidden" name="ReceiptId" id="rece-id" value="@Model.Id" />
<div class="form-row">
    <div class="form-group col-md-2">
        <label>Receipt No.</label>
        <h6>@Model.ReceiptNo</h6>
    </div>
    <div class="form-group col-md-2">
        <label>Amount</label>
        <h6>@string.Format("{0:n0}", Model.Amount)</h6>
    </div>
    <div class="form-group col-md-2">
        <label>Payment Type</label>
        <h6 id="paytype">@Model.PaymentType</h6>
    </div>
    @if (Model.PaymentType != "Cash")
    {
        <div class="form-group col-md-2">
            <label>Bank</label>
            <h6> @Model.Bank</h6>
        </div>
        <div class="form-group col-md-2">
            <label>@Model.PaymentType No</label>
            <h6> @Model.Ch_Pay_Draft_No</h6>
        </div>
    }
</div>
<div class="form-row">
    <div class="form-group col-md-2">
        <label>-</label>
        <select class="form-control modu">
            <option value="PlotManagement">Plots</option>
            <option value="FileManagement">File</option>
            <option value="CommercialManagement">Appartment / Shop / Office</option>
        </select>
    </div>
    <div class="form-group col-md-2 file-plt-blks">
        <label>Block</label>
        @Html.DropDownList("Block", null, "Choose..", new { @class = "form-control block-nam blk-plotss", required = "" })
    </div>
    <div class="form-group col-md-2 plt-field">
        <label>Type</label>
        <select class="form-control blk-plots" id="plot-type">
            <option value="Residential">Residential</option>
            <option value="Commercial">Commercial</option>
        </select>
    </div>
    <div class="form-group col-md-2 plt-field">
        <label>Plot No</label>
        <select class="form-control" id="plot-details">
            <option>Select Block</option>
        </select>
    </div>
    <div class="form-group col-md-2 file-field" style="display:none">
        <label>File Number</label>
        <input class="form-control"  id="file_num" />
    </div>
    <div class="form-group col-md-2 com-field" style="display:none">
        <label>Projects</label>
        @Html.DropDownList("Projects", null, "Choose..", new { @class = "form-control proj-types", required = "" })
    </div>
    <div class="form-group col-md-2 com-field" style="display:none">
        <label>Select Floor</label>
        <select class="form-control prj-phase" id="phase-type"></select>
    </div>
    <div class="form-group col-md-2 com-field" style="display:none">
        <label>Unit No</label>
        <select class="form-control" id="shp-lst"></select>
    </div>




    <div class="col-md-1 plt-field">
        <button class="btn btn-info" id="sear-plt-short" style="margin-top:29px">Search</button>
    </div>
    <div class="col-md-1 file-field" style="display:none">
        <button class="btn btn-info" id="sear-file-short" style="margin-top:29px">Search</button>
    </div>
    <div class="col-md-1 com-field" style="display:none">
        <button class="btn btn-info sear-com-short" style="margin-top:29px">Search</button>
    </div>
</div>

<div class="form-row">
    <div class="col-md-12" id="plot-det"></div>
</div>
<script>
    $(document).on("change", ".modu", function () {
        var mod = $('.modu').val();
        if (mod == "FileManagement") {
            $(".plt-field").hide();
            $(".com-field").hide();
            $(".file-field").show();
            $(".file-plt-blks").show();
        }
        else if (mod == "PlotManagement") {
            $(".plt-field").show();
            $(".com-field").hide();
            $(".file-field").hide();
            $(".file-plt-blks").show();
        }
        else {
            $(".plt-field").hide();
            $(".com-field").show();
            $(".file-field").hide();
            $(".file-plt-blks").hide();
        }
    });

    $(function () {
        $('.modal-footer').append('<button class="btn btn-primary" id="ad-rec-adj-unspr-pndg-req" type="button">Update</button>');
        $(".modal-header").text("Update Request");
    });


    
</script>