@model MeherEstateDevelopers.Models.Sp_Get_Receipt_Parameter_ById_Result

@using (Html.BeginForm("ReceiptsDetail", "Finance", FormMethod.Post, new { @id = "up-re-refrm", @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="ReceiptId" value="@Model.Id"/>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Name</label>
            <h6> @Model.Name</h6>
        </div>
        <div class="form-group col-md-3">
            <label>Father Name</label>
            <h6>@Model.Father_Name</h6>
        </div>
        <div class="form-group col-md-3">
            <label>File / Plot No.</label>
            <h6> @Model.File_Plot_No</h6>
        </div>
        <div class="form-group col-md-3">
            <label>Size</label>
            <h6> @Model.Size</h6>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Receipt No.</label>
            <h6> @Model.ReceiptNo</h6>
        </div>
        <div class="form-group col-md-2">
            <label>Amount</label>
            <h6>@string.Format("{0:n0}", Model.Amount)</h6>
        </div>
        <div class="form-group col-md-2">
            <label>Payment Type</label>
            <h6> @Model.PaymentType</h6>
        </div>
        <div class="form-group col-md-2">
            <label>Bank</label>
            <h6> @Model.Bank</h6>
        </div>
        <div class="form-group col-md-2">
            <label>@Model.PaymentType No</label>
            <h6> @Model.Ch_Pay_Draft_No</h6>
        </div>
        <div class="form-group col-md-2">
            <label>@Model.PaymentType Date</label>
            <h6> @string.Format("{0:D}", Model.Ch_Pay_Draft_Date)</h6>
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-md-2">
            <label>Bank</label>
            @Html.DropDownList("Bank", null, "Choose..", new { @class = "form-control" })
        </div>
        <div class="form-group col-md-2">
            <label>Payment Type</label>
            <select class="form-control" name="PaymentType" id="cah-chq-bak" required>
                <option value="Cash">Cash</option>
                <option value="BankDraft">Bank Draft</option>
                <option value="Cheque">Cheque</option>
                <option value="PayOrder">Pay Order</option>
                <option value="Online_Cash">Online - Cash</option>
                <option value="Online_Cheque">Online - Cheque</option>
                <option value="Online_Payorder">Online - PayOrder</option>
                <option value="Online_Bankdraft">Online - BankDraft</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>Cheque PayOrder No</label>
            <input type="text" class="form-control" name="Ch_Pay_Draft_No" />
        </div>
        <div class="form-group col-md-2">
            <label>Cheque PayOrder Date</label>
            <input type="text" class="form-control" data-provide="datepicker" name="Ch_Pay_Draft_date" />
        </div>

        <div class="form-group col-md-3">
            <label>Description</label>
            <textarea name="Description" class="form-control"></textarea>
        </div>
    </div>
}
<script>
    $(function () {
        $('.modal-footer').append('<button class="btn btn-primary" id="up-req-cbp" type="button">Request</button>');
        $(".modal-header").text("Update Request");
    });
</script>