@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_EmployeeLeave_Management_Result>
<h4 class="c-grey-900 mB-20">My Pending Leaves</h4>
<table class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Leave Type</th>
            <th>Reason</th>
            <th>From</th>
            <th>To</th>
            <th>Number Of Days</th>

        </tr>
    </thead>
    <tbody>
        @{
            if (!Model.Any())
            {
                <tr><td colspan="7" style="text-align:center">No data available</td></tr>
            }
            else
            {
                foreach (var item in Model.OrderByDescending(x => x.CreatedAt))
                {
                <tr class=" pointer" id="@item.Id">
                    <td>@item.Name</td>
                    <td>@item.LeaveType</td>
                    <td>@item.Reason</td>
                    <td> @string.Format("{0: dd-MMM-yyyy}", item.StartDate)</td>
                    <td> @string.Format("{0: dd-MMM-yyyy}", item.EndDate)</td>

                    @if (item.Status == null && item.AvailLeave == "HalfDay")
                    {
                        <td>2 Half Day</td>
                    }
                    else if (item.Status == 1 && item.AvailLeave == "HalfDay")
                    {
                        <td>1 Half Day</td>
                    }
                    else
                    {
                        <td>@item.NoOfDays</td>
                    }
                </tr>
                }
            }
        }
    </tbody>
</table>



