@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_DealershipFilesReport_Result>
@using MeherEstateDevelopers.Models
@{ 
    var all = Model.Select(x => new { x.Id, x.FileFormNumber, x.Plot_Size, Status = ((FileStatus)x.Status).ToString(), x.Development_Charges, Date = string.Format("{0:dd-MMM-yyyy}", x.Date), Reg_Date = string.Format("{0:dd-MMM-yyyy}", x.Reg_Date) });
}    
<script>
    var files = @Html.Raw(Json.Encode(all));
    </script>
<h4>File Details</h4>
@{
    if (Model.Any())
    {
        int sr1 = 1;
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Sr.</th>
                    <th>Plot Size</th>
                    <th>Phase</th>
                    <th>Block</th>
                    <th>Development Charges</th>
                    <th>Register</th>
                    <th>Pending</th>
                    <th>Cancelled</th>
                    <th>Total Form</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.OrderBy(x=>x.Plot_Size).GroupBy(x => new { x.Plot_Size, x.Phase_Name, x.Development_Charges, x.Block_Name }))
                {
                    string devchar = "";
                    if (item.Key.Development_Charges == true)
                    {
                        devchar = "WDC";
                    }
                    else if (item.Key.Development_Charges == false)
                    {
                        devchar = "NDC";
                    }
                    else
                    {
                        devchar = "-";
                    }
                    <tr>
                        <td>@sr1</td>
                        <td>@item.Key.Plot_Size</td>
                        <td>@item.Key.Phase_Name</td>
                        <td>@item.Key.Block_Name</td>
                        <td>@devchar</td>
                        <td>@item.Count(x => x.Status == 1)</td>
                        <td>@item.Count(x => x.Status == 2)</td>
                        <td>@item.Count(x => x.Status == 0)</td>
                        <td>@item.Count()</td>
                    </tr>
                    sr1++;
                }
            </tbody>
        </table>
        <table class="table table-striped table-bordered">
            <tr><th>Total Files : @Model.Count()</th></tr>
            <tr>
                @foreach (var item in Model.GroupBy(x => new { x.Plot_Size }))
                {
                    <td>@item.Key.Plot_Size : @item.Count()</td>
                }
            </tr>
        </table>
    }
    else
    {
        <table class="table table-striped table-bordered">
            <tr>
                <td colspan="8" align="center">No files Deliverd Yet</td>
            </tr>
        </table>
    }
}