@model MeherEstateDevelopers.Models.OverdueQualifying_Plots

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Reminder</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 30px;
            /*padding: 5px;*/
        }

        header {
            text-align: right;
            margin-bottom: 40px;
        }

        h2, h3 {
            margin-bottom: 5px;
        }

        ol, ul {
            margin-top: 5px;
            margin-bottom: 10px;
        }

        footer {
            text-align: right;
            position: fixed;
            bottom: 70px;
            right: 65px; /* Adjusted right margin for the signature */
            width: calc(100% - 40px); /* Calculated width to match the company details */
            padding-top: 10px;
        }

        .signature-line {
            border-top: 2px solid #000;
            margin-top: 10px;
            margin-left: 65%; /* Right margin for the signature line */
            width: 35%; /* Match the width of the company details */
        }
    </style>
</head>
<body>
    <header>
        <p><b><u>COMPANY DETAILS</u></b></p>
        <p>Telephone No.</p>
        <p>0544-111-11-55-11</p>
        <p>0333-0862601</p>
        <p>0333-0862603</p>
        <p>Dated @DateTime.Now.ToString("dd MMMM, yyyy")</p>
    </header>

    <div>
        <h4><b>To: @Model.Name</b></h4>
        @*<p>Reg No. A2EX-0010</p>*@
        <p><b>Plot No</b> @Model.Plot_No</p>
        @*<p>Payment Code. 10-M</p>*@
        <p><b>Mobile No.</b> @Model.Mobile_1</p>
        <p><b>Address.</b> @Model.PostalAddress</p>
    </div>

    <div>
        <h3><b>Subject: <u>Cancellation of Provisional Residential Plot, Plot No. @Model.Plot_No Measuring @Model.Plot_Size</u></b></h3>
        <ol>
            <li>
                <p>That plot was provisionally booked in your name, and Management of 'The Grand City' regrets to point out that Rs. <b>@string.Format("{0:n0}", Math.Round(Convert.ToDecimal(Model.OverDueAmount)))/-</b> are outstanding against your subject provisional plot.</p>
            </li>
            <li>
                <p>In pursuance of 1st and 2nd Reminder Letters regarding the clearance of outstanding dues against your provisional plot in The Grand City, you have not paid installments of the due amount as per the payment plan agreed upon by you. The Management has intimated to you regarding outstanding installments against your provisional plot, but there is no response on your behalf till today.</p>
            </li>
            <li>
                <p>The provisional allotment / sale agreement of the subject provisional plot is hereby canceled due to the non-deposit of installments / outstanding dues. Kindly submit the original file and other documents to the Customer Services Department. We appreciate the relationship we had and thank you for providing us the opportunity to serve you.</p>
            </li>
            <li>
                <p>You may visit our Head Office or Site Office during working hours for further assistance, please.</p>
            </li>
        </ol>
    </div>

    <footer>
        <div class="signature-line"></div>
        <p>Company Official Signature</p>
    </footer>
</body>
</html>


@*<p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>
    <p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>
    <p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>
    <p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>
    <p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>*@
<!--<div class="main-lt-cont">
    <div class="lh-head" style="display: flex; justify-content: center; align-items: center; padding-top:2%;">

        <img src="~/images/LH-Head.png" style="width:15%; height:15%;" />
    </div>
    <div class="lt-cont">
        <p style="text-align: center;"><strong><u><span style="font-size: 14.0pt; font-family: 'Abadi',sans-serif;">@Model.Block_Name – Plot Cancellation Letter</span></u></strong></p>
        <p><strong><span style="font-family: 'Abadi',sans-serif;">Respected Customer,</span></strong></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Hope you are having a great day!</span></p>

        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1.3"><span style="font-family: 'Abadi',sans-serif;">This is to inform you that your plot in @Model.Block_Name Block, Meher Estate Developers has been cancelled on account of a considerable remaining amount due on your part. You have been reminded two times before via written notices dated @string.Format("{0:dd-MMMM-yyyy}", Model.FirstNotice) & @string.Format("{0:dd-MMMM-yyyy}", Model.SecNotice) followed up by an SMS as well by the society, however, despite these notices, you haven’t paid your remaining amount.</span></p>

        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Name: @Model.Name</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Plot Number: @Model.Plot_No - @Model.Type - @Model.Block_Name</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Plot Size: @Model.Plot_Size</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Balance Amount: @string.Format("{0:n0}", Math.Round(Convert.ToDecimal(Model.OverDueAmount)))</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Due Installments: @Model.Installments</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">First Warning Date: @string.Format("{0:dd-MMMM-yyyy}", Model.CancelNotice)</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1.3"><span style="font-family: 'Abadi',sans-serif;">Therefore; in accordance with terms and conditions applied by Meher Estate Developers your plot has been cancelled. You are kindly requested to visit out Head Office and submit your complete documents for the processing of your refund.</span></p>

        <p style="line-height:1.3"><strong><span style="font-family: 'Abadi',sans-serif;">Note: If there is any ambiguity in this case, please visit our Head Office along with the complete file and receipts in 7 days’ time for rectification.</span></strong></p>

        <p></p>
        <p><span style="font-family: 'Abadi',sans-serif;">Regards,</span></p>
        <p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">_________________</span></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Muhammad Naeem, </span></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Manager Plots,</span></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Date: @string.Format("{0:dd-MMMM-yyyy}", DateTime.Now)</span></p>
        <p style="line-height:1;font-size:20px"><span style="font-family: 'Abadi',sans-serif;"><b>042-111-724-786</b></span></p>
    </div>-->
@*<div class="lh-foot"><img src="~/images/LH-Footer.png" style="width:100%" /></div>*@
<!--</div>

<style>
    @@page {
        margin: 0 !important;
    }

    p {
        color: black !important;
        font-size: 14px
    }

    .lt-cont {
        padding: 10px 2% !important
    }

    .main-lt-cont {
        width: 60%;
    }

    @@media print {
        @@Page {
            size: A4
        }

        .main-lt-cont {
            width: 100%;
        }

        .lh-foot {
            position: fixed;
            bottom: 0;
        }

        .lt-cont {
            padding: 10px 2% !important
        }
    }
</style>-->
