@model MeherEstateDevelopers.Models.PlotNOC
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body {
            font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
        }
    </style>
</head>
<body>


    @if (Model.Serial_No == null)
    {
        <table cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="600px" align="center" valign=bottom style="font-weight:bold"><font size="7">Plot N.O.C. Can not be Generated Due to @ViewBag.OverdueReason</font></td>
            </tr>
        </table>
    }
    else
    {
        <table cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="1000px" align="left" valign=bottom style="font-weight:bold"><b>Serial No. </b><u>  @Model.Serial_No</u></td>
            </tr>
            <tr>
                <td width="1000px" align="center" valign=bottom style="font-weight:bold"><font size="7">Plot N.O.C.</font></td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1000px;font-size: 21px;">
            <tr>
                <td width="1000px" cellspacing="0" border="0" align="center" valign=bottom style="line-height: 10px;">
                    @if (Model.Registery == true)
                    {
                        <span>Registry Plot </span>
                    }
                    @if (Model.Mortgage == true)
                    {
                        <span>Mortgaged PLot </span>
                    }
                    @if (Model.Dup_Allotment_Letter == 1)
                    {
                        <span>Duplicate Allotment Letter </span>
                    }
                </td>
            </tr>
           
        </table>
        <table cellspacing="0" border="0" style="width:1000px;font-size: 21px">
            <tr>
                <td align="left" valign=bottom style="line-height: 44px;">
                    <p>
                        This is to certify that Mr/Mrs/Miss &nbsp; <u><b> @Model.Name</b></u> &nbsp; owns a  <u><b>@Model.Type</b></u>  Plot  &nbsp; <u><b> @Model.Plot_No</b></u> &nbsp; Block  &nbsp; <u><b> @Model.Block</b></u>  Size  <u> <b> @Model.Size </b> </u>  &nbsp;
                        in  &nbsp; <u><b>@Model.Phase</b></u>&nbsp;in <b> Meher Estate Developers</b> &nbsp;
                    </p>
                </td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1000px;font-size: 19px;margin: 5px 0 50px 0">
            <tr>
                <td width="1000px" align="left" valign=bottom style="font-weight:bold">Dealership Name : @ViewBag.Dealership</td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1000px;font-size: 19px;margin: 5px 0 50px 0">
            <tr>
                <td width="1000px" align="left" valign=bottom style="">All Dues have been Paid and nothing is outstanding against this plot.</td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1000px;font-size: 19px;margin: 5px 0 50px 0">
            <tr>
                <td width="1000px" align="left" valign=bottom style="">
                    @if (ViewBag.Purpose == "GaswaterElectricity")
                    {
                        <p>This NOC is Issued for the Purpose of <u><b>Water, Gas and Electricity Connections .</b></u>.</p>
                    }
                    else
                    {
                        <p>This NOC is Issued for the Purpose of <u><b>@ViewBag.Purpose . </b></u></p>
                    }
                </td>
            </tr>
        </table>
        @*<table cellspacing="0" border="0" style="width:1000px;font-size: 22px;">
                <tr>
                    <td width="200px" align="left" valign=bottom style="font-weight:bold;">Installments Paid</td>
                    <td width="180px" align="left" style="border-bottom:1px solid" valign=bottom> Rs. @string.Format("{0:n0}", Math.Round(Model.TotalAmt)) /- </td>
                    <td width="640"></td>
                </tr>
            </table>
            <table cellspacing="0" border="0" style="width:1000px;font-size: 22px;margin-top: 50px;">
                <tr>
                    <td width="200px" align="left" valign=bottom style="font-weight:bold;">Installments Due</td>
                    <td width="180px" align="left" style="border-bottom:1px solid" valign=bottom> Rs. @string.Format("{0:n0}", Math.Round(Model.DueAmt)) /- </td>
                    <td width="640"></td>
                </tr>
            </table>*@
        <table cellspacing="0" border="0" style="width:1000px;font-size: 22px;margin-top: 20px;">
            <tr>
                <td width="1000px" align="left" valign=bottom>NOTE:</td>
            </tr>
            <tr>
                <td width="1000px" align="left" valign=bottom style="font-weight:bold;margin-top:8px">  - &nbsp; &nbsp;&nbsp; &nbsp;This NOC is valid for 15 DAYS from the date of issue.</td>
            </tr>
            <tr>
                <td width="1000px" align="left" valign=bottom style="font-weight:bold"> - &nbsp; &nbsp;&nbsp; &nbsp;This NOC is issued on specific Request of @ViewBag.Dealership </td>
            </tr>
            <tr>
                <td width="1000px" align="left" valign=bottom style="font-weight:bold"> - &nbsp; &nbsp;&nbsp; &nbsp;SA Garden is not liable for any errors and the consequences thereby to anyone. </td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1000px;font-size: 20px;margin-top: 30px;">
            <tr>
                <td width="50px" align="left" valign=bottom style="font-weight:bold;">Date</td>
                <td width="300px" align="center" style="border-bottom:1px solid" valign=bottom> @string.Format("{0:D}", Model.DateTime) </td>
                <td width="650"></td>
            </tr>
        </table>
        <table style="width:1000px;margin-top:80px;font-size: 25px;">
            <tbody>
                <tr>
                    <td width="500" align="left"><b>@ViewBag.Name</b></td>
                    <td width="500"></td>
                </tr>
                <tr>
                    <td width="500" align="left"><b>Plots Manager</b></td>
                    <td width="500" align="left"></td>
                </tr>
            </tbody>
        </table>

    }

    <table cellspacing="0" border="0" style="width:1000px;font-size: 22px;margin-top: 10px;">
        <tr>
            <td width="1000px" align="center" valign=bottom style="padding-right: 95px;">
                <img src="~/assets/static/images/URDU LOGO.png" width=450 height=125>
            </td>
        </tr>
    </table>
    @*@if (Model.Serial_No == null)
        {
            <table cellspacing="0" border="0" style="width:1000px">
                <tr>
                    <td width="600px" align="center" valign=bottom style="font-weight:bold"><font size="7">Plot N.O.C. Can not be Generated Due to @ViewBag.OverdueReason</font></td>
                </tr>
            </table>
        }
        else
        {
            <table cellspacing="0" border="0" style="width:1000px">
                <tr>
                    <td width="200px" align="center" valign=bottom style="font-weight:bold"><b>Serial No.</b> @Model.Serial_No</td>
                    <td width="600px" align="center" valign=bottom style="font-weight:bold"><font size="7">Plot N.O.C.</font></td>
                    @if (Model.Registery == true)
                    {
                        <td width="600px" align="center" valign=bottom style="font-weight:bold"><font size="5">Registry Plot</font></td>
                    }
                    <td width="200px" align="center" valign=bottom style="font-weight:bold"></td>
                </tr>
            </table>
            <table cellspacing="0" border="0" style="width:1000px;font-size: 21px;margin-top: 50px;">
                <tr>
                    <td align="left" valign=bottom style="line-height: 44px;">
                        <p>
                            <b>This is to certify that <b> Plot </b> &nbsp; <u> @Model.Plot_No  -  @Model.Type  </u> &nbsp;<b> Block </b> &nbsp; <u> @Model.Block</u> <b> Size </b> <u> @Model.Size  </u>  &nbsp;
                            <b>in </b> &nbsp; <u>@Model.Phase</u> &nbsp; <b>in Meher Estate Developers is Updated/Clear till dated</b> &nbsp;
                        </p>
                    </td>
                </tr>
            </table>
            <table cellspacing="0" border="0" style="width:1000px;font-size: 19px;margin: 5px 0 50px 0">
                <tr>
                    <td width="1000px" align="left" valign=bottom style="font-weight:bold">Dealership Name : @ViewBag.Dealership</td>
                </tr>
            </table>
            <table cellspacing="0" border="0" style="width:1000px;font-size: 22px;margin-top: 30px;">
                <tr>
                    <td width="1000px" align="left" valign=bottom><b>NOTE:</b></td>
                </tr>
                <tr>
                    <td width="1000px" align="left" valign=bottom>- This NOC is valid for 15 DAYS from the date of issue.</td>
                </tr>
                <tr>
                    <td width="1000px" align="left" valign=bottom>- This NOC is issued on the basis of existing Data in our Record. In case of any objection by our Audit Department, this NOC will be considered CANCELLED</td>
                </tr>
            </table>
            <table cellspacing="0" border="0" style="width:1000px;font-size: 20px;margin-top: 30px;">
                <tr>
                    <td width="50px" align="left" valign=bottom style="font-weight:bold;">Date</td>
                    <td width="300px" align="center" style="border-bottom:1px solid" valign=bottom> @string.Format("{0:D}", Model.DateTime) </td>
                    <td width="650"></td>
                </tr>
            </table>
            <table style="width:1000px;margin-top:80px;font-size: 25px;">
                <tbody>
                    <tr>
                        <td width="500" align="left"><b>@ViewBag.Name</b></td>
                        <td width="500"></td>
                    </tr>
                    <tr>
                        <td width="500" align="left"><b>Plots Manager</b></td>
                        <td width="500" align="left"></td>
                    </tr>
                </tbody>
            </table>
        }
        <table cellspacing="0" border="0" style="width:1000px;font-size: 22px;margin-top: 10px;">
            <tr>
                <td width="1000px" align="center" valign=bottom style="padding-right: 95px;">
                    <img src="~/assets/static/images/footer_urdu_logo.png" width=450 height=125>
                </td>
            </tr>
        </table>*@
</body>
</html>


@*<script>

    $(document).on("change", ".chck_posession_NOC", function (e) {
        debugger
        var PlotId = $(this).attr("id");
        var text = $("option:selected", this).text();
        if (text == 'Select Purpose') {
            return false;
        }
        if (text != 'Possession') {
            return false;
        }
        $.ajax({
            type: "POST",
            url: '/Plots/CheckPosessionNOC/',
            data: { PlotId: PlotId },
            success: function (data) {
                if (!data) {

                    $("#Possession").prop('disabled', true);
                    $('.chck_posession_NOC')
                        .find('option')
                        .remove()
                        .end()
                        .append('<option value="" class="select">Select Purpose</option><option value="Record">Record</option><option value="Transfer">Transfer</option><option value="GWE">Gas, Water, & Electricity </option><option disabled dis id="Possession">Possession</option>')
                        ;
                    alert("Total Payment is Not Paid");
                }
            },
            error: function () {
                debugger
                alert("Error Occured");

            }
        });
    });
</script>*@
