@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_EmployeeFilePlotInfo_Result>
@{
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<style>
    table thead tr th, table tbody tr td {
        font-size: 12px;
    }
</style>
<table id="EmpPlot-list" class="table  table-bordered " cellspacing="0" width="100%" style="margin-left:0%">
    <thead class="thead-dark">
        <tr>
            <th>Sr.</th>
            <th>Name</th>
            <th>Father Name</th>
            <th>Mobile</th>
            <th>CNIC</th>
            <th>Department</th>
            <th>Status</th>
            <th>Module</th>
            <th>File Number</th>
            <th>Plot Size</th>
            <th>Block Name</th>
            <th>Plot Type</th>
            <th>Total Amount</th>
            <th>Received Amount</th>
            <th>Installments</th>

        </tr>
    </thead>

    <tbody>
        @{
            if (Model.Any())
            {
                int i = 1;
                foreach (var item in Model)
                {
                    string color = "";
                    if (item.Emp_Status != "Registered" )
                    {
                        color = "bgc-red-50";
                    }
                    <tr class="@color">
                        <td>@i</td>
                        <td>@item.Name</td>
                        <td>@item.Father_Husband</td>
                        <td>@item.Mobile_1</td>
                        <td>@item.CNIC_NICOP</td>
                        <td>@item.Department_Designation</td>
                        <td>@item.Emp_Status</td>
                        <td>@item.Module</td>
                        <td>@item.Plot_No</td>
                        <td>@item.Plot_Size</td>
                        <td>@item.Block_Name</td>
                        <td>@item.Plot_Type</td>
                        <td>@string.Format("{0:n0}",item.Total_Amount)</td>
                        <td>@string.Format("{0:n0}",item.Received_Amount)</td>
                        <td>@string.Format("{0:n0}",item.Installments)</td>
                    </tr>
                    i++;
                }

            }
        }
    </tbody>

</table>
<script>

    $(document).ready(function () {
        $('#inv-rep').DataTable({
            ordering: false
        });
    });

    $(document).ready(function () {
        $('#EmpPlot-list').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf', 'print'
            ]
        });
    });


</script>

<style>
    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
    }
</style>
