@model Management_Information_System.Models.PlotDetailData

@if (Model.PlotInstallments.Any())
{
    <div class="col-md-5" style="max-height:500px; overflow-y:scroll">
        <table class="table table-striped table-borderless dark-table" cellspacing="0" width="100%" style="margin-bottom:0px">
            <thead class="thead-new-dark">
                <tr>
                    <th>Installment</th>
                    <th>Amount</th>
                    <th>Due Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal overduetotal = 0;
                    foreach (var item in Model.PlotInstallments)
                    {

                        var statuscolor = "";
                        if (item.Status == "NotPaid")
                        {
                            statuscolor = "bgc-red-50";
                            overduetotal = overduetotal + item.Amount;
                        }
                        else if (item.Status == "Paid")
                        {
                            statuscolor = "bgc-green-50";
                        }
                        if (item.Installment_Name == "Advance")
                        {
                            @*<script>
                                var res = "@string.Format("{0:MMM dd yyyy}", item.DueDate)";
                                $("#booking-date").text(res);
                                        </script>*@
                        }

                        <tr class="@statuscolor">
                            <td>@item.Installment_Name</td>
                            <td>@string.Format("{0:n0}", item.Amount)</td>
                            <td>@string.Format("{0:dd-MMM-yyyy}", item.DueDate)</td>
                            <td>@item.Status</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
@if (Model.PlotReceipts.Any())
{
    <div class="col-md-7" style="max-height:500px; overflow-y:scroll">
        @foreach (var g in Model.PlotReceipts.GroupBy(x => x.Type))
        {
            <table class="table table-striped table-borderless dark-table" cellspacing="0" width="100%" style="margin-bottom:0px">
                <thead class="thead-new-dark">
                    <tr>
                        <th colspan="8">@g.Key</th>
                    </tr>
                    <tr>
                        <th>Sr.</th>
                        <th>Receipt No.</th>
                        <th>Inst No.</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{ int srcount = 1;
                        foreach (var item in g)
                        {
                            string stat = "";
                            if (item.Status == "Pending")
                            {
                                stat = "bgc-yellow-50";
                            }
                            else if (item.Status == "Dishonored")
                            {
                                stat = "bgc-red-50";
                            }
                            else if (item.Status == "Approved")
                            {
                                stat = "bgc-green-50";
                            }
                            else if (item.Status == "Deposited")
                            {
                                stat = "bgc-orange-50";
                            }
                            else
                            {
                                stat = "";
                            }
                            <tr class="@stat" id="@item.Id">
                                <td>@srcount</td>
                                <td>@item.ReceiptNo</td>
                                <td>@string.Format("{0:n0}", item.Ch_Pay_Draft_No)</td>
                                <td>@item.PaymentType</td>
                                <td>@item.Status</td>
                                <td>@string.Format("{0:n0}", item.Amount)</td>
                                <td>@string.Format("{0:dd-MMM-yyyy}", item.DateTime)</td>
                                <td>
                                    <ul style="list-style:none;margin-left:0px;">
                                        <li class="dropdown">
                                            <a href="" class="dropdown-toggle no-after peers " data-toggle="dropdown">
                                                <i class="ti-more-alt" style="transform:rotate(90deg);"></i>
                                            </a>
                                            <ul class="dropdown-menu" style="padding:10px;width:auto !important">
                                                <li><a id="@item.Id" class="pointer get-rec-data" data-toggle="modal" data-target="#Modal"><span>Update</span></a></li>
                                                <hr />
                                                <li><a id="" class="del-rec pointer"><span>Delete</span></a></li>
                                                <hr />
                                                <li><a id="" class="rece-refund-pop pointer" data-toggle="modal" data-target="#Modal"><span>Refund</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            srcount++;
                        }
                    }
                </tbody>
            </table>
        }
    </div>
}

<script>
    $(document).ready(function () {
        
    });
</script>