@model MeherEstateDevelopers.Models.PlotDetailData
<link href="~/Content/albery.css" rel="stylesheet" />
@if (Model.PlotOwners.Any())
{
    if (Model.PlotData.Verified == true)
    {
        <script>
            var html = '<div class="alert alert-success" style="text-align:center" role="alert">This Plot is Verified &nbsp &nbsp &nbsp <i class="ti-check"></i></div>';
            $("#file-trans-alert").prepend(html);
        </script>
    }
    else
    {
        <script>
            $("#file-trans-alert").empty();
        </script>
    }
    <div class="bgc-white p-20 bd">
        <div class="form-row">
            <div class="row">
                <div class="col-md-4">
                    @if (Model.PlotData.Status == "Repurchased")
                    {
                        <div class="alert alert-info" style="text-align:center" role="alert">This Plot is Repurchased by Company<i class="ti-check"></i></div>
                    }
                    else if (Model.PlotData.Status == "Disputed")
                    {
                        <div class="alert alert-warning" style="text-align:center" role="alert">This Plot is Disputed <i class="ti-check"></i></div>
                    }
                    else if (Model.PlotData.Status == "CancelledDueAmount")
                    {
                        <div class="col-md-4"><div class="alert alert-danger" style="text-align:center" role="alert">This Plot is Cancelled Due to Over Due Amount<i class="ti-check"></i></div></div>
                    }
                    else if (Model.PlotData.Status == "Cancelled")
                    {
                        <div class="col-md-4"><div class="alert alert-danger" style="text-align:center" role="alert">This Plot is Cancelled By Company<i class="ti-check"></i></div></div>
                    }
                    else if (Model.PlotData.Status == "Hold")
                    {
                        <div class="alert alert-dark" style="text-align:center" role="alert">This Plot is Holded by Company<i class="ti-check"></i></div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                    @{
                        if (Model.PlotData.Status == "Disputed")
                        {
                            <input type="checkbox" value="@Model.PlotData.Id" class="peer plt-stat" checked>
                        }
                        else
                        {
                            <input type="checkbox" value="@Model.PlotData.Id" class="peer plt-stat">
                        }
                    }
                    <label class="peers peer-greed js-sb ai-c">
                        <span class="peer peer-greed ser-ch-nam" style="font-weight:bold">Is Plot Disputed </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="mT-30">
            <div class="form-row row">
                <div class="col-md-12">
                    <div class="form-row">
                        <div class="form-group col-md-1">
                            <label>Plot No.</label>
                            <h5 id="plt-no">@Model.PlotData.Plot_No</h5>
                            <input type="hidden" class="form-control" id="plt-id" name="Plot_Id" value="@Model.PlotData.Id" readonly>
                        </div>
                        <div class="form-group col-md-1">
                            <label>Plot Size</label>
                            <h5 id="plt-size">@Model.PlotData.Plot_Size</h5>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Type</label>
                            <h5 id="plt-type">@Model.PlotData.Type</h5>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Dimension</label>
                            <h5 id="plt-dim">@Model.PlotData.Dimension</h5>
                        </div>
                        <div class="form-group col-md-1">
                            <label>Develop Status</label>
                            <h5 id="plt-status">@Model.PlotData.Develop_Status</h5>
                        </div>
                        <div class="form-group col-md-1">
                            <label>Road</label>
                            <h5 id="plt-road">@Model.PlotData.Road_Type</h5>
                        </div>
                        <div class="form-group col-md-1">
                            <label>Area</label>
                            <h5 id="plt-area">@Model.PlotData.Area</h5>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Location</label>
                            <h5 id="plt-loc">@Model.PlotData.Plot_Location</h5>
                        </div>
                    </div>
                    <h6>Booking Details</h6>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Plot Price</label>
                            <h5 id="plt-price"></h5>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Booking Date</label>
                            <h5 id="booking-date"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="mT-30">
            @{ int ownercount = 1;
                foreach (var item in Model.PlotOwners)
                {
                    <h6 class="c-grey-900">@ownercount Owner Information</h6>
                    if (ownercount == 1)
                    {
                        <script>
                            var pltprice = " @item.Total_Price";
                            $("#plt-price").text(pltprice);
                        </script>
                    }
                    <div class="own-det">
                        <div class="form-row row close-info">
                            <div class="col-md-10">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="Name" value="@item.Name" required>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Father's/Husband's Name</label>
                                        <input type="text" class="form-control" name="Father_Husband" value="@item.Father_Husband" required>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>CNIC / NICOP</label>
                                        <input type="text" class="form-control" name="CNIC_NICOP" value="@item.CNIC_NICOP" placeholder="12345-1234567-1   or   123456-123456-1" required>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Date Of Birth</label>
                                        <input type="text" class="form-control" data-provide="datepicker" value="@item.Date_Of_Birth" placeholder="mm/dd/yyyy" name="Date_Of_Birth" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Postal Address</label>
                                        <input type="text" class="form-control" name="Postal_Address" value="@item.Postal_Address" placeholder="1234 Main St" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Residential Address</label>
                                        <input type="text" class="form-control" name="Residential_Address" value="@item.Residential_Address" placeholder="Apartment, Plot, or floor" required>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>City</label>
                                        <input type="text" class="form-control" value="@item.City">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Occupation</label>
                                        <input type="text" class="form-control" value="@item.Occupation" name="Occupation">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Nationality</label>
                                        <input type="text" class="form-control" value="@item.Nationality" name="Nationality">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Email</label>
                                        <input type="text" class="form-control" value="@item.Email" name="Email">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label>Phone Office</label>
                                        <input type="text" class="form-control" value="@item.Phone_Office" name="Phone_Office">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Residential</label>
                                        <input type="text" class="form-control" value="@item.Residential" name="Residential">
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>Mobile 1</label>
                                        <input type="text" class="form-control" value="@item.Mobile_1" placeholder="03121234567" name="Mobile_1" required>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label>Mobile 2</label>
                                        <input type="text" class="form-control" value="@item.Mobile_1" pattern="^0\d{10}" placeholder="03121234567" name="Mobile_2">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <img style="margin-top:10px" src="@item.Owner_Img" width="200" height="200" id="own_img" />
                            </div>
                        </div>
                        <h6 class="c-grey-900">Nominee</h6>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label>Name</label>
                                <input type="text" class="form-control" value="@item.Nominee_Name" name="Nominee_Name">
                            </div>
                            <div class="form-group col-md-2">
                                <label>CNIC / NICOP</label>
                                <input type="text" class="form-control" value="@item.Nominee_CNIC_NICOP" placeholder="12345-1234567-1 or 123456-123456-1" name="Nominee_CNIC_NICOP">
                            </div>
                            <div class="form-group col-md-2">
                                <label>Relation</label>
                                <input class="form-control" value="@item.Nominee_Relation" name="Nominee_Relation" placeholder="">
                            </div>
                            <div class="form-group col-md-5">
                                <label>Address</label>
                                <input type="text" class="form-control" value="@item.Nominee_Address" name="Nominee_Address" placeholder="1234 Main St">
                            </div>
                        </div>
                    </div>
                    <hr />
                    ownercount++;
                }
            }
        </div>
        <div class="form-row ">
            <div class="albery-container" style="background-color: black;">
                <div class="albery-wrapper">
                    @{
                        foreach (var item in Model.PlotReceipts)
                        {
                            string img = item.Id + ".png";
                            <div class="albery-item">
                                <img title="@item.ReceiptNo" src="/PlotReceipts/Plots/@Model.PlotData.Id/@img" height="300" alt="">
                            </div>
                        }
                    }
                </div>
                <div class="move-right">
                    <a href="#" id="rightArrow">▶</a>
                </div>
                <div class="move-left">
                    <a href="#" id="leftArrow">◀</a>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5">
                <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="margin-bottom:0px">
                    <thead class="thead-dark">
                        <tr>
                            <th>Sr</th>
                            <th>Amount</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                </table>
                <div style="min-height:0px; max-height:500px;overflow:auto" class=" ps--active-y">
                    <table class="table table-striped table-bordered" id="all-instments" cellspacing="0" width="100%">
                        <tbody>
                            @{ foreach (var item in Model.PlotInstallments)
                                {
                                    if (item.Installment_Name == "Advance")
                                    {
                                        <script>
                    var res = " @string.Format("{0:MMM dd yyyy}", item.DueDate)";
                    $("#booking-date").text(res);
                                        </script>
                                    }
                                    <tr>
                                        <td>@item.Installment_Name</td>
                                        <td>@string.Format("{0:n0}", item.Amount)</td>
                                        <td>@string.Format("{0:dd-MMM-yyyy}", item.DueDate)</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-7">
                @foreach (var g in Model.PlotReceipts.GroupBy(x => x.Type))
                {
                    <table class="table table-striped table-bordered" id="rec-amts" cellspacing="0" width="100%" style="margin-bottom:0px">
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="7">@g.Key</th>
                            </tr>
                            <tr>
                                <th>Sr.</th>
                                <th>Receipt No.</th>
                                <th>Inst No.</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Verify</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int srcount = 1;
                                foreach (var item in g)
                                {
                                    string stat = "";
                                    if (item.Status == "Pending")
                                    {
                                        stat = "bgc-yellow-50";
                                    }
                                    else if (item.Status == "Dishonored")
                                    {
                                        stat = "bgc-red-50";
                                    }
                                    else if (item.Status == "Approved")
                                    {
                                        stat = "bgc-green-50";
                                    }
                                    else if (item.Status == "Deposited")
                                    {
                                        stat = "bgc-orange-50";
                                    }
                                    else
                                    {
                                        stat = "";
                                    }
                                    <tr class="@stat" id="@item.Id">
                                        <td>@srcount</td>
                                        <td>@item.ReceiptNo</td>
                                        <td>@string.Format("{0:n0}", item.Ch_Pay_Draft_No)</td>
                                        <td>@item.PaymentType</td>
                                        <td>@item.Status</td>
                                        <td>@string.Format("{0:n0}", item.Amount)</td>
                                        <td>@string.Format("{0:dd-MMM-yyyy}", item.DateTime)</td>
                                        @{
                                            if (User.IsInRole("Allotment Letter Requests"))
                                            {
                                                <td>
                                                    @{
                                                        if (item.Verified == true)
                                                        {
                                                            <input style="width:20px;height:20px" type="checkbox" class="all-rec" value="@item.Id" checked>
                                                        }
                                                        else
                                                        {
                                                            <input style="width:20px;height:20px" type="checkbox" class="all-rec" value="@item.Id">
                                                        }
                                                    }
                                                </td>
                                            }
                                        }
                                    </tr>
                                    srcount++;
                                }
                            }
                            <tr>
                                <td colspan="2"><a class="btn btn-primary" href="/Plots/PlotDetailReport?Plotid=@Model.PlotData.Id" target="_blank">Ledger Report</a></td>
                                <td colspan="4"> <button id="ver-all" style="display:none" class="btn btn-success">Verified and Ready For Allotment Letter</button></td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
        <div class="form-row">
            <div id="plot-rep">
                @{Html.RenderAction("PlotInstallmentsReports", "Plots", new { Plotid = Model.PlotData.Id });}
            </div>
        </div>

    </div>
    <script src="~/Scripts/albery.js"></script>
    <script>

        $(".albery-container").albery({
            speed: 500,
            imgWidth: 400,
        });

    </script>
}
else
{
    <script>
        $("#file-trans-alert").empty();
    </script>
    <div class="bgc-white p-20 bd">
        <h5 class="c-grey-900">No Record Found</h5>
    </div>
}