@model MeherEstateDevelopers.Models.LatestPlotDetailData
@{
    Layout = null;
    string[] types = { "Booking", "Installment" };
    var price = Math.Round(Model.PlotInstallments.Sum(x => x.Amount));
    var size = Convert.ToDecimal(Model.PlotData.Plot_Size.Split(' ')[0]);
    var rate = Math.Round((price / size), 2);
    var advaAmt = Model.PlotInstallments.SingleOrDefault(x => x.Installment_Name.Contains("Advance") || x.Installment_Name.Contains("Booking")).Amount;
    var advadate = Model.PlotInstallments.SingleOrDefault(x => x.Installment_Name.Contains("Advance") || x.Installment_Name.Contains("Booking")).DueDate;
    var AmtRec = Model.PlotReceipts.Where(x => types.Contains(x.Type) && x.Status != "Dishonored").Sum(x => x.Amount);
    var bal = Math.Round(Convert.ToDecimal(price - AmtRec), 2);
    var Ttlinst = Model.PlotInstallments.Count(x => !x.Installment_Name.Contains("Advance"));
    var Monthist = Model.PlotInstallments.FirstOrDefault(x => !x.Installment_Name.Contains("Advance"));
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="~/assets/styles/Dealertemplate/base.min.css" rel="stylesheet" />
    <link href="~/assets/styles/Dealertemplate/fancy.min.css" rel="stylesheet" />
    <link href="~/assets/styles/Dealertemplate/main.css" rel="stylesheet" />
    <title></title>
    <style>
        body, div, table, thead, tbody, tfoot, tr, th, td, p {
            font-family: "Calibri";
            font-size: 19px;
        }

        .w0 {
            width: 1000px !important;
        }

        p {
            margin-left: 5%;
            margin-right: 5%;
        }

        table {
            margin-left: 5%;
        }

            table tr td {
                padding: 5px;
            }

                table tr td p {
                    margin: 0;
                    padding: 5px;
                }

        @@media print {
            p {
                margin-left: 5%;
                margin-right: 5%;
            }

            table {
                margin-left: 5%;
            }

                table tr td {
                    padding: 5px;
                }
        }
    </style>
</head>
<body>
    <div id="page-container">
        <div id="pf1" class="pf w0" data-page-no="1">
            <center><img src="~/assets/static/images/logo2.png" width="200" height="90" style="padding-top: 5%"></center>
            <div style="margin-top:15%">
                <p align="center" style="background-color:#ccc;">
                    <strong>APPLICATION FORM</strong><br />
                    <strong>(Annexure-A)</strong>
                </p>
                <p>
                    <strong></strong>
                </p>
                <p>
                    <strong>Dear Sir</strong><br />
                    I / we, the undersigned request you to please register my / our name for booking of following Plot in your project    <strong>“Meher Estate Developers”</strong> on the prescribed schedule of payment:
                </p>
                <table border="1" style="width:450px;font-size:16px;border-collapse:collapse;float:left">
                    <tbody>
                        <tr style="visibility:hidden">
                            <td width="115" valign="top"></td>
                            <td width="87" valign="top"></td>
                            <td width="112" valign="top"></td>
                            <td width="124" valign="top"></td>
                        </tr>
                        <tr>
                            <td width="115" valign="top"><b>PLOT NO.</b></td>
                            <td width="87" valign="top">@Model.PlotData.Plot_No</td>
                            <td width="112" valign="top"><b>BLOCK</b></td>
                            <td width="124" valign="top">@Model.PlotData.Block_Name</td>
                        </tr>
                        <tr>
                            <td valign="top"><b>Type</b></td>
                            <td valign="top">@Model.PlotData.Type</td>
                            <td valign="top"><b>MARLA</b></td>
                            <td valign="top">@Model.PlotData.Plot_Size</td>
                        </tr>
                        <tr>
                            <td valign="top"><b>Rate / Marla</b></td>
                            <td valign="top">@string.Format("{0:n0}", rate)</td>
                            <td valign="top"><b>PRICE</b></td>
                            <td valign="top">@string.Format("{0:n0}", price)</td>
                        </tr>
                    </tbody>
                </table>
                <table style="width:450px;float:right">
                    <tbody>
                        <tr>
                            <td align="center">
                                @{
                                    foreach (var item in Model.PlotOwners)
                                    {
                                        if (!string.IsNullOrEmpty(item.Owner_Img))
                                        {
                                            <img src="~/Repository/CustomerImagesPlots/@Model.PlotData.Id/@item.Id/@item.Owner_Img" width="160" height="170" />
                                        }
                                    }
                                }

                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div style="clear:both"></div>
                <p style="line-height:30px">
                    @if (Model.PlotOwners.Any(x => x.IsCompanyProperty == true))
                    {
                        <span>Company:</span><b><u> &nbsp;&nbsp;&nbsp; @string.Join(",", Model.PlotOwners.Select(x => x.Name)) &nbsp;&nbsp;&nbsp;</u></b> <span>NTN.:    </span><b><u>&nbsp;&nbsp;&nbsp;  @string.Join(",", Model.PlotOwners.Select(x => x.CNIC_NICOP)) &nbsp;&nbsp;&nbsp;</u></b>
                    }
                    else
                    {
                        <span>NAME:</span><b><u> &nbsp;&nbsp;&nbsp; @string.Join(",", Model.PlotOwners.Select(x => x.Name)) &nbsp;&nbsp;&nbsp;</u></b> <span>CNIC NO.:    </span><b><u>&nbsp;&nbsp;&nbsp;  @string.Join(",", Model.PlotOwners.Select(x => x.CNIC_NICOP)) &nbsp;&nbsp;&nbsp;</u></b>
                        <span>S/O, W/O, D/O  </span><b><u> &nbsp;&nbsp;&nbsp; @string.Join(",", Model.PlotOwners.Select(x => x.Father_Husband)).&nbsp;&nbsp;&nbsp;</u></b>
                    }

                    NATIONALITY:<b><u>&nbsp;&nbsp;&nbsp; @string.Join(",", Model.PlotOwners.Select(x => x.Nationality))  &nbsp;&nbsp;&nbsp; </u></b>
                    OCCUPATION: <b><u> &nbsp;&nbsp;&nbsp; @string.Join(",", Model.PlotOwners.Select(x => x.Occupation)) &nbsp;&nbsp;&nbsp; </u></b> POSTAL ADDRESS: <b><u>&nbsp;&nbsp;&nbsp; @string.Join(",", Model.PlotOwners.Select(x => x.Postal_Address)) &nbsp;&nbsp;&nbsp; </u></b>
                    RESIDENTIAL ADDRESS:<b><u> &nbsp;&nbsp;&nbsp;  @string.Join(",", Model.PlotOwners.Select(x => x.Residential_Address)). &nbsp;&nbsp;&nbsp; </u></b>

                    PH. NO. (MOB): <b><u>&nbsp;&nbsp;&nbsp; @string.Join(",", Model.PlotOwners.Select(x => x.Mobile_1)) &nbsp;&nbsp;&nbsp; </u></b> Email ID: <b><u> &nbsp;&nbsp;&nbsp; @string.Join(",", Model.PlotOwners.Select(x => x.Email)) &nbsp;&nbsp;&nbsp; </u></b>
                    PH. NO. (MOB 2):<b><u>&nbsp;&nbsp;&nbsp; @string.Join(",", Model.PlotOwners.Select(x => x.Mobile_2)) .&nbsp;&nbsp;&nbsp;</u></b>
                    NOMINEE’S NAME AND RELATION:    <b><u> &nbsp;&nbsp;&nbsp; @string.Join(",", Model.PlotOwners.Select(x => x.Nominee_Name)) ( @string.Join(",", Model.PlotOwners.Select(x => x.Nominee_Relation))) Respectivly &nbsp;&nbsp;&nbsp;  </u></b>
                    <br />
                    I /we hereby declare that I /we have read all the terms and conditions of booking in the project, attached with this application form and I/we accept
                    the same. It is further declared that I/we shall abide by the payment schedule Annexure-B, existing and future terms and conditions, which have
                    been or may be prescribed by you for the purchase of Plot in this project from time to time.
                </p>
                <p>
                    Your’s faithfully,
                </p>
                <table style="margin-top:40px">
                    <tbody>
                        <tr>
                            <td width="200" valign="top" style="border-top:1px solid">Signature of Applicant</td>
                            <td width="87" valign="top"></td>
                            <td width="200" valign="top" style="border-top:1px solid">Place &amp; Date</td>
                        </tr>
                    </tbody>
                </table>
                <p><strong></strong></p>
                <p><strong></strong></p>
                <br clear="ALL" />
                <p>
                    <strong>Thumb Impression of Applicant:</strong>
                </p>
                <p><strong></strong></p>
                <p><strong></strong></p>
                <table style="margin-top:40px">
                    <tbody>
                        <tr>
                            <td width="200" valign="top" style="border-top:1px solid">Signature of Director</td>
                            <td width="87" valign="top"></td>
                            <td width="200" valign="top" style="border-top:1px solid">Place &amp; Date</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <center><img src="~/assets/static/images/logo2.png" width="200" height="90" style="padding-top: 5%"></center>
            <div style="margin-top:15%">

                <p align="center" style="background-color:#ccc;margin-top:10%">
                    <strong>Payment Schedule</strong><br />
                    <strong>(Annexure B)</strong>
                </p>
                <p>
                    <strong><u></u></strong>
                </p>
                <p>
                    Please find the required Plot fill up the desired data of your selected Plot &amp; its price, Consult with Sales Head at Site Office for
                    Confirmation of availability &amp; details of Installments of your Plot, sign these both forms.
                </p>
                <p>
                    <strong></strong>
                </p>
                @{
                    if (bal > 0)
                    {
                        <table border="1" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="120" valign="top"><p align="center"><b>Block</b></p><p align="center"><b>@Model.PlotData.Block_Name</b></p></td>
                                    <td width="76" valign="top"><p align="center"><b>Total Area</b></p></td>
                                    <td width="76" valign="top"><p align="center"><b>Rate Per Marla</b></p></td>
                                    <td width="88" valign="top"><p align="center"><b>Total Amount</b></p></td>
                                    <td width="95" valign="top"><p align="center"><b>Booking Amount</b></p><p align="center"><b>Dated: @string.Format("{0:dd.MM.yy}", advadate)</b></p></td>
                                    <td width="92" valign="top"><p align="center"><b>Balance</b></p></td>
                                    <td width="92" valign="top"><p><b>Installments per Month</b></p></td>
                                    <td width="92" valign="top"><p><b>Total Installments</b></p></td>
                                </tr>
                                <tr>
                                    <td width="120" valign="top"><p align="center">Plot Number @Model.PlotData.Plot_No</p></td>
                                    <td width="76" valign="top"><p align="center">@Model.PlotData.Plot_Size</p></td>
                                    <td width="76" valign="top"><p align="center">@string.Format("{0:n0}", rate)</p></td>
                                    <td width="88" valign="top"><p align="center">@string.Format("{0:n0}", price)</p></td>
                                    <td width="95" valign="top"><p align="center">@string.Format("{0:n0}", advaAmt)</p></td>
                                    <td width="92" valign="top"><p align="center">@string.Format("{0:n0}", bal)</p></td>
                                    @{
                                        if (Monthist != null)
                                        {
                                            <td width="92" valign="top"><p align="center">@string.Format("{0:n0}", Monthist.Amount)</p></td>
                                        }
                                        else
                                        {
                                            <td width="92" valign="top"><p align="center">@string.Format("{0:n0}", advaAmt)</p></td>
                                        }
                                    }
                                    <td width="92" valign="top"><p align="center">@Ttlinst</p></td>
                                </tr>
                            </tbody>
                        </table>

                    }
                    else
                    {
                        <table border="1" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="120" valign="top"><p align="center"><b>Block</b></p><p align="center"><b>@Model.PlotData.Block_Name</b></p></td>
                                    <td width="76" valign="top"><p align="center"><b>Total Area</b></p></td>
                                    <td width="76" valign="top"><p align="center"><b>Rate Per Marla</b></p></td>
                                    <td width="88" valign="top"><p align="center"><b>Total Amount</b></p></td>
                                    <td width="95" valign="top"><p align="center"><b>Booking Amount</b></p><p align="center"><b>Dated: @string.Format("{0:dd.MM.yy}", advadate)</b></p></td>
                                    <td width="92" valign="top"><p><b>Total Amount Received</b></p></td>
                                    <td width="92" valign="top"><p align="center"><b>Balance</b></p></td>
                                </tr>
                                <tr>
                                    <td width="120" valign="top"><p align="center">Plot Number @Model.PlotData.Plot_No</p></td>
                                    <td width="76" valign="top"><p align="center">@Model.PlotData.Plot_Size</p></td>
                                    <td width="76" valign="top"><p align="center">@string.Format("{0:n0}", rate)</p></td>
                                    <td width="88" valign="top"><p align="center">@string.Format("{0:n0}", price)</p></td>
                                    <td width="95" valign="top"><p align="center">@string.Format("{0:n0}", advaAmt)</p></td>
                                    <td width="92" valign="top"><p align="center">@AmtRec</p></td>
                                    <td width="92" valign="top"><p align="center">@string.Format("{0:n0}", bal)</p></td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
                <br />
                <br />
                <table>
                    <tbody>
                        <tr>
                            <td width="220">Booked / Received by:</td>
                            <td width="75">Name:</td>
                            <td width="250"></td>
                            <td width="75">Signed:</td>
                            <td width="150"></td>
                        </tr>
                        <tr>
                            <td>Witness:</td>
                            <td>Name:</td>
                            <td></td>
                            <td>Signed:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Allotted & Approved by:</td>
                            <td>Name:</td>
                            <td><b>Muhammad Naeem</b></td>
                            <td>Signed:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Prepared by:</td>
                            <td>Name:</td>
                            <td><b>@ViewBag.Name</b></td>
                            <td>Signed:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td>Date:</td>
                            <td>@string.Format("{0:MMM dd yyyy}", DateTime.UtcNow)</td>
                        </tr>
                    </tbody>
                </table>

                <p>
                    <b>
                        This application form &amp; it's receipt is subject to approval from the directors &amp; site heads after receipt of payment in bank account
                        after clearance of cheque. In case of cash, receipt must be taken by the client from the site office otherwise no claim shall be entertained
                        in respect of payment receipt.
                    </b>
                </p>
                <p></p>
            </div>
        </div>
    </div>
</body>
</html>
