<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@model MeherEstateDevelopers.Models.PlotDetailData
@{
    string[] Types = { "Booking", "Installment" };

    if (User.IsInRole("Administrator")) { Layout = "~/Views/Shared/_AdminLayout.cshtml"; } else { Layout = "~/Views/Shared/_StaffLayout.cshtml"; } }
<link href="~/Content/albery.css" rel="stylesheet" />
@if (Model.PlotOwners.Any())
{
    if (Model.PlotData.Verified == true)
    {
        <script>
            var html = '';
            $("#file-trans-alert").prepend(html);
        </script>
    }
    else
    {
        <script>
            $("#file-trans-alert").empty();
        </script>
    }
    <div class="bgc-white p-20 bd form-row">
        <div class="col-md-9">
            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                @{
                    if (User.IsInRole("Verification Authorization"))
                    {
                        if (Model.PlotData.Status == "Disputed")
                        {
                            <input type="checkbox" value="@Model.PlotData.Id" class="peer plt-stat" checked>
                        }
                        else
                        {
                            <input type="checkbox" value="@Model.PlotData.Id" class="peer plt-stat">
                        }
                    }
                }
                <label class="peers peer-greed js-sb ai-c">
                    <span class="peer peer-greed ser-ch-nam" style="font-weight:bold">Is Plot Disputed </span>
                </label>
            </div>
            @if (Model.PlotData.Verified == true)
            {
                <div class="col-md-4">
                    <div class="alert alert-success" style="text-align:center" role="alert">This Plot is Verified &nbsp &nbsp &nbsp </div>
                </div>
            }
            <div class="col-md-6">
                @if (Model.PlotData.Status == "Repurchased")
                {
                    <div class="alert alert-info" style="text-align:center" role="alert">This Plot is Repurchased by Company</div>
                }
                else if (Model.PlotData.Status == "Disputed")
                {
                    <div class="alert alert-warning" style="text-align:center" role="alert">This Plot is Disputed </div>
                }
                else if (Model.PlotData.Status == "CancelledDueAmount")
                {
                    <div class="alert alert-danger" style="text-align:center" role="alert">This Plot is Cancelled Due to Over Due Amount</div>
                }
                else if (Model.PlotData.Status == "Cancelled")
                {
                    <div class="alert alert-danger" style="text-align:center" role="alert">This Plot is Cancelled By Company</div>
                }
                else if (Model.PlotData.Status == "Hold")
                {
                    <div class="alert alert-dark" style="text-align:center" role="alert">This Plot is Holded by Company</div>
                }
            </div>
            <div class="mT-30">
                <div class="form-row row">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label>Plot No.</label>
                                <h5 id="plt-no">@Model.PlotData.Plot_No</h5>
                                <input type="hidden" class="form-control" id="plt-id" name="Plot_Id" value="@Model.PlotData.Id" readonly>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Plot Size</label>
                                <h5 id="plt-size">@Model.PlotData.Plot_Size</h5>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Block</label>
                                <h5 id="plt-size">@Model.PlotData.Block_Name</h5>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Type</label>
                                <h5 id="plt-type">@Model.PlotData.Type</h5>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Dimension</label>
                                <h5 id="plt-dim">@Model.PlotData.Dimension</h5>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Status</label>
                                <h5 id="plt-status"> @Model.PlotData.Develop_Status.Replace('_', ' ')</h5>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Road</label>
                                <h5 id="plt-road">@Model.PlotData.Road_Type</h5>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Area</label>
                                <h5 id="plt-area">@Convert.ToDecimal(Model.PlotData.Area).ToString("0.##") Sq-Ft</h5>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Location</label>
                                <h5 id="plt-loc">@Model.PlotData.Plot_Location</h5>
                            </div>
                            @if (Model.PlotData.Development_Charges == true)
                            {
                                <div class="form-group col-md-3">
                                    <label>Development Charges</label>
                                    <h5 id="dev-ch">With Development Charges</h5>
                                </div>
                            }
                            else if (Model.PlotData.Development_Charges == false)
                            {
                                <div class="form-group col-md-3">
                                    <label>Development Charges</label>
                                    <h5 id="dev-ch">Non Development Charges</h5>
                                </div>
                            }
                            else if (Model.PlotData.Development_Charges == null && Model.PlotData.Block_Name == "Sher Afghan" && Model.PlotData.Application_FileNo != null)
                            {
                                <div class="form-group col-md-3">
                                    <label>Development Charges</label>
                                    <h5 id="dev-ch">To Be Announced</h5>
                                </div>
                            }
                        </div>
                        <h6>Booking Details</h6>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label>Plot Price</label>
                                @*<h5 id="plt-price"></h5>*@
                                <h5 id="plt-price">@string.Format("{0:n0}", Model.PlotBalDets.Total_Amount)</h5>
                            </div>
                            <div class="form-group col-md-3" id="dis-amt-sec" style="display:none">
                                <label>Discount Amount</label>
                                <h5 id="dis-amt"></h5>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Booking Date</label>
                                <h5 id="booking-date"></h5>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Current Balance</label>
                                <h5 id="bal-in"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="mT-30">
                <div class="panel-group" id="accordion">
                    @{ int ownercount = 1; }
                    @foreach (var item in Model.PlotOwners.OrderByDescending(x => x.Ownership_DateTime).GroupBy(x => x.GroupTag))
                    {
                        string show = "";
                        <div class="panel-heading central-text-align" style="background-color:rgba(255, 0, 0,0.5);color:white;">
                            <h5>@item.Select(x => x.Ownership_Status).FirstOrDefault() - @string.Format("{0: dd-MMM-yyyy}", item.Select(x => x.Ownership_DateTime).FirstOrDefault())</h5>
                        </div>
                        foreach (var own in item)
                        {
                            if (ownercount == 1)
                            {
                                @*<script>
                                        var pltprice = "@own.Total_Price";
                                        if (pltprice > 0) {
                                            $("#plt-price").text(Number(parseFloat(pltprice).toFixed(0)).toLocaleString());
                                        }
                                        else {
                                            var instprice = "@Model.PlotInstallments.Sum(x=> x.Amount)";
                                            $("#plt-price").text(Number(parseFloat(instprice).toFixed(0)).toLocaleString());
                                        }
                                        var disamt = "@own.Discount";
                                        if (disamt > 0 || disamt != "") {
                                            $("#dis-amt-sec").show();
                                            $("#dis-amt").text(Number(parseFloat(disamt).toFixed(0)).toLocaleString());
                                        }
                                    </script>*@
                                show = "show";
                            }
                            else
                            {
                                var det = Model.PlotOwners.Where(x => x.Ownership_Status == "Transfered").OrderByDescending(x => x.Ownership_DateTime).Select(x => x.Total_Price).FirstOrDefault();
                                @*<script>
                                        var pltprice = "@det";
                                        if (pltprice > 0) {
                                            $("#plt-price").text(Number(parseFloat(pltprice).toFixed(0)).toLocaleString());
                                        }
                                        else {
                                            var instprice = "@Model.PlotInstallments.Sum(x=> x.Amount)";
                                            $("#plt-price").text(Number(parseFloat(instprice).toFixed(0)).toLocaleString());
                                        }
                                        var disamt = "@own.Discount";
                                        if (disamt > 0 || disamt != "") {
                                            $("#dis-amt-sec").show();
                                            $("#dis-amt").text(Number(parseFloat(disamt).toFixed(0)).toLocaleString());
                                        }
                                    </script>*@
                            }
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@own.Id" aria-expanded="true">
                                            @own.Name
                                        </a>
                                    </h5>
                                </div>
                                <div id="@own.Id" class="panel-collapse collapse in @show" aria-expanded="true" style="">
                                    <div class="panel-body">
                                        <div class="own-det">
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control" name="Name" value="@own.Name" readonly>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Father's/Husband's Name</label>
                                                    <input type="text" class="form-control" name="Father_Husband" value="@own.Father_Husband" readonly>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>CNIC / NICOP</label>
                                                    <input type="text" class="form-control" name="CNIC_NICOP" value="@own.CNIC_NICOP" placeholder="12345-1234567-1   or   123456-123456-1" readonly>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>Date Of Birth</label>
                                                    <input type="text" class="form-control" data-provide="datepicker" value="@own.Date_Of_Birth" placeholder="mm/dd/yyyy" name="Date_Of_Birth" readonly>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Postal Address</label>
                                                    <input type="text" class="form-control" name="Postal_Address" value="@own.Postal_Address" placeholder="1234 Main St" readonly>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Residential Address</label>
                                                    <input type="text" class="form-control" name="Residential_Address" value="@own.Residential_Address" placeholder="Apartment, Plot, or floor" readonly>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>City</label>
                                                    <input type="text" class="form-control" value="@own.City" readonly>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Occupation</label>
                                                    <input type="text" class="form-control" value="@own.Occupation" name="Occupation" readonly>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>Nationality</label>
                                                    <input type="text" class="form-control" value="@own.Nationality" name="Nationality" readonly>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Email</label>
                                                    <input type="text" class="form-control" value="@own.Email" name="Email" readonly>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label>Phone Office</label>
                                                    <input type="text" class="form-control" value="@own.Phone_Office" name="Phone_Office" readonly>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Residential</label>
                                                    <input type="text" class="form-control" value="@own.Residential" name="Residential" readonly>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Mobile 1</label>
                                                    <input type="text" class="form-control" value="@own.Mobile_1" placeholder="03121234567" name="Mobile_1" readonly>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Mobile 2</label>
                                                    <input type="text" class="form-control" value="@own.Mobile_1" pattern="^0\d{10}" placeholder="03121234567" name="Mobile_2" readonly>
                                                </div>
                                            </div>
                                            <h6 class="c-grey-900">Nominee</h6>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control" value="@own.Nominee_Name" name="Nominee_Name" readonly>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>CNIC / NICOP</label>
                                                    <input type="text" class="form-control" value="@own.Nominee_CNIC_NICOP" placeholder="12345-1234567-1 or 123456-123456-1" name="Nominee_CNIC_NICOP" readonly>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>Relation</label>
                                                    <input class="form-control" value="@own.Nominee_Relation" name="Nominee_Relation" placeholder="" readonly>
                                                </div>
                                                <div class="form-group col-md-5">
                                                    <label>Address</label>
                                                    <input type="text" class="form-control" value="@own.Nominee_Address" name="Nominee_Address" placeholder="1234 Main St" readonly>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-3">
                                                    <img style="margin-top:10px" src="@own.Owner_Img" width="200" height="200" id="own_img" />
                                                    <input type="button" class="btn btn-info own-img add-own-img" id="add-own-img1" style="margin-top:10px;display:none" data-toggle="modal" value="Add Image" data-target="#Modal" />
                                                </div>
                                                <div class="col-md-3">
                                                    <img style="margin-top:10px" src="@own.Owner_Img2" width="200" height="200" id="own_img2" />
                                                    <input type="button" class="btn btn-info own-img add-own-img" id="add-own-img2" style="margin-top:10px;display:none" data-toggle="modal" value="Add Image" data-target="#Modal" />
                                                </div>
                                                <div class="col-md-3">
                                                    <img style="margin-top:10px" src="@own.Owner_Img3" width="200" height="200" id="own_img3" />
                                                    <input type="button" class="btn btn-info own-img add-own-img" id="add-own-img3" style="margin-top:10px;display:none" data-toggle="modal" value="Add Image" data-target="#Modal" />
                                                </div>
                                                <div class="col-md-3">
                                                    <img style="margin-top:10px" src="@own.Owner_Img4" width="200" height="200" id="own_img4" />
                                                    <input type="button" class="btn btn-info own-img add-own-img" id="add-own-img4" style="margin-top:10px;display:none" data-toggle="modal" value="Add Image" data-target="#Modal" />
                                                </div>
                                            </div>
                                            <div class="form-row" id="can-ow-led-@own.Id" style="margin-top:10px"></div>
                                            @if (own.Ownership_Status == "Cancelled" || own.Ownership_Status == "Cancelled_Not_Refunded")
                                            {
                                                <script>
                                                    $('#can-ow-led-'+ @own.Id).load('/Plots/CancelledOwnerLedger/', { Plotid: @own.Plot_Id , OwnerId: @own.Id});
                                                    console.log(@own.Plot_Id)
                                                    console.log(@own.Id)
                                                </script>
                                                <style>
                                                    #can-ow-led table tr th, #can-ow-led table tr td {
                                                        padding: 2px;
                                                    }
                                                </style>
                                                <a class="btn btn-primary" style="color:white" href="/Plots/PreviousPlotDetailReport?Plotid=@Model.PlotData.Id&OwnerId=@own.Id" target="_blank">@own.Name Ledger Report</a>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            ownercount++;
                        }
                        <hr />
                    }
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-5">
                    <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="margin-bottom:0px">
                        <thead class="thead-dark">
                            <tr>
                                <th>Sr</th>
                                <th>Amount</th>
                                <th>Due Date</th>
                            </tr>
                        </thead>
                    </table>
                    <div style="min-height:0px; max-height:500px;overflow:auto" class=" ps--active-y">
                        <table class="table table-striped table-bordered" id="all-instments" cellspacing="0" width="100%">
                            <tbody>
                                @{ foreach (var item in Model.PlotInstallments)
                                    {
                                        if (item.Installment_Name == "Advance")
                                        {
                                            <script>
                                                var res = " @string.Format("{0:MMM dd yyyy}", item.DueDate)";
                                                $("#booking-date").text(res);
                                            </script>
                                        }
                                        <tr>
                                            <td>@item.Installment_Name</td>
                                            <td>@string.Format("{0:n0}", item.Amount)</td>
                                            <td>@string.Format("{0:dd-MMM-yyyy}", item.DueDate)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-7">
                    @foreach (var g in Model.PlotReceipts.Where(x => Types.Contains(x.Type)).GroupBy(x => x.Type))
                    {
                        <table class="table table-striped table-bordered" id="rec-amts" cellspacing="0" width="100%" style="margin-bottom:0px">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="7">@g.Key</th>
                                </tr>
                                <tr>
                                    <th>Sr</th>
                                    <th>Receipt No.</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Ch/Bd No.</th>
                                    <th>Verify</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int srcount = 1;
                                    foreach (var item in g)
                                    {
                                        string stat = "";
                                        if (item.Status == "Pending")
                                        {
                                            stat = "bgc-yellow-50";
                                        }
                                        else if (item.Status == "Dishonored")
                                        {
                                            stat = "bgc-red-50";
                                        }
                                        else if (item.Status == "Approved")
                                        {
                                            stat = "bgc-green-50";
                                        }
                                        else if (item.Status == "Deposited")
                                        {
                                            stat = "bgc-orange-50";
                                        }
                                        else
                                        {
                                            stat = "";
                                        }
                                        <tr class="@stat" id="@item.Id">
                                            <td>@srcount</td>
                                            <td>@item.ReceiptNo</td>
                                            <td>@string.Format("{0:n0}", item.Amount)</td>
                                            <td>@string.Format("{0:dd-MMM-yyyy}", item.DateTime)</td>
                                            <td>@item.PaymentType</td>
                                            <td>@item.Ch_Pay_Draft_No</td>
                                            @{
                                                if (User.IsInRole("Verification Authorization"))
                                                {
                                                    <td>
                                                        @{
                                                            if (item.Verified == true)
                                                            {
                                                                <input style="width:20px;height:20px" type="checkbox" class="all-rec-veri" value="@item.Id" checked>
                                                            }
                                                            else
                                                            {
                                                                <input style="width:20px;height:20px" type="checkbox" class="all-rec-veri" value="@item.Id">
                                                            }
                                                        }
                                                    </td>
                                                }
                                            }
                                            @* <td><i class="ti-clipboard rece-dispute" data-Id="@item.Id" data-toggle="modal" data-target="#Modal"></i></td>*@
                                        </tr>
                                        srcount++;
                                    }
                                }

                            </tbody>
                        </table>
                    }
                    <table width="100%" class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td colspan="2"><a class="btn btn-primary" href="/Plots/PlotDetailReport?Plotid=@Model.PlotData.Id" target="_blank">Ledger Report</a></td>
                                @*@if (User.IsInRole("Verification Authorization"))
                                    {*@
                                <td colspan="4"><button id="ver-plot" style="display:none" class="btn btn-success">Verify</button></td>
                                @* }*@
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-row">
                <div id="plot-rep">
                    @{Html.RenderAction("PlotInstallmentsReports", "Plots", new { Plotid = Model.PlotData.Id });}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            @{ Html.RenderAction("PlotsComments", "Messages", new { Plotid = Model.PlotData.Id });}
        </div>
    </div>
}
else
{
    <script>
        $("#file-trans-alert").empty();
    </script>
    <div class="bgc-white p-20 bd">
        <h5 class="c-grey-900">No Record Found</h5>
    </div>
}
<script>
    $(document).ready(function () {
        var allrec = $('.all-rec-veri').length;
        var checkrec = $('.all-rec-veri:checked').length;
        if (allrec == checkrec)
            $('#ver-plot').show();
        else $('#ver-plot').hide();
    });
</script>

