@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_SpecialPrefPlot_list_Result>

<div class="form-row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr.</th>
                <th>Plot Number</th>
                <th>Type</th>
                <th>Size</th>
                <th>Location</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Balance Amount</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Plot_Number</td>
                    <td>@item.Type</td>
                    <td>@item.Plot_Size</td>
                    <td>@item.Plot_Location</td>
                    <td>@item.Name</td>
                    <td>@item.Mobile_1</td>
                    <td>@string.Format("{0:0,0.##}", item.Balance_Amount)</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>