@model MeherEstateDevelopers.Models.AttendeeMonitorModel

@{ if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}

<div class="col-md-12 bgc-white pt-md-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" aria-controls="home" aria-selected="true" href="#assigned">Customer Enterance</a></li>
        <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" aria-controls="home" aria-selected="true" href="#created">Counters Report</a></li>
    </ul>
    <div class="tab-content">
        <div id="assigned" class="tab-pane active">
            <div class="row col-md-12 p-20">
                <h4 class="col-md-12" style="text-align:center">Customer Entrance</h4>
                <div class="col-md-3 mt-md-3"></div>
                <div class="col-md-6 mt-md-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="3" style="text-align:center">Guests Summary</th>
                            </tr>
                            <tr>
                                <th>Adults</th>
                                <th>Children</th>
                                <th>Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>@Model.GuestsList.Sum(x => x.Adults)</td>
                                <td>@Model.GuestsList.Sum(x => x.Children)</td>
                                <td>@(Model.GuestsList.Sum(x => x.Adults) + Model.GuestsList.Sum(x => x.Children))</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 mt-md-3"></div>

                <table class="table table-bordered fhjksdga">
                    <thead>
                        <tr class="thead-dark">
                            <th>Sr#</th>
                            <th>File#</th>
                            <th>CNIC</th>
                            <th>Time Of Entry</th>
                            <th>Adults</th>
                            <th>Children</th>
                            <th>Total Guests</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{int count = 1;}
                        @if (Model.GuestsList.Any())
                        {
                            foreach (var v in Model.GuestsList.OrderByDescending(x => x.EntranceTime))
                            {
                                <tr>
                                    <td>@(count++)</td>
                                    <td>@v.File_Number</td>
                                    <td>@v.Entry_CNIC</td>
                                    <td>@v.EntranceTime.Value</td>
                                    <td>@v.Adults</td>
                                    <td>@v.Children</td>
                                    <td>@(v.Children + v.Adults)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="central-text-align">No Guests Entered Yet !</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="created" class="tab-pane">
            <div class="row col-md-12 p-20">
                <h4 class="col-md-12" style="text-align:center">Counter Report</h4>
                <div class="col-md-3 mt-md-3"></div>
                <div class="col-md-6 mt-md-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="3" style="text-align:center">Counter Summary</th>
                            </tr>
                            <tr>
                                <th>Operator</th>
                                <th>Total Printed Letters</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var v in Model.ServedFiles.Where(x => x.LetterA_IssuedBy_Id != null).GroupBy(x => x.LetterA_IssuedBy_Id))
                            {
                                <tr>
                                    <td>@v.Select(x => x.LetterA_IssuedBy_Name).FirstOrDefault()</td>
                                    <td>@v.Count()</td>
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr>
                                <th>Total</th>
                                <th>@Model.ServedFiles.Where(x => x.LetterA_IssuedBy_Id != null).Count()</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-md-3 mt-md-3"></div>
                @foreach (var item in Model.ServedFiles.Where(x => x.LetterA_IssuedBy_Id != null).GroupBy(x => new { x.LetterA_IssuedBy_Id, x.LetterA_IssuedBy_Name }))
                {
                    <table class="table table-bordered fhjksdga">
                        <thead>
                            <tr class="thead-dark">
                                <th colspan="7"> @item.Key.LetterA_IssuedBy_Name Served Total : @item.Count()</th>
                            </tr>
                            <tr class="thead-dark">
                                <th>Sr#</th>
                                <th>File#</th>
                                <th>Plot</th>
                                <th>CNIC</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{int scount = 1;}
                            @foreach (var v in item)
                            {
                                <tr>
                                    <td>@(scount++)</td>
                                    <td>@v.BallotFile</td>
                                    <td>@v.PlotNo @v.Sector</td>
                                    <td>@v.CNIC_NICOP</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>


</div>

<script>
    $('.fhjksdga').DataTable();
</script>