@model MeherEstateDevelopers.Models.PettyCashMappers
<h4>Petty Cash</h4>

<div class="col-md-12">
    <div class="form-row row">
        <div class="col-md-12">
            <div class="from-row row p-20">
                <div class="form-group col-md-3">
                    <h5>Petty Cash Head</h5>
                </div>
                <div class="form-group col-md-5">
                    <select class="form-control sel-plug up-deal">
                        @if (Model.PettyCash != null)
                        {
                            <option value="@Model.PettyCash.AccountId">@Model.PettyCash.AccountCode - @Model.PettyCash.Head_Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-6">
            <h5>Accounts List</h5>
            @foreach (var item in Model.PettyCash_Accounts)
            {
                <div class="form-row pcdiv" id="@item.Pettycash_Id">
                    <div class="form-group col-md-6">
                        <h6>@item.Employee_Name</h6>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control sel-plug pc-acc">
                            @if (item.AccountId != null)
                            {
                                <option value="@item.AccountId">@item.AccountCode - @item.Head_Name</option>
                            }
                        </select>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <h5>Accounts List</h5>
            @foreach (var item in Model.PettyCash_Expense)
            {
                <div class="form-row pcdiv" id="@item.PettyCash_Id">
                    <div class="form-group col-md-6">
                        <h6>@item.Employee_Name</h6>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control sel-plug pc-exp-pay">
                            @if (item.AccountId != null)
                            {
                                <option value="@item.AccountId">@item.AccountCode - @item.Head_Name</option>
                            }
                        </select>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $('.sel-plug').select2({
        placeholder: "Search for Account",
        ajax: {
            url: '/AccountHeads/GetHead/',
            dataType: 'json',
            params: {
                contentType: 'application/json; charset=utf-8'
            },
            data: function (params) {
                return {
                    q: params.term// search term
                };
            },
            processResults: function (data) {
                // Transforms the top-level key of the response object from 'items' to 'results'
                return {
                    results: $.map(data.items, function (item) {
                        return {
                            text: item.Parent,
                            children: [{
                                id: item.id,
                                text: item.text
                            }]
                        }
                    })
                };
            }
        }
    });
</script>
