@model MeherEstateDevelopers.Models.ServiceElectricMappers
    <hr />
<h4  style="text-align:center">Service Charges & Electricity Charges Receivable</h4>
    <hr />
<div class="col-md-12">
    <div class="form-row row">
        <div class="col-md-6">
            <h5>Service Charges</h5>
            @foreach (var item in Model.ServiceCharges_Res)
            {
                <div class="form-row blkdiv" id="@item.Block_Id" data-type="Service_Charges_Receivables">
                    <div class="form-group col-md-6">
                        <h6>@item.Block_Name</h6>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control sel-plug sc-res">
                            @if (item.AccountId != null)
                            {
                                <option value="@item.AccountId">@item.AccountCode - @item.Head_Name</option>
                            }
                        </select>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <h5>Electricity Charges</h5>
            @foreach (var item in Model.Electric_Res)
            {
                <div class="form-row blkdiv" id="@item.Block_Id" data-type="Electricity_Charges_Receivables">
                    <div class="form-group col-md-6">
                        <h6>@item.Block_Name</h6>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control sel-plug ec-res">
                            @if (item.AccountId != null)
                            {
                                <option value="@item.AccountId">@item.AccountCode - @item.Head_Name</option>
                            }
                        </select>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />
    <h4>Service Charges & Electricity Charges Income</h4>
    <hr />
    <div class="form-row row">
        <div class="col-md-6">
            <h5>Service Charges</h5>
            @foreach (var item in Model.ServiceCharges_Incom)
            {
                <div class="form-row blkdiv" id="@item.Block_Id" data-type="Service_Charges_Income">
                    <div class="form-group col-md-6">
                        <h6>@item.Block_Name</h6>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control sel-plug sc-inc">
                            @if (item.AccountId != null)
                            {
                                <option value="@item.AccountId">@item.AccountCode - @item.Head_Name</option>
                            }
                        </select>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <h5>Electricity Charges</h5>
            @foreach (var item in Model.Electric_Incom)
            {
                <div class="form-row blkdiv" id="@item.Block_Id" data-type="Electricity_Charges_Income">
                    <div class="form-group col-md-6">
                        <h6>@item.Block_Name</h6>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control sel-plug ec-inc">
                            @if (item.AccountId != null)
                            {
                                <option value="@item.AccountId">@item.AccountCode - @item.Head_Name</option>
                            }
                        </select>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $('.sel-plug').select2({
        placeholder: "Search for Account",
        ajax: {
            url: '/AccountHeads/GetHead/',
            dataType: 'json',
            params: {
                contentType: 'application/json; charset=utf-8'
            },
            data: function (params) {
                return {
                    q: params.term// search term
                };
            },
            processResults: function (data) {
                // Transforms the top-level key of the response object from 'items' to 'results'
                return {
                    results: $.map(data.items, function (item) {
                        return {
                            text: item.Parent,
                            children: [{
                                id: item.id,
                                text: item.text
                            }]
                        }
                    })
                };
            }
        }
    });

</script>