@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_Stockout_Req_Prj_Result>
<div class="form-group col-md-3">
    <button type="submit" class="btn btn-primary multi-dems" data-toggle="modal" data-target="#Modal"><i class="fas fa-file-export"></i> Demand Order</button>
</div>
<div class="col-md-12">
    <table class="table table-bordered" id="inv">
        <thead>
            <tr>
                <th>Order #</th>
                <th>Items</th>
                <th>Date</th>
                <th>Created By</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Any())
            {

                foreach (var v in Model.GroupBy(x => x.DemandOrder_No))
                {
                    <tr>
                        <td>@v.Key</td>
                        <td>
                            <table>
                                @foreach (var item in v)
                                {
                                    <tr>
                                        <td>@item.Item_Name</td>
                                        <td>@item.Qty</td>
                                    </tr>
                                }
                            </table>
                        </td>
                        <td>@v.Select(x => x.RequestedBy_Date).FirstOrDefault().Value.ToShortDateString()</td>
                        <td>@v.Select(x => x.RequestedBy_Name).FirstOrDefault()</td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    $("#inv").dataTable();
</script>