@model IEnumerable<MeherEstateDevelopers.Models.Project>
<h5>Project Configuration</h5>
<div class="row col-md-12">
    <div class="row col-md-6">
        <div class="form-group col-md-5">
            <label>Head</label>
            <select class="form-control head"></select>
        </div>
        <div class=" form-group col-md-2">
            <button class="btn btn-info sav-prj-acc" style="margin-top:29px">Save</button>
        </div>
    </div>
    <div class="form-row col-md-6">
        <div class="col-md-12">
            <h5>Projects</h5>
        </div>
        <div class="col-md-12" id="prlst">
            <div class="form-row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Head</th>
                            <th>Project</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var g in Model)
                        {
                        <tr>
                            <td rowspan="">@i</td>
                            <td rowspan="">@g.Head_Code</td>
                            <td>@g.Name</td>
                            <td>
                                <i class="fas fa-trash-alt Bank-rmv pointer" id="@g.Id"></i>
                            </td>
                        </tr>
                            i++;
                        }
                        @*@foreach (var g in Model.GroupBy(x => x.Head_Code))
                        {
                            foreach (var item in g)
                            {
                                <tr>
                                    @if (i == 1)
                                    {
                                        <td rowspan="@g.Count()">1</td>
                                        <td rowspan="@g.Count()">@g.Key</td>
                                        <td>@item.Name</td>
                                        <td>
                                            <i class="fas fa-trash-alt Bank-rmv pointer" id="@item.Id"></i>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>@item.Name</td>
                                        <td>
                                            <i class="fas fa-trash-alt Bank-rmv pointer" id="@item.Id"></i>
                                        </td>
                                    }
                                </tr>
                                i++;
                            }
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        $('.prj').select2({
            //dropdownParent: $('#Modal'),
            placeholder: "Search for Project",
            ajax: {
                url: '/ConstructProjectManagement/GetProject/',
                dataType: 'json',
                params: {
                    contentType: 'application/json; charset=utf-8'
                },
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    };
                }
            }
        });

        $('.head').select2({
            //dropdownParent: $('#Modal'),
            placeholder: "Search for Head",
            ajax: {
                url: '/AccountHeads/GetHead/',
                dataType: 'json',
                params: {
                    contentType: 'application/json; charset=utf-8'
                },
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    };
                }
            }
        });
    });
</script>