@model MeherEstateDevelopers.Models.Cancellation_Receipts
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css" media="all">

        body, div, table, thead, tbody, tfoot, tr, th, td, p {
            font-family: "Calibri";
            font-size: 19px;
        }

            table td {
                height: 28px;
            }

        body {
            -webkit-print-color-adjust: exact;
            margin: 0;
        }
    </style>
</head>
<body>
    <table cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td align="center" valign="middle"></td>
        </tr>
    </table>

    <table bgcolor="white" cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="800px" align="center" valign=bottom style="padding-right: 95px;">
                @if (Model.Receipt_Type == "Repurchased")
                {
                    <img src="~/assets/static/images/K-04.png" width=200 height=100>
                    <div style="background-color:grey; width:1000px; height:50px; text-align:center; padding-top:4px;"><b>Plot Cancellation Receipt</b><br />Customer Copy</div>
                }
                else
                {
                    <img src="~/assets/static/images/K-04.png" width=200 height=100>
                    <div style="background-color:grey; width:1000px; height:50px; text-align:center; padding-top:4px;"><b>Plot Cancellation Receipt</b><br />Customer Copy</div>

                }
            </td>
            <!--<td width="200px" align="right" valign=bottom>-->
                @*<img src="~/assets/static/images/customer-copy.png" width=125 height=125>*@
            <!--</td>-->
        </tr>
    </table>
    <table bgcolor="white" cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="250px"></td>
            <td width="90px" valign=bottom style="font-weight:bold">Receipt No.</td>
            <td width="125px" align="center" valign=bottom style="border-bottom:1px solid">@Model.ReceiptNo</td>
            <td width="246px" valign=bottom></td>
        </tr>
    </table>
    <table bgcolor="white" cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="50px" align="left" valign=bottom style="font-weight:bold">Name</td>
            <td width="300px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Name</td>
            <td width="105px" align="left" valign=bottom style="font-weight:bold">S/O,D/O,W/O</td>
            <td width="300px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Father_Name</td>
            <td width="95px" align="left" valign=bottom style="font-weight:bold">Contact No.</td>
            <td width="120px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Contact</td>
        </tr>
    </table>
    <table bgcolor="white" cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="70px" align="left" valign=bottom style="font-weight:bold">Plot No </td>
            <td width="330px" align="center" valign=bottom style="border-bottom:1px solid">@Model.File_Plot_Number</td>
            <td width="45px" align="left" valign=bottom style="font-weight:bold">Block </td>
            <td width="150px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Block</td>
            <td width="35px" align="left" valign=bottom style="font-weight:bold">Size </td>
            <td width="100px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Size</td>
            <td width="50px" align="left" valign=bottom style="font-weight:bold">Date</td>
            <td width="250px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0: MMM dd, yyyy}", Model.DateTime)</td>
        </tr>
    </table>

    @if (Model.Receipt_Type == "Repurchased")
    {
        <table bgcolor="white" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="120px" align="left" valign=bottom style="font-weight:bold">Total Plot Price</td>
                <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Plot_Total_Amount)))</td>
                <td width="150px" align="left" valign=bottom style="font-weight:bold">Received Amount</td>
                <td width="150px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Amount)))</td>
                <td width="100px" align="left" valign=bottom style="font-weight:bold">Repurchased</td>
                <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Repurchased_Amt)))</td>
            </tr>
        </table>
    }
    else
    {
        var rem = Model.Amount - Model.Deduction_Amt;
        <table bgcolor="white" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="115px" align="left" valign=bottom style="font-weight:bold">Total Plot Price</td>
                <td width="115px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Plot_Total_Amount)))</td>
                <td width="150px" align="left" valign=bottom style="font-weight:bold">Received Amount</td>
                <td width="115px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Amount)))</td>
                <td width="90px" align="left" valign=bottom style="font-weight:bold">Deduction</td>
                <td width="115px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Deduction_Amt)))</td>
                <td width="130px" align="left" valign=bottom style="font-weight:bold">Refund Amount</td>
                <td width="115px" align="center" valign=bottom style="border-bottom:1px solid"><b style="color:red">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(rem)))</b></td>
            </tr>
        </table>
    }

    <table bgcolor="white" cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="100px" align="left" valign=bottom style="font-weight:bold">Receipts No</td>
            <td width="900px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Description</td>
        </tr>
    </table>
    <table bgcolor="white" cellspacing="0" border="0" style="width:1000px">
        <tr><td align="center"><font size="6"><b>Declaration</b></font> </tr>
        <tr>
            <td align="center" valign=bottom>I Hereby declare that I want to cancel my Booking of Plot due to some personal reasons, I have returned all of my documents to Society for the refund purpose and from now onwards I have no claim over this Plot</td>
        </tr>
    </table>
    <table bgcolor="white" cellspacing="0" border="0" style="width:1000px">
        @*<tr>
            <td align="right" valign=bottom><font size="4">A Project of</font></td>
        </tr>*@
    </table>
    @if (Model.Receipt_Type == "Repurchased")
    {

        <table bgcolor="white" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="75px" align="left" valign=bottom style="font-weight:bold"><font size="4">Customer</font></td>
                <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                <td width="160px" align="left" valign=bottom style="font-weight:bold"><font size="4">Assistant Manager</font></td>
                <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                <td width="120px" align="left" valign=bottom style="font-weight:bold"><font size="4">Plots Manager</font></td>
                <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                <td width="180px" align="left" valign=bottom><font size="4"></font></td>
                @*<td width="130px" align="left" style="vertical-align:top"><img src="~/assets/static/images/meherestate.png" width=130 height=29></td>*@
            </tr>
        </table>
    }
    else
    {
        if (Model.Deduction == 0)
        {

            <table bgcolor="white" cellspacing="0" border="0" style="width:1000px">
                <tr>
                    <td width="75px" align="left" valign=bottom style="font-weight:bold"><font size="4">Customer</font></td>
                    <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="150px" align="left" valign=bottom style="font-weight:bold"><font size="4">Assistant Manager</font></td>
                    <td width="130px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="20px" align="left" valign=bottom><font size="4"></font></td>
                    <td width="115px" align="left" valign=bottom style="font-weight:bold"><font size="4">Plots Manager</font></td>
                    <td width="130px" align="center" valign=bottom style="border-bottom:1px solid"><font size="4"></font></td>
                    <td width="20px" align="left" valign=bottom><font size="4"></font></td>
                    <td width="65px" align="left" valign=bottom style="font-weight:bold"><font size="4">Director</font></td>
                    <td width="130px" align="center" valign=bottom style="border-bottom:1px solid"><font size="4"></font></td>
                    @*<td width="130px" align="left" style="vertical-align:top"><img src="~/assets/static/images/meherestate.png" width=130 height=29></td>*@
                </tr>
            </table>
        }
        else
        {

            <table bgcolor="white" cellspacing="0" border="0" style="width:1000px">
                <tr>
                    <td width="75px" align="left" valign=bottom style="font-weight:bold"><font size="4">Customer</font></td>
                    <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="160px" align="left" valign=bottom style="font-weight:bold"><font size="4">Assistant Manager</font></td>
                    <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="120px" align="left" valign=bottom style="font-weight:bold"><font size="4">Plots Manager</font></td>
                    <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="180px" align="left" valign=bottom><font size="4"></font></td>
                    @*<td width="130px" align="left" style="vertical-align:top"><img src="~/assets/static/images/meherestate.png" width=130 height=29></td>*@
                </tr>
            </table>
        }
    }
    <!------------------------------------------------------------------------------------------------------------------------>
    <table cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td align="center" valign="middle">-----------------------------------------------------------------------------------------------------------------------------------------------------------------------</td>
        </tr>
    </table>

    <table  cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="800px" align="center" valign=bottom style="padding-right: 95px;">
                @if (Model.Receipt_Type == "Repurchased")
                {
                    <img src="~/assets/static/images/K-04.png" width=200 height=100>
                    <div style="background-color:grey; width:1000px; height:50px; text-align:center; padding-top:4px;"><b>Plot Cancellation Receipt</b><br />Accounts Copy</div>
                }
                else
                {
                    <img src="~/assets/static/images/K-04.png" width=200 height=100>
                    <div style="background-color:grey; width:1000px; height:50px; text-align:center; padding-top:4px;"><b>Plot Cancellation Receipt</b><br />Accounts Copy</div>

                }
            </td>
            <!--<td width="200px" align="right" valign=bottom>-->
            @*<img src="~/assets/static/images/customer-copy.png" width=125 height=125>*@
            <!--</td>-->
        </tr>
    </table>
    <table  cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="250px"></td>
            <td width="90px" valign=bottom style="font-weight:bold">Receipt No.</td>
            <td width="125px" align="center" valign=bottom style="border-bottom:1px solid">@Model.ReceiptNo</td>
            <td width="246px" valign=bottom></td>
        </tr>
    </table>
    <table  cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="50px" align="left" valign=bottom style="font-weight:bold">Name</td>
            <td width="300px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Name</td>
            <td width="105px" align="left" valign=bottom style="font-weight:bold">S/O,D/O,W/O</td>
            <td width="300px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Father_Name</td>
            <td width="95px" align="left" valign=bottom style="font-weight:bold">Contact No.</td>
            <td width="120px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Contact</td>
        </tr>
    </table>
    <table  cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="70px" align="left" valign=bottom style="font-weight:bold">Plot No </td>
            <td width="330px" align="center" valign=bottom style="border-bottom:1px solid">@Model.File_Plot_Number</td>
            <td width="45px" align="left" valign=bottom style="font-weight:bold">Block </td>
            <td width="150px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Block</td>
            <td width="35px" align="left" valign=bottom style="font-weight:bold">Size </td>
            <td width="100px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Size</td>
            <td width="50px" align="left" valign=bottom style="font-weight:bold">Date</td>
            <td width="250px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0: MMM dd, yyyy}", Model.DateTime)</td>
        </tr>
    </table>
    @if (Model.Receipt_Type == "Repurchased")
    {
        <table  cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="120px" align="left" valign=bottom style="font-weight:bold">Total Plot Price</td>
                <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Plot_Total_Amount)))</td>
                <td width="150px" align="left" valign=bottom style="font-weight:bold">Received Amount</td>
                <td width="150px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Amount)))</td>
                <td width="100px" align="left" valign=bottom style="font-weight:bold">Repurchased</td>
                <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Repurchased_Amt)))</td>
            </tr>
        </table>
    }
    else
    {
        var rem = Model.Amount - Model.Deduction_Amt;
        <table  cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="115px" align="left" valign=bottom style="font-weight:bold">Total Plot Price</td>
                <td width="115px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Plot_Total_Amount)))</td>
                <td width="150px" align="left" valign=bottom style="font-weight:bold">Received Amount</td>
                <td width="115px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Amount)))</td>
                <td width="90px" align="left" valign=bottom style="font-weight:bold">Deduction</td>
                <td width="115px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Deduction_Amt)))</td>
                <td width="130px" align="left" valign=bottom style="font-weight:bold">Refund Amount</td>
                <td width="115px" align="center" valign=bottom style="border-bottom:1px solid"><b style="color:red">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(rem)))</b></td>
            </tr>
        </table>
    }

    <table  cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="100px" align="left" valign=bottom style="font-weight:bold">Receipts No</td>
            <td width="900px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Description</td>
        </tr>
    </table>
    <table  cellspacing="0" border="0" style="width:1000px">
        <tr><td align="center"><font size="6"><b>Declaration</b></font> </tr>
        <tr>
            <td align="center" valign=bottom>I Here by declare that I want to cancel my Booking of Plot due to some personal reasons, I have returned all of my documents to society for the refund purpose and from now onwards I have not right of any Claim Regarding this Plot</td>
        </tr>
    </table>
    <table  cellspacing="0" border="0" style="width:1000px">
        @*<tr>
            <td align="right" valign=bottom><font size="4">A Project of</font></td>
        </tr>*@
    </table>
    @if (Model.Receipt_Type == "Repurchased")
    {
        <table  cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="75px" align="left" valign=bottom style="font-weight:bold"><font size="4">Customer</font></td>
                <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                <td width="160px" align="left" valign=bottom style="font-weight:bold"><font size="4">Assistant Manager</font></td>
                <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                <td width="120px" align="left" valign=bottom style="font-weight:bold"><font size="4">Plots Manager</font></td>
                <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                <td width="180px" align="left" valign=bottom><font size="4"></font></td>
                @*<td width="130px" align="left" style="vertical-align:top"><img src="~/assets/static/images/meherestate.png" width=130 height=29></td>*@
            </tr>
        </table>
    }
    else
    {
        if (Model.Deduction == 0)
        {

            <table  cellspacing="0" border="0" style="width:1000px">
                <tr>
                    <td width="75px" align="left" valign=bottom style="font-weight:bold"><font size="4">Customer</font></td>
                    <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="150px" align="left" valign=bottom style="font-weight:bold"><font size="4">Assistant Manager</font></td>
                    <td width="130px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="20px" align="left" valign=bottom><font size="4"></font></td>
                    <td width="115px" align="left" valign=bottom style="font-weight:bold"><font size="4">Plots Manager</font></td>
                    <td width="130px" align="center" valign=bottom style="border-bottom:1px solid"><font size="4"></font></td>
                    <td width="20px" align="left" valign=bottom><font size="4"></font></td>
                    <td width="65px" align="left" valign=bottom style="font-weight:bold"><font size="4">Director</font></td>
                    <td width="130px" align="center" valign=bottom style="border-bottom:1px solid"><font size="4"></font></td>
                    <td width="130px" align="left" style="vertical-align:top"><img src="~/assets/static/images/meherestate.png" width=130 height=29></td>
                </tr>
            </table>
        }
        else
        {

            <table  cellspacing="0" border="0" style="width:1000px">
                <tr>
                    <td width="75px" align="left" valign=bottom style="font-weight:bold"><font size="4">Customer</font></td>
                    <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="160px" align="left" valign=bottom style="font-weight:bold"><font size="4">Assistant Manager</font></td>
                    <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="120px" align="left" valign=bottom style="font-weight:bold"><font size="4">Plots Manager</font></td>
                    <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="180px" align="left" valign=bottom><font size="4"></font></td>
                    @*<td width="130px" align="left" style="vertical-align:top"><img src="~/assets/static/images/meherestate.png" width=130 height=29></td>*@
                </tr>
            </table>
        }
    }
    <!-- ************************************************************************** -->
    <table cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td align="center" valign="middle">-----------------------------------------------------------------------------------------------------------------------------------------------------------------------</td>
        </tr>
    </table>


    <table  cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="800px" align="center" valign=bottom style="padding-right: 95px;">
                @if (Model.Receipt_Type == "Repurchased")
                {
                    <img src="~/assets/static/images/K-04.png" width=200 height=100>
                    <div style="background-color:grey; width:1000px; height:50px; text-align:center; padding-top:4px;"><b>Plot Cancellation Receipt</b><br />File Copy</div>
                }
                else
                {
                    <img src="~/assets/static/images/K-04.png" width=200 height=100>
                    <div style="background-color:grey; width:1000px; height:50px; text-align:center; padding-top:4px;"><b>Plot Cancellation Receipt</b><br />File Copy</div>

                }
            </td>
            <!--<td width="200px" align="right" valign=bottom>-->
            @*<img src="~/assets/static/images/customer-copy.png" width=125 height=125>*@
            <!--</td>-->
        </tr>
    </table>
    <table   cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="250px"></td>
            <td width="90px" valign=bottom style="font-weight:bold">Receipt No.</td>
            <td width="125px" align="center" valign=bottom style="border-bottom:1px solid">@Model.ReceiptNo</td>
            <td width="246px" valign=bottom></td>
        </tr>
    </table>
    <table   cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="50px" align="left" valign=bottom style="font-weight:bold">Name</td>
            <td width="300px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Name</td>
            <td width="105px" align="left" valign=bottom style="font-weight:bold">S/O,D/O,W/O</td>
            <td width="300px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Father_Name</td>
            <td width="95px" align="left" valign=bottom style="font-weight:bold">Contact No.</td>
            <td width="120px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Contact</td>
        </tr>
    </table>
    <table   cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="70px" align="left" valign=bottom style="font-weight:bold">Plot No </td>
            <td width="330px" align="center" valign=bottom style="border-bottom:1px solid">@Model.File_Plot_Number</td>
            <td width="45px" align="left" valign=bottom style="font-weight:bold">Block </td>
            <td width="150px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Block</td>
            <td width="35px" align="left" valign=bottom style="font-weight:bold">Size </td>
            <td width="100px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Size</td>
            <td width="50px" align="left" valign=bottom style="font-weight:bold">Date</td>
            <td width="250px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0: MMM dd, yyyy}", Model.DateTime)</td>
        </tr>
    </table>
    @if (Model.Receipt_Type == "Repurchased")
    {
        <table   cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="120px" align="left" valign=bottom style="font-weight:bold">Total Plot Price</td>
                <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Plot_Total_Amount)))</td>
                <td width="150px" align="left" valign=bottom style="font-weight:bold">Received Amount</td>
                <td width="150px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Amount)))</td>
                <td width="100px" align="left" valign=bottom style="font-weight:bold">Repurchased</td>
                <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Repurchased_Amt)))</td>
            </tr>
        </table>
    }
    else
    {
        var rem = Model.Amount - Model.Deduction_Amt;
        <table   cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="115px" align="left" valign=bottom style="font-weight:bold">Total Plot Price</td>
                <td width="115px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Plot_Total_Amount)))</td>
                <td width="150px" align="left" valign=bottom style="font-weight:bold">Received Amount</td>
                <td width="115px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Amount)))</td>
                <td width="90px" align="left" valign=bottom style="font-weight:bold">Deduction</td>
                <td width="115px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(Model.Deduction_Amt)))</td>
                <td width="130px" align="left" valign=bottom style="font-weight:bold">Refund Amount</td>
                <td width="115px" align="center" valign=bottom style="border-bottom:1px solid"><b style="color:red">@string.Format("{0:n0}", Math.Round(Convert.ToDouble(rem)))</b></td>
            </tr>
        </table>
    }
    <table   cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="100px" align="left" valign=bottom style="font-weight:bold">Receipts No</td>
            <td width="900px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Description</td>
        </tr>
    </table>
    <table   cellspacing="0" border="0" style="width:1000px">
        <tr><td align="center"><font size="6"><b>Declaration</b></font> </tr>
        <tr>
            <td align="center" valign=bottom>I Here by declare that I want to cancel my Booking of Plot due to some personal reasons, I have returned all of my documents to society for the refund purpose and from now onwards I have not right of any Claim Regarding this Plot</td>
        </tr>
    </table>
    <table   cellspacing="0" border="0" style="width:1000px">
        @*<tr>
            <td align="right" valign=bottom><font size="4">A Project of</font></td>
        </tr>*@
    </table>
    @if (Model.Receipt_Type == "Repurchased")
    {

        <table   cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="75px" align="left" valign=bottom style="font-weight:bold"><font size="4">Customer</font></td>
                <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                <td width="160px" align="left" valign=bottom style="font-weight:bold"><font size="4">Assistant Manager</font></td>
                <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                <td width="120px" align="left" valign=bottom style="font-weight:bold"><font size="4">Plots Manager</font></td>
                <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                <td width="180px" align="left" valign=bottom><font size="4"></font></td>
                @*<td width="130px" align="left" style="vertical-align:top"><img src="~/assets/static/images/meherestate.png" width=130 height=29></td>*@
            </tr>
        </table>
    }
    else
    {
        if (Model.Deduction == 0)
        {

            <table   cellspacing="0" border="0" style="width:1000px">
                <tr>
                    <td width="75px" align="left" valign=bottom style="font-weight:bold"><font size="4">Customer</font></td>
                    <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="150px" align="left" valign=bottom style="font-weight:bold"><font size="4">Assistant Manager</font></td>
                    <td width="130px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="20px" align="left" valign=bottom><font size="4"></font></td>
                    <td width="115px" align="left" valign=bottom style="font-weight:bold"><font size="4">Plots Manager</font></td>
                    <td width="130px" align="center" valign=bottom style="border-bottom:1px solid"><font size="4"></font></td>
                    <td width="20px" align="left" valign=bottom><font size="4"></font></td>
                    <td width="65px" align="left" valign=bottom style="font-weight:bold"><font size="4">Director</font></td>
                    <td width="130px" align="center" valign=bottom style="border-bottom:1px solid"><font size="4"></font></td>
                    @*<td width="130px" align="left" style="vertical-align:top"><img src="~/assets/static/images/meherestate.png" width=130 height=29></td>*@
                </tr>
            </table>
        }
        else
        {

            <table   cellspacing="0" border="0" style="width:1000px">
                <tr>
                    <td width="75px" align="left" valign=bottom style="font-weight:bold"><font size="4">Customer</font></td>
                    <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="160px" align="left" valign=bottom style="font-weight:bold"><font size="4">Assistant Manager</font></td>
                    <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="120px" align="left" valign=bottom style="font-weight:bold"><font size="4">Plots Manager</font></td>
                    <td width="150px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"></font></td>
                    <td width="180px" align="left" valign=bottom><font size="4"></font></td>
                    @*<td width="130px" align="left" style="vertical-align:top"><img src="~/assets/static/images/meherestate.png" width=130 height=29></td>*@
                </tr>
            </table>
        }
    }
</body>
</html>