@model MeherEstateDevelopers.Models.Sp_Get_Receipt_Parameter_ById_Result
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css" media="all">

        body, div, table, thead, tbody, tfoot, tr, th, td, p {
            font-family: "Calibri";
            font-size: 19px;
        }

            table td {
                height: 28px;
            }

        body {
            -webkit-print-color-adjust: exact;
            margin: 0;
        }

        .watermark1 {
            background-image: url(/images/1.jpg);
            background-repeat: no-repeat;
            background-size: 40%;
            background-position: 250px 10px;
            width: 1000px;
        }

        .watermark2 {
            background-image: url(/images/2.jpg);
            background-repeat: no-repeat;
            background-size: 40%;
            background-position: 250px 10px;
            width: 1000px;
            background-color: #F7DCF7;
        }

        .watermark3 {
            background-image: url(/images/3.jpg);
            background-repeat: no-repeat;
            background-size: 40%;
            background-position: 250px 10px;
            background-color: #FAFAC6;
            width: 1000px;
        }
    </style>
</head>
<body>
    <table cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="800px" align="right" valign=bottom style="padding-right: 95px;">
                @if (Model.Project == "SA Premium Homes")
                {
                    if (Model.Type == "Booking")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-book-rec.png" width=450 height=125>
                    }
                    else if (Model.Type == "Confirmation")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-conf-rec.png" width=450 height=125>
                    }
                    else if (Model.Type == "Installment")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-ins-rec.png" width=450 height=125>
                    }
                    else if (Model.Type == "Possession")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-ins-rec.png" width=450 height=125>
                    }
                    else if (Model.Type == "Balloon Payment")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-ins-rec.png" width=450 height=125>
                    }
                }
                else
                {
                    if (Model.Type == "Advance")
                    {
                        <img src="~/assets/static/images/BookingReceipt/customer.png" width=450 height=125>
                    }
                    else if (Model.Type == "Installment")
                    {
                        <img src="~/assets/static/images/InstallmentReceipts/customer.png" width=450 height=125>
                    }
                    else if (Model.Type == "Booking")
                    {
                        <img src="~/assets/static/images/BookingReceipt/customer.png" width=450 height=125>
                    }
                    else if (Model.Type == "Confirmation")
                    {
                        <img src="~/assets/static/images/BookingReceipt/customer.png" width=450 height=125>
                    }
                    else if (Model.Type == "BookingToken")
                    {
                        <img src="~/assets/static/images/BookingReceipt/customer.png" width=450 height=125>
                    }
                    else if (Model.Type == "ServiceCharges")
                    {
                        <img src="~/assets/static/images/SercharReceipt/customer.png" width=450 height=125>
                    }
                    else if (Model.Type == "Electricity_Charges")
                    {
                        <img src="~/assets/static/images/ElecReceipt/customer.png" width=450 height=125>
                    }
                    else if (Model.Type == "Transfer")
                    {
                        <img src="~/assets/static/images/TransferReceipt/customer.png" width=450 height=125>
                    }
                    else if (Model.Type == "New_Connection_Charges")
                    {
                        <img src="~/assets/static/images/BookingReceipt/customer.png" width=450 height=125>
                    }
                    else if (Model.Type == "Fines_Penalities")
                    {
                        <img src="~/assets/static/images/BookingReceipt/customer.png" width=450 height=125>
                    }
                    else if (Model.Type == "Power_Of_Attorney")
                    {
                        <img src="~/assets/static/images/BookingReceipt/customer.png" width=450 height=125>
                    }
                    else if (Model.Type == "Duplicate_AllotmentLetter")
                    {
                        <img src="~/assets/static/images/BookingReceipt/customer.png" width=450 height=125>
                    }
                    else if (Model.Type == "Cancellation")
                    {
                        <img src="~/assets/static/images/Cancellation/customer.png" width=450 height=125>
                    }
                    else if (Model.Type == "DealershipRegisteration")
                    {
                        <img src="~/assets/static/images/BookingReceipt/customer.png" width=450 height=125>
                    }
                }

            </td>
            <td width="200px" align="right" valign=bottom>
                <img src="~/assets/static/images/customer-copy.png" width=125 height=125>
            </td>
        </tr>
    </table>
    <table cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="250px"></td>
            <td width="90px" valign=bottom style="font-weight:bold">Receipt No.</td>
            <td width="125px" align="center" valign=bottom style="border-bottom:1px solid">@Model.ReceiptNo</td>
            <td width="246x" valign=bottom></td>
        </tr>
    </table>

    <div class="watermark1">
        
        <table cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="340px" align="left" valign=bottom style="font-weight:bold">Received with Thanks from Mr./Mrs./Miss:</td>
                <td width="660px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Name</td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="105px" align="left" valign=bottom style="font-weight:bold">S/O,D/O,W/O</td>
                <td width="535px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Father_Name</td>
                <td width="95px" align="left" valign=bottom style="font-weight:bold">Contact No.</td>
                <td width="260px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Contact</td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="140px" align="left" valign=bottom style="font-weight:bold">A Sum of Rupees</td>
                <td width="530px" align="center" valign=bottom style="border-bottom:1px solid">@Model.AmountinWords</td>
                <td width="10px"></td>
                <td width="220px" align="center" valign=bottom style="border-bottom:1px solid;font-weight:bold"></td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="340px" align="left" valign=bottom style="font-weight:bold">In Cash / Cheque / Pay Order / Bank Draft</td>
                <td width="360px" align="center" valign=bottom style="border-bottom:1px solid">@Model.PaymentType</td>
                <td width="35px" align="left" valign=bottom style="font-weight:bold">Date </td>
                <td width="260px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:D}", Model.DateTime)</td>
            </tr>
        </table>
        @if (Model.PaymentType != "Cash")
        {
            <table class="bank" cellspacing="0" border="0" style="width:1000px">
                <tr>
                    <td width="110px" align="left" valign=bottom style="font-weight:bold">Drawn Bank </td>
                    <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Bank</td>
                    <td width="180px" align="left" valign=bottom style="font-weight:bold"><span>@Model.PaymentType</span> No.</td>
                    <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Ch_Pay_Draft_No</td>
                    <td width="120px" align="left" valign=bottom style="font-weight:bold">On Account of </td>
                    <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Project</td>
                </tr>
            </table>
        }
        <table cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="175px" align="left" valign=bottom style="font-weight:bold">Plot Registeration No </td>
                <td width="300px" align="center" valign=bottom style="border-bottom:1px solid">@Model.File_Plot_Number - @Model.Plot_Type</td>
                <td width="45px" align="left" valign=bottom style="font-weight:bold">Block </td>
                <td width="260px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Block</td>
                <td width="35px" align="left" valign=bottom style="font-weight:bold">Size </td>
                <td width="235px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Size </td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td align="right" valign=bottom><font size="4">A Project of</font></td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="35px" align="left" valign=bottom style="font-weight:bold"><font size="6">Rs.</font></td>
                <td width="170px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"> @string.Format("{0:n0}", string.Format("{0:n0}", Model.Amount))</font></td>
                <td width="60px" align="left" valign=bottom><font size="4"></font></td>
                <td width="400px" align="center" valign=bottom style="font-weight:bold"><font size="2">This is computer generated receipt. No Signature Required</font></td>
                <td width="180px" align="left" valign=bottom><font size="4"></font></td>
                <td width="130px" align="left" style="vertical-align:top"><img src="~/assets/static/images/meherestate-simple.png" width=130 height=29></td>
            </tr>
            @if (Model.PaymentType != "Cash")
            {
                <tr class="cheq-row">
                    <td width="550px" colspan="6" align="left" style="font-size:12px" valign=top>Receipt Valid Subject to Realization of @Model.PaymentType</td>
                </tr>
            }
        </table>
    </div>
    <!-- ************************************************************************** -->
    <table cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td align="center" valign="middle">-----------------------------------------------------------------------------------------------------------------------------------------------------------------------</td>
        </tr>
    </table>

    <table bgcolor="#F7DCF7" cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="800px" align="right" valign=bottom style="padding-right: 95px;">
                @if (Model.Project == "SA Premium Homes")
                {
                    if (Model.Type == "Booking")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-book-rec.png" width=450 height=125>
                    }
                    else if (Model.Type == "Confirmation")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-conf-rec.png" width=450 height=125>
                    }
                    else if (Model.Type == "Installment")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-ins-rec.png" width=450 height=125>
                    }
                    else if (Model.Type == "Possession")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-ins-rec.png" width=450 height=125>
                    }
                    else if (Model.Type == "Balloon Payment")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-ins-rec.png" width=450 height=125>
                    }
                }
                else
                {
                    if (Model.Type == "Advance")
                    {
                        <img src="~/assets/static/images/BookingReceipt/accounts.png" width=450 height=125>
                    }
                    else if (Model.Type == "Installment")
                    {
                        <img src="~/assets/static/images/InstallmentReceipts/accounts.png" width=450 height=125>
                    }
                    else if (Model.Type == "Booking")
                    {
                        <img src="~/assets/static/images/BookingReceipt/accounts.png" width=450 height=125>
                    }
                    else if (Model.Type == "Confirmation")
                    {
                        <img src="~/assets/static/images/BookingReceipt/accounts.png" width=450 height=125>
                    }
                    else if (Model.Type == "BookingToken")
                    {
                        <img src="~/assets/static/images/BookingReceipt/accounts.png" width=450 height=125>
                    }
                    else if (Model.Type == "ServiceCharges")
                    {
                        <img src="~/assets/static/images/SercharReceipt/accounts.png" width=450 height=125>
                    }
                    else if (Model.Type == "Electricity_Charges")
                    {
                        <img src="~/assets/static/images/ElecReceipt/accounts.png" width=450 height=125>
                    }
                    else if (Model.Type == "Transfer")
                    {
                        <img src="~/assets/static/images/TransferReceipt/accounts.png" width=450 height=125>
                    }
                    else if (Model.Type == "New_Connection_Charges")
                    {
                        <img src="~/assets/static/images/BookingReceipt/accounts.png" width=450 height=125>
                    }
                    else if (Model.Type == "Fines_Penalities")
                    {
                        <img src="~/assets/static/images/BookingReceipt/accounts.png" width=450 height=125>
                    }
                    else if (Model.Type == "Power_Of_Attorney")
                    {
                        <img src="~/assets/static/images/BookingReceipt/accounts.png" width=450 height=125>
                    }
                    else if (Model.Type == "Duplicate_AllotmentLetter")
                    {
                        <img src="~/assets/static/images/BookingReceipt/accounts.png" width=450 height=125>
                    }
                    else if (Model.Type == "Cancellation")
                    {
                        <img src="~/assets/static/images/Cancellation/accounts.png" width=450 height=125>
                    }
                    else if (Model.Type == "DealershipRegisteration")
                    {
                        <img src="~/assets/static/images/BookingReceipt/accounts.png" width=450 height=125>
                    }
                }
                </td>

            <td width="200px" align="right" valign=bottom>
                <img src="~/assets/static/images/accounts-copy.png" width=125 height=125>
            </td>
        </tr>
    </table>
    <table bgcolor="#F7DCF7" cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="250px"></td>
            <td width="90px" valign=bottom style="font-weight:bold">Receipt No.</td>
            <td width="125px" align="center" valign=bottom style="border-bottom:1px solid">@Model.ReceiptNo</td>
            <td width="246x" valign=bottom></td>
        </tr>
    </table>
    

    <div class="watermark2">
        
        <table bgcolor="" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="340px" align="left" valign=bottom style="font-weight:bold">Received with Thanks from Mr./Mrs./Miss:</td>
                <td width="660px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Name</td>
            </tr>
        </table>
        <table bgcolor="" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="105px" align="left" valign=bottom style="font-weight:bold">S/O,D/O,W/O</td>
                <td width="535px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Father_Name</td>
                <td width="95px" align="left" valign=bottom style="font-weight:bold">Contact No.</td>
                <td width="260px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Contact</td>
            </tr>
        </table>
        <table bgcolor="" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="140px" align="left" valign=bottom style="font-weight:bold">A Sum of Rupees</td>
                <td width="530px" align="center" valign=bottom style="border-bottom:1px solid">@Model.AmountinWords</td>
                <td width="10px"></td>
                <td width="220px" align="center" valign=bottom style="border-bottom:1px solid;font-weight:bold"></td>
            </tr>
        </table>
        <table bgcolor="" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="340px" align="left" valign=bottom style="font-weight:bold">In Cash / Cheque / Pay Order / Bank Draft</td>
                <td width="360px" align="center" valign=bottom style="border-bottom:1px solid">@Model.PaymentType</td>
                <td width="35px" align="left" valign=bottom style="font-weight:bold">Date </td>
                <td width="260px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:D}", Model.DateTime)</td>
            </tr>
        </table>
        @if (Model.PaymentType != "Cash")
        {
            <table bgcolor="" class="bank" cellspacing="0" border="0" style="width:1000px">
                <tr>
                    <td width="110px" align="left" valign=bottom style="font-weight:bold">Drawn Bank </td>
                    <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Bank</td>
                    <td width="180px" align="left" valign=bottom style="font-weight:bold"><span>@Model.PaymentType</span> No.</td>
                    <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Ch_Pay_Draft_No</td>
                    <td width="120px" align="left" valign=bottom style="font-weight:bold">On Account of </td>
                    <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Project</td>
                </tr>
            </table>
        }
        <table bgcolor="" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="175px" align="left" valign=bottom style="font-weight:bold">Plot Registeration No </td>
                <td width="300px" align="center" valign=bottom style="border-bottom:1px solid">@Model.File_Plot_Number - @Model.Plot_Type</td>
                <td width="45px" align="left" valign=bottom style="font-weight:bold">Block </td>
                <td width="260px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Block</td>
                <td width="35px" align="left" valign=bottom style="font-weight:bold">Size </td>
                <td width="235px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Size </td>
            </tr>
        </table>
        <table bgcolor="" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td align="right" valign=bottom><font size="4">A Project of</font></td>
            </tr>
        </table>
        <table bgcolor="" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="35px" align="left" valign=bottom style="font-weight:bold"><font size="6">Rs.</font></td>
                <td width="170px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"> @string.Format("{0:n0}", Model.Amount)</font></td>
                <td width="60px" align="left" valign=bottom><font size="4"></font></td>
                <td width="400px" align="center" valign=bottom style="font-weight:bold"><font size="2">This is computer generated receipt. No Signature Required</font></td>
                <td width="180px" align="left" valign=bottom><font size="4"></font></td>
                <td width="130px" align="left" style="vertical-align:top"><img src="~/assets/static/images/meherestate-simple.png" width=130 height=29></td>
            </tr>
            @if (Model.PaymentType != "Cash")
            {
                <tr class="cheq-row">
                    <td width="550px" colspan="6" align="left" style="font-size:12px" valign=top>Receipt Valid Subject to Realization of @Model.PaymentType</td>
                </tr>
            }
        </table>
    </div>

    <!-- ************************************************************************** -->
    <table cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td align="center" valign="middle">-----------------------------------------------------------------------------------------------------------------------------------------------------------------------</td>
        </tr>
    </table>

    <table bgcolor="#FAFAC6" cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="800px" align="right" valign=bottom style="padding-right: 95px;">
                @if (Model.Project == "SA Premium Homes")
                {
                    if (Model.Type == "Booking")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-book-rec.png" width=450 height=125>
                    }
                    else if (Model.Type == "Confirmation")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-conf-rec.png" width=450 height=125>
                    }
                    else if (Model.Type == "Installment")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-ins-rec.png" width=450 height=125>
                    }
                    else if (Model.Type == "Possession")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-ins-rec.png" width=450 height=125>
                    }
                    else if (Model.Type == "Balloon Payment")
                    {
                        <img src="~/assets/static/images/\SAPremiumReceipts/sa-prem-ins-rec.png" width=450 height=125>
                    }
                }
                else
                {
                    if (Model.Type == "Advance")
                    {
                        <img src="~/assets/static/images/BookingReceipt/file.png" width=450 height=125>
                    }
                    else if (Model.Type == "Installment")
                    {
                        <img src="~/assets/static/images/InstallmentReceipts/file.png" width=450 height=125>
                    }
                    else if (Model.Type == "Booking")
                    {
                        <img src="~/assets/static/images/BookingReceipt/file.png" width=450 height=125>
                    }
                    else if (Model.Type == "Confirmation")
                    {
                        <img src="~/assets/static/images/BookingReceipt/file.png" width=450 height=125>
                    }
                    else if (Model.Type == "BookingToken")
                    {
                        <img src="~/assets/static/images/BookingReceipt/file.png" width=450 height=125>
                    }
                    else if (Model.Type == "ServiceCharges")
                    {
                        <img src="~/assets/static/images/SercharReceipt/file.png" width=450 height=125>
                    }
                    else if (Model.Type == "Electricity_Charges")
                    {
                        <img src="~/assets/static/images/ElecReceipt/file.png" width=450 height=125>
                    }
                    else if (Model.Type == "Transfer")
                    {
                        <img src="~/assets/static/images/TransferReceipt/file.png" width=450 height=125>
                    }
                    else if (Model.Type == "New_Connection_Charges")
                    {
                        <img src="~/assets/static/images/BookingReceipt/file.png" width=450 height=125>
                    }
                    else if (Model.Type == "Fines_Penalities")
                    {
                        <img src="~/assets/static/images/BookingReceipt/file.png" width=450 height=125>
                    }
                    else if (Model.Type == "Power_Of_Attorney")
                    {
                        <img src="~/assets/static/images/BookingReceipt/file.png" width=450 height=125>
                    }
                    else if (Model.Type == "Duplicate_AllotmentLetter")
                    {
                        <img src="~/assets/static/images/BookingReceipt/file.png" width=450 height=125>
                    }
                    else if (Model.Type == "Cancellation")
                    {
                        <img src="~/assets/static/images/Cancellation/file.png" width=450 height=125>
                    }
                    else if (Model.Type == "DealershipRegisteration")
                    {
                        <img src="~/assets/static/images/BookingReceipt/file.png" width=450 height=125>
                    }
                }
                </td>
            <td width="200px" align="right" valign=bottom>
                <img src="~/assets/static/images/files-copy.png" width=125 height=125>
            </td>
        </tr>
    </table>
    <table bgcolor="#FAFAC6" cellspacing="0" border="0" style="width:1000px">
        <tr>
            <td width="250px"></td>
            <td width="90px" valign=bottom style="font-weight:bold">Receipt No.</td>
            <td width="125px" align="center" valign=bottom style="border-bottom:1px solid">@Model.ReceiptNo</td>
            <td width="246x" valign=bottom></td>
        </tr>
    </table>

    <div class="watermark3">
        
        <table bgcolor="" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="340px" align="left" valign=bottom style="font-weight:bold">Received with Thanks from Mr./Mrs./Miss:</td>
                <td width="660px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Name</td>
            </tr>
        </table>
        <table bgcolor="" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="105px" align="left" valign=bottom style="font-weight:bold">S/O,D/O,W/O</td>
                <td width="535px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Father_Name</td>
                <td width="95px" align="left" valign=bottom style="font-weight:bold">Contact No.</td>
                <td width="260px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Contact</td>
            </tr>
        </table>
        <table bgcolor="" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="140px" align="left" valign=bottom style="font-weight:bold">A Sum of Rupees</td>
                <td width="530px" align="center" valign=bottom style="border-bottom:1px solid">@Model.AmountinWords</td>
                <td width="10px"></td>
                <td width="220px" align="center" valign=bottom style="border-bottom:1px solid;font-weight:bold"></td>
            </tr>
        </table>
        <table bgcolor="" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="340px" align="left" valign=bottom style="font-weight:bold">In Cash / Cheque / Pay Order / Bank Draft</td>
                <td width="360px" align="center" valign=bottom style="border-bottom:1px solid">@Model.PaymentType</td>
                <td width="35px" align="left" valign=bottom style="font-weight:bold">Date </td>
                <td width="260px" align="center" valign=bottom style="border-bottom:1px solid">@string.Format("{0:D}", Model.DateTime)</td>
            </tr>
        </table>
        @if (Model.PaymentType != "Cash")
        {
            <table bgcolor="" class="bank" cellspacing="0" border="0" style="width:1000px">
                <tr>
                    <td width="110px" align="left" valign=bottom style="font-weight:bold">Drawn Bank </td>
                    <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Bank</td>
                    <td width="180px" align="left" valign=bottom style="font-weight:bold"><span>@Model.PaymentType</span> No.</td>
                    <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Ch_Pay_Draft_No</td>
                    <td width="120px" align="left" valign=bottom style="font-weight:bold">On Account of </td>
                    <td width="200px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Project</td>
                </tr>
            </table>
        }
        <table bgcolor="" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="175px" align="left" valign=bottom style="font-weight:bold">Plot Registeration No </td>
                <td width="300px" align="center" valign=bottom style="border-bottom:1px solid">@Model.File_Plot_Number - @Model.Plot_Type</td>
                <td width="45px" align="left" valign=bottom style="font-weight:bold">Block </td>
                <td width="260px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Block</td>
                <td width="35px" align="left" valign=bottom style="font-weight:bold">Size </td>
                <td width="235px" align="center" valign=bottom style="border-bottom:1px solid">@Model.Size </td>
            </tr>
        </table>
        <table bgcolor="" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td align="right" valign=bottom><font size="4">A Project of</font></td>
            </tr>
        </table>
        <table bgcolor="" cellspacing="0" border="0" style="width:1000px">
            <tr>
                <td width="35px" align="left" valign=bottom style="font-weight:bold"><font size="6">Rs.</font></td>
                <td width="170px" align="center" valign=bottom style="border-bottom:1px solid"><font size="6"> @string.Format("{0:n0}", Model.Amount)</font></td>
                <td width="60px" align="left" valign=bottom><font size="4"></font></td>
                <td width="400px" align="center" valign=bottom style="font-weight:bold"><font size="2">This is computer generated receipt. No Signature Required</font></td>
                <td width="180px" align="left" valign=bottom><font size="4"></font></td>
                <td width="130px" align="left" style="vertical-align:top"><img src="~/assets/static/images/meherestate-simple.png" width=130 height=29></td>
            </tr>
            @if (Model.PaymentType != "Cash")
            {
                <tr class="cheq-row">
                    <td width="550px" colspan="6" align="left" style="font-size:12px" valign=top>Receipt Valid Subject to Realization of @Model.PaymentType</td>
                </tr>
            }
        </table>
    </div>

</body>
</html>