
@*@model MeherEstateDevelopers.Models.NDC_View*@
@{
    Layout = null;
    //int count = 1;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/assets/styles/pagebreak.css">


    <style>
        body {
            font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
        }

        .fixed-width-1 {
            display: inline-block;
            width: 880px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }

        .fixed-width-2 {
            display: inline-block;
            width: 806px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }

        .fixed-width-3 {
            display: inline-block;
            width: 442px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }

        .fixed-width-4 {
            display: inline-block;
            width: 400px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }

        .fixed-width-5 {
            display: inline-block;
            width: 921px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }

        .fixed-width-6 {
            display: inline-block;
            width: 873px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }

        .fixed-width-7 {
            display: inline-block;
            width: 250px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
        .fixed-width-n {
            display: inline-block;
            width: 243px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
        .fixed-width-8 {
            display: inline-block;
            width: 275px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }

        .fixed-width-9 {
            display: inline-block;
            width: 275px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }

        .fixed-width-10 {
            display: inline-block;
            width: 281px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }

        .fixed-width-11 {
            display: inline-block;
            width: 914px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }

        .fixed-width-12 {
            display: inline-block;
            width: 806px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }

        .fixed-width-13 {
            display: inline-block;
            width: 873px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }

        .fixed-width-14 {
            display: inline-block;
            width: 450px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }

        .fixed-width-15 {
            display: inline-block;
            width: 357px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
        .fixed-width-16 {
            display: inline-block;
            width: 732px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
        .fixed-width-17 {
            display: inline-block;
            width: 365px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
        .fixed-width-18 {
            display: inline-block;
            width: 420px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
        .fixed-width-19 {
            display: inline-block;
            width: 327px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
        .fixed-width-20 {
            display: inline-block;
            width: 292px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
        .fixed-width-21 {
            display: inline-block;
            width: 310px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
        .fixed-width-22 {
            display: inline-block;
            width: 302px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
        .fixed-width-23 {
            display: inline-block;
            width: 460px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
        .fixed-width-24 {
            display: inline-block;
            width: 312px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
        .fixed-width-25 {
            display: inline-block;
            width: 432px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
        .fixed-width-26 {
            display: inline-block;
            width: 434px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
        .fixed-width-27 {
            display: inline-block;
            width: 468px;
            text-align: center;
            border-bottom: 1px solid black; /* Add underline with solid line */
            text-decoration: none; /* Remove default underline */
        }
    </style>

</head>
<body>

    <table cellspacing="0" border="0" style="width:1100px">
        <tr>
            <td width="300px" align="center" valign=bottom style="font-weight:bold"><b>Serial No.</b> @*@Model.CurrentTransferRequest.Select(x => x.TransferRequestNo).FirstOrDefault()*@</td>
            <td width="300px" align="center" valign=bottom><b>Date</b> <u>@string.Format("{0:ddd, MMMM dd yyyy}", DateTime.Now)</u></td>
        </tr>
    </table>
    <table cellspacing="0" border="0" style="width:1100px">
        <tr>
            <td width="200px" align="center" valign="bottom"></td>
            <td width="200px" align="center" valign="bottom"></td>
        </tr>
    </table>
    <table cellspacing="0" border="0" style="width:1100px;font-size: 21px;margin-top: 0px;">
        <tr>
            <td align="left" valign=bottom style="line-height: 35px;">
                <p>

                    <b>FILE/PLOT NO </b> <u class="fixed-width-7">@*@Model.PreviousOwners.Select(x => x.Plot_Size).FirstOrDefault()*@abc </u><br />
                    <b>FILE/PLOT Size </b> <u class="fixed-width-n">@*@Model.PreviousOwners.Select(x => x.Plot_Size).FirstOrDefault()*@abc </u>
                </p>
            </td>
        </tr>
    </table>
    <table cellspacing="0" border="0" style="width:1100px;font-size: 22px;margin-top: 20px;">
        <tr>
            <td width="200px" align="left" valign=bottom> <b>Plot Preference</b></td>
            <td width="150px" align="left" valign=bottom style="font-size:small;"><input type="checkbox" /><b>NORMAL</b><br /><span style="font-size:x-small">&nbsp;</span></td>
            <td width="150px" align="left" valign=bottom style="font-size:small;"><input type="checkbox" /><b>CORNER</b><br /><span style="font-size:x-small">(10% Extra Charges)</span></td>
            <td width="200px" align="left" valign=bottom style="font-size:small"><input type="checkbox" /><b>MAIN ROAD</b><br /><span style="font-size:x-small">(10% Extra Charges)</span></td>
            <td width="200px" align="left" valign=bottom style="font-size:small"><input type="checkbox" /> <b>FACING PARK</b><br /><span style="font-size:x-small">(10% Extra Charges)</span></td>
            <td width="200px" align="left" valign=bottom style="font-size:small"><input type="checkbox" /><b>MAIN ROAD CORNER</b><br /><span style="font-size:x-small">(15% Extra Charges)</span></td>
        </tr>
    </table>
    <table cellspacing="0" border="0" style="width:1100px;font-size: 21px;">
        <tr>
            <td align="left" valign=bottom style="line-height: 35px;">
                <p>

                    <b>APPLICANT NAME</b> <u class="fixed-width-1">@*@string.Join(",", Model.PreviousOwners.Select(x => x.From_Name))*@ abc</u>
                    <b>FATHER/HUSBAND NAME</b> <u class="fixed-width-2">@*@string.Join(",", Model.PreviousOwners.Select(x => x.From_FatherName))*@ abc</u>
                    <b>CNIC#</b> <u class="fixed-width-3">@*@string.Join(",", Model.PreviousOwners.Select(x => x.From_CNIC_NICOP))*@ abc</u>
                    <b>PASSPORT NO. </b> <u class="fixed-width-4">@*@string.Join(",", Model.PreviousOwners.Select(x => x.From_Mobile1))*@ abc</u>
                    <b>RES. ADDRESS </b> <u class="fixed-width-5">@*@Model.PreviousOwners.Select(x => x.Plot_Number).FirstOrDefault() @Model.PreviousOwners.Select(x => x.Type).FirstOrDefault()*@ abc</u>
                    <b>MAILING ADDRESS </b> <u class="fixed-width-6">@*@Model.PreviousOwners.Select(x => x.Block_Name).FirstOrDefault()*@ block</u>
                    <b>PHONE</b><u class="fixed-width-8">abc</u>
                    <b>MOBILE#</b><u class="fixed-width-9">abc</u>
                    <b>EMAIL</b><u class="fixed-width-10">abc</u>

                    <b>Nominee Name</b><u class="fixed-width-11">abc</u>
                    <b>FATHER/HUSBAND NAME</b> <u class="fixed-width-12">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Nominee_Name))*@ abc</u>
                    <b>MAILING ADDRESS</b> <u class="fixed-width-13">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Nominee_CNIC_NICOP))*@ abc</u>
                    <b>NOMINEE CNIC #</b> <u class="fixed-width-14" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u>
                    <b>PHONE</b> <u class="fixed-width-15" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u>
                    <b>RELATIONSHIP WITH APPLICANT</b> <u class="fixed-width-16" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u>
                    <b>RELATIONSHIP WITH APPLICANT</b> <u class="fixed-width-16" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u>

                    <b>FILE/PLOT PRICE</b> <u class="fixed-width-17" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u>
                    <b>NET PRICE</b> <u class="fixed-width-18" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u>
                    <b>PAYMENT RECEIVED</b> <u class="fixed-width-19" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u>
                    <b>PERCENTAGE RECEIVED</b> <u class="fixed-width-20" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u>
                    <b>CHEQUE/PAY ORDER#</b> <u class="fixed-width-21" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u>
                    <b>CHEQUE/PO AMOUNT</b> <u class="fixed-width-22" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u>

                    <b>DATED</b> <u class="fixed-width-23" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u><br />
                    <b>DISCOUNT/PREMIUM</b> <u class="fixed-width-24" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u><br />
                    <b>BALANCE</b> <u class="fixed-width-25" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u><br />
                    <b>RECEIPT#</b> <u class="fixed-width-26" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u><br />
                    <b>BANK</b> <u class="fixed-width-27" id="address">@*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@ abc </u>
                </p>
            </td>
        </tr>
    </table>
   
    <!--<table cellspacing="0" border="0" style="width:500px;font-size: 21px;">
        <tr style="margin-top: -20px;">
            <td align="left" valign=bottom style="line-height: 38px;">
                <p>

                    <b>DATED</b> <u class="fixed-width-23" id="address">-->
    @*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@
    <!--abc </u>
    <b>DISCOUNT/PREMIUM</b> <u class="fixed-width-24" id="address">-->
    @*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@
    <!--abc </u>
    <b>BALANCE</b> <u class="fixed-width-25" id="address">-->
    @*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@
    <!--abc </u>
    <b>RECEIPT#</b> <u class="fixed-width-26" id="address">-->
    @*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@
    <!--abc </u>
    <b>BANK</b> <u class="fixed-width-27" id="address">-->
    @*@string.Join(",", Model.CurrentTransferRequest.Select(x => x.Postal_Address))*@
    <!--abc </u>

                </p>
            </td>
        </tr>
    </table>-->

    <table cellspacing="0" border="0" style="width:1070px;font-size: 22px; margin-top:40px;">
        <tr>
            <td width="400px" align="left" valign=bottom style="font-weight:bold; text-align:center; border-top:1px solid">BOOKING OFFICER & DATE</td>
            <td width="30px" align="left" valign=bottom ></td>
            <td width="400px" align="left" valign=bottom style="font-weight:bold; text-align:center; border-top:1px solid">MANAGER</td>
            <td width="30px" align="left" valign=bottom ></td>
            <td width="400px" align="left" valign=bottom style="font-weight:bold; text-align:center; border-top:1px solid">Applicant Signature</td>

            @*<td width="200px" align="right" valign=bottom style="font-weight:bold">Date</td>
        <td width="200px" align="center" valign=bottom style="border-bottom:1px solid;font-size: 17px;">@string.Format("{0:ddd, MMMM dd yyyy}", DateTime.Now)</td>*@
        </tr>
    </table>


    <div class="page-break">
        <table cellspacing="0" border="0" style="width:600px;font-size: 22px;margin-top: 35px;">
            <tr>
                <td width="600px" align="left" valign=bottom><b>DOCUMENTS REQUIRED</b></td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width: 600px; font-size: 18px; margin-top: 10px;">
            <tr>
                <td width="600px" align="left" valign=bottom>- Original Documents</td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width: 600px; font-size: 18px; margin-top: 10px; ">
            <tr>
                <td width="600px" align="left" valign=bottom>- Plot Transfer Payment Receipts</td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width: 600px; font-size: 18px; margin-top: 10px;">
            <tr>
                <td width="600px" align="left" valign=bottom>- Plot Transfer Tax Challan</td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width: 600px; font-size: 18px; margin-top: 10px;">
            <tr>
                <td width="600px" align="left" valign=bottom>- CNIC copy of buyer & Seller & 2 Pictures of Buyer</td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width: 600px; font-size: 18px; margin-top: 10px;">
            <tr>
                <td width="600px" align="left" valign=bottom>- Copy of file application form with aggreement on Rs. 100/- stamp paper</td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width: 600px; font-size: 18px; margin-top: 10px;">
            <tr>
                <td width="600px" align="left" valign=bottom>- Copy of last payment Receipt</td>
            </tr>
        </table>
    </div>


    @*<div class="page-break">
            <table cellspacing="0" border="0" style="width: 1070px;">
                @if (count == 1)
                {
                    if (Model.seller.Any())
                    {
                        <tr>
                            @foreach (var item in Model.seller)
                            {
                                <td align="center"><img src="@item.Owner_Img" width="200" height="200"><br><p>@item.Name</p></td>
                            }
                        </tr>
                        <tr>
                            @foreach (var item in Model.CurrentTransferRequest)
                            {
                                <td align="center"><img src="@item.Buyer_Image" width="200" height="200"><br><p>@item.Name</p></td>
                            }
                        </tr>
                    }
                    else
                    {
                        <tr>
                            @foreach (var item in Model.PreviousOwners)
                            {
                                <td align="center"><img src="@item.Owner_Img" width="200" height="200"><br><p>@item.From_Name</p></td>
                            }
                        </tr>
                        <tr>
                            @foreach (var item in Model.CurrentTransferRequest)
                            {
                                <td align="center"><img src="@item.Buyer_Image" width="200" height="200"><br><p>@item.Name</p></td>
                            }
                        </tr>
                    }

                }

            </table>
        </div>*@
    <script>
                    // Get the <u> tag element
                    //const uTag = document.getElementById('address');

                    // Get the width of the content inside the <u> tag
                    //const contentWidth = uTag.scrollWidth;

                    // Get the style element for .fixed-width-15
                    //const styleElement = document.createElement('style');
                    //styleElement.textContent = `.fixed-width-14 { width: ${contentWidth}px; }`;

                    // Append the style element to the head
                    //document.head.appendChild(styleElement);
    </script>
</body>

</html>