@model MeherEstateDevelopers.Models.Sp_Get_CurrentOwner_File_Id_Result
@{
    var inst = 1 * Model.Installments;
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Reminder</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 30px;
            /*padding: 5px;*/
        }

        header {
            text-align: right;
            margin-bottom: 40px;
        }

        h2, h3 {
            margin-bottom: 5px;
        }

        ol, ul {
            margin-top: 5px;
            margin-bottom: 10px;
        }

        footer {
            text-align: right;
            position: fixed;
            bottom: 70px;
            right: 65px; /* Adjusted right margin for the signature */
            width: calc(100% - 40px); /* Calculated width to match the company details */
            padding-top: 10px;
        }

        .signature-line {
            border-top: 2px solid #000;
            margin-top: 10px;
            margin-left: 65%; /* Right margin for the signature line */
            width: 35%; /* Match the width of the company details */
        }
    </style>
</head>
<body>
    <header>
        <p><b><u>COMPANY DETAILS</u></b></p>
        <p>Telephone No.</p>
        <p>0544-111-11-55-11</p>
        <p>0333-0862601</p>
        <p>0333-0862603</p>
        <p>Dated @DateTime.Now.ToString("dd MMMM, yyyy")</p>
    </header>

    <div>
        <h4><b>To: @Model.Name</b></h4>
        @*<p>Reg No. A2EX-0010</p>*@
        <p><b>File No</b> @Model.FileFormNumber</p>
        @*<p>Payment Code. 10-M</p>*@
        <p><b>Mobile No.</b> @Model.Mobile_1</p>
        <p><b>Address.</b> @Model.Postal_Address</p>
    </div>

    <div>
        <h3><b>Subject: <u>Cancellation of Provisional Residential File, File No. @Model.FileFormNumber Measuring @Model.Plot_Size</u></b></h3>
        <ol>
            <li>
                <p>That file was provisionally booked in your name, and Management of 'The Grand City' regrets to point out that Rs. <b>@string.Format("{0:n0}", Math.Round(Convert.ToDecimal(-1 * Model.Balance_Amount)))/-</b> are outstanding against your subject provisional file.</p>
            </li>
            <li>
                <p>In pursuance of 1st and 2nd Reminder Letters regarding the clearance of outstanding dues against your provisional file in The Grand City, you have not paid installments of the due amount as per the payment plan agreed upon by you. The Management has intimated to you regarding outstanding installments against your provisional file, but there is no response on your behalf till today.</p>
            </li>
            <li>
                <p>The provisional allotment / sale agreement of the subject provisional file is hereby canceled due to the non-deposit of installments / outstanding dues. Kindly submit the original file and other documents to the Customer Services Department. We appreciate the relationship we had and thank you for providing us the opportunity to serve you.</p>
            </li>
            <li>
                <p>You may visit our Head Office or Site Office during working hours for further assistance, please.</p>
            </li>
        </ol>
    </div>

    <footer>
        <div class="signature-line"></div>
        <p>Company Official Signature</p>
    </footer>
</body>
</html>
<!--<style>
    @@page {
        margin: 0 !important;
    }

    body {
        margin: 0px !important;
    }

    @@media print {
        .letterhead {
            height: 1600px;
            width: 1186px;
            margin: 0 !important;
            background-image: url(../../images/LetterHead.jpg);
            background-size: 1186px 1600px;
            font-family: sans-serif;
            color: black;
            background-repeat: no-repeat;
        }

        .let-cont {
            padding: 15% 5% 0 5%;
        }
    }

    .letterhead {
        height: 1555px;
        width: 1186px;
        background-image: url(../../images/LetterHead.jpg);
        background-size: 1186px 1555px;
        font-family: sans-serif;
        color: black;
        background-repeat: no-repeat;
    }

    .let-cont {
        padding: 15% 5% 0 5%;
    }

    p {
        color: black !important;
        font-size: 20px
    }
</style>
<div class="letterhead">
    <div class="let-cont">
        <p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>
        <p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>
        <p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>
        <p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>
        <p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>

        <p style="text-align: center;"><strong><u><span style="font-size: 14.0pt; font-family: 'Abadi',sans-serif;">Sher Afghan – Plot Cancellation Letter</span></u></strong></p>
        <p><strong><span style="font-family: 'Abadi',sans-serif;">Respected Customer,</span></strong></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Hope you are having a great day!</span></p>

        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1.3"><span style="font-family: 'Abadi',sans-serif;">This is to inform you that your plot in Sher Afghan Block, Meher Estate Developers has been cancelled on account of a considerable remaining amount due on your part.-->
@*You have been reminded two times before via written notices dated @string.Format("{0:dd-MMMM-yyyy}", Model.First_Notice) & @string.Format("{0:dd-MMMM-yyyy}", Model.Sec_Notice) followed up by an SMS as well by the society, however, despite these notices,*@
<!--you haven’t paid your remaining amount.</span></p>

        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Name: @Model.Name</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Plot Number: @Model.FileFormNumber</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Plot Size: @Model.Plot_Size</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Balance Amount: @string.Format("{0:n0}", Math.Round(Convert.ToDecimal(-1 * Model.Balance_Amount)))</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Due Installments: @inst</span></p>
        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Cancellation Date: @string.Format("{0:dd-MMMM-yyyy}", Model.Cancel_Notice)</span></p>

        <p style="text-align: justify; text-justify: inter-ideograph;line-height:1.3"><span style="font-family: 'Abadi',sans-serif;">Therefore; in accordance with terms and conditions applied by Meher Estate Developers your plot has been cancelled. You are kindly requested to visit out Head Office and submit your complete documents for the processing of your refund.</span></p>

        <p style="line-height:1.3"><strong><span style="font-family: 'Abadi',sans-serif;">Note: If there is any ambiguity in this case, please visit our Head Office along with the complete file and receipts in 7 days’ time for rectification.</span></strong></p>

        <p></p>
        <p><span style="font-family: 'Abadi',sans-serif;">Regards,</span></p>
        <p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">_________________</span></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Muhammad Naeem, </span></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Records Manager,</span></p>
        <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Date: @string.Format("{0:dd-MMMM-yyyy}", DateTime.Now)</span></p>
    </div>
</div>-->
@*<div style="page-break-after:always"></div>
    @{
        Html.RenderAction("FileStatmentAcc","Reports",new { Token = Model.FileFormNumber });
    }*@