@model IEnumerable<MeherEstateDevelopers.Models.Files_Transfer>
@{ int count = 1;}
<div class="col-md-12 central-text-align">
    <h3>Owners Trail</h3>
</div>
@foreach (var ownGrp in Model.OrderByDescending(x => x.DateTime).GroupBy(x => x.Group_Tag))
{
<div class="panel-heading central-text-align" style="background-color:rgba(255, 0, 0,0.5);color:white;">
    <h5>@ownGrp.Select(x => x.Ownership_Status).FirstOrDefault() - @string.Format("{0: dd-MMM-yyyy}", ownGrp.Select(x => x.DateTime).FirstOrDefault()) &nbsp; &nbsp;<i class="fa fa-plus-circle new-owner-add" data-grpTag="@ownGrp.Select(x=> x.Group_Tag).FirstOrDefault()" data-fileNum="@ownGrp.Select(x=> x.File_Form_Id).FirstOrDefault()" data-toggle="modal" data-target="#Modal"></i></h5>
  
    @*<div class="new-bid-req" id="" data-itemid="" data-toggle="modal" data-target="#Modal"></div>*@
</div>

    foreach (var v in ownGrp)
    {
        <div class="wrap-sfk">
            <input type="hidden" class="file-trans-id" value="@v.Id" />
            <div class="col-md-12">
                <h5>@(count++).</h5>
            </div>
            <div class="form-row file-owner-data-nsdjk">
                <input type="hidden" class="file-trans-id" value="@v.Id" />
                <div class="form-group col-md-2">
                    <label>Name</label>
                    <input type="text" class="form-control Name" readonly value="@v.Name">
                </div>
                <div class="form-group col-md-2">
                    <label>Father's/Husband's Name</label>
                    <input type="text" class="form-control Father_Husband" readonly value="@v.Father_Husband">
                </div>
                <div class="form-group col-md-4">
                    <label>Postal Address</label>
                    <input type="text" class="form-control Postal_Address" readonly value="@v.Postal_Address">
                </div>
                <div class="form-group col-md-4">
                    <label>Residential Address</label>
                    <input type="text" class="form-control Residential_Address" readonly value="@v.Residential_Address">
                </div>
                <div class="form-group col-md-2">
                    <label>City</label>
                    <input type="text" class="form-control City" readonly value="@v.City">
                </div>
                <div class="form-group col-md-1">
                    <label>Date Of Birth</label>
                    <input type="text" class="form-control Date_Of_Birth" readonly value="@v.Date_Of_Birth">
                </div>
                <div class="form-group col-md-2">
                    <label>CNIC / NICOP</label>
                    <input type="text" class="form-control CNIC_NICOP" readonly value="@v.CNIC_NICOP">
                </div>
                <div class="form-group col-md-2">
                    <label>Occupation</label>
                    <input type="text" class="form-control Occupation" readonly value="@v.Occupation">
                </div>
                <div class="form-group col-md-2">
                    <label>Nationality</label>
                    <input type="text" class="form-control Nationality" readonly value="@v.Nationality">
                </div>
                <div class="form-group col-md-2">
                    <label>Email</label>
                    <input type="text" class="form-control Email" readonly value="@v.Email">
                </div>
                <div class="form-group col-md-2">
                    <label>Phone Office</label>
                    <input type="text" class="form-control Phone_Office" readonly value="@v.Phone_Office">
                </div>
                <div class="form-group col-md-2">
                    <label>Residential</label>
                    <input type="text" class="form-control Residential" readonly value="@v.Residential">
                </div>
                <div class="form-group col-md-2">
                    <label>Mobile 1</label>
                    <input type="text" class="form-control Mobile_1" readonly value="@v.Mobile_1">
                </div>
                <div class="form-group col-md-2">
                    <label>Mobile 2</label>
                    <input type="text" class="form-control Mobile_2" readonly value="@v.Mobile_2">
                </div>
                <div class="form-group col-md-2">
                    <label>Ownership Date</label>
                    <input type="text" class="form-control DateTime" data-provide="datepicker" readonly value="@((v.DateTime is null)?"-":v.DateTime.Value.ToString("MM/dd/yyy"))">
                </div>
                <div class="form-group col-md-2">
                    <label>Ownership Status</label>
                    <select class="form-control owner-stat-jfkldgf" disabled>
                        @if (v.Ownership_Status == "Owner")
                        {
                            <option value="Owner" selected>Owner</option>
                            <option value="Transfer">Transferred</option>
                            <option value="Cancelled">Cancelled</option>
                        }
                        else if (v.Ownership_Status == "Transfer")
                        {
                            <option value="Owner">Owner</option>
                            <option value="Transfer" selected>Transferred</option>
                            <option value="Cancelled">Cancelled</option>
                        }
                        else if (v.Ownership_Status == "Cancelled")
                        {
                            <option value="Owner">Owner</option>
                            <option value="Transfer">Transferred</option>
                            <option value="Cancelled" selected>Cancelled</option>
                        }
                        else
                        {
                            <option value="" selected>Choose</option>
                            <option value="Owner">Owner</option>
                            <option value="Transfer">Transferred</option>
                            <option value="Cancelled" selected>Cancelled</option>
                        }
                    </select>
                </div>

        <hr />
        <h6 class="c-grey-900">Nominee</h6>
        <div class="mT-30 up-info">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Name</label>
                    <input type="text" class="form-control Nominee_Name" readonly value="@v.Nominee_Name">
                </div>
                <div class="form-group col-md-2">
                    <label>CNIC / NICOP</label>
                    <input type="text" class="form-control Nominee_CNIC_NICOP" readonly value="@v.Nominee_CNIC_NICOP">
                </div>
                <div class="form-group col-md-2">
                    <label>Relation</label>
                    <input class="form-control Nominee_Relation" readonly value="@v.Nominee_Relation">
                </div>
                <div class="form-group col-md-5">
                    <label>Address</label>
                    <input type="text" class="form-control Nominee_Address" readonly value="@v.Nominee_Address">
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        @using (Html.BeginForm("FiesImageUploader", "FileSystem", FormMethod.Post, new { @id = "file-imge", @class = "", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="col-md-3" id="1">
                <input type="hidden" name="ImageId" class="Plot_id" />
                <input type="hidden" name="File_Id" class="file_id" value="@v.File_Form_Id" />
                <input type="file" id="file1" name="File"><br>
                <img src="/assets/static/images/def-img.png" id="img1" class="img1" width="200" height="200"><br>
                <button class="btn btn-success btn_gen__poss" style="margin-top:10px" type="submit" name="" value="1">Save Image</button>
            </div>
        }
        @using (Html.BeginForm("FiesImageUploader", "FileSystem", FormMethod.Post, new { @id = "file-imge", @class = "", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="col-md-3" id="2">
                <input type="hidden" name="ImageId" class="Plot_id" />
                <input type="hidden" name="File_Id" class="file_id" value="@v.File_Form_Id" />
                <input type="file" id="file2" name="File"><br>
                <img src="/assets/static/images/def-img.png" id="img2" class="img1" width="200" height="200"><br>
                <button class="btn btn-success btn_gen__poss" style="margin-top:10px" type="submit" name="" value="2">Save Image</button>
            </div>
        }
        @using (Html.BeginForm("FiesImageUploader", "FileSystem", FormMethod.Post, new { @id = "file-imge", @class = "", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="col-md-3" id="3">
                <input type="hidden" name="ImageId" class="Plot_id" />
                <input type="hidden" name="File_Id" class="file_id" value="@v.File_Form_Id" />
                <input type="file" id="file3" name="File" value="3"><br>
                <img src="/assets/static/images/def-img.png" id="img3" class="img1" width="200" height="200">
                <button class="btn btn-success btn_gen__poss" style="margin-top:10px" type="submit" name="" value="3">Save Image</button>
            </div>
        }
        @using (Html.BeginForm("FiesImageUploader", "FileSystem", FormMethod.Post, new { @id = "file-imge", @class = "", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="col-md-3" id="4">
                <input type="hidden" name="ImageId" class="Plot_id" />
                <input type="hidden" name="File_Id" class="file_id" value="@v.File_Form_Id" />
                <input type="file" id="file4" name="File"><br>
                <img src="/assets/static/images/def-img.png" id="img4" class="img1" width="200" height="200">
                <button class="btn btn-success btn_gen__poss" style="margin-top:10px" type="submit" name="" value="4">Save Image</button>
            </div>
        }

            </div>
            @if (!User.IsInRole("File Customer Image Update"))
            {
                <div class="col-md-12 central-text-align mt-md-3 mb-md-3">
                    <button class="btn btn-success updt-exstng-owner-rec-dsffskfs" style="display:none;">Save Record</button>
                </div>
            }

            <hr />
        </div>
    }

}

<script>
    $(document).ready(function () {
        $('.updt-exstng-owner-rec-dsffskfs').unbind().click(function () {
            //collect the data here
            let actualRow = $(this).closest('.wrap-sfk');
            var od = {
                Id: $(actualRow).find('.file-trans-id').val()
                , Name: $(actualRow).find('.Name').val()
                , Father_Husband: $(actualRow).find('.Father_Husband').val()
                , Postal_Address: $(actualRow).find('.Postal_Address').val()
                , Residential_Address: $(actualRow).find('.Residential_Address').val()
                , Phone_Office: $(actualRow).find('.Phone_Office').val()
                , Residential: $(actualRow).find('.Residential').val()
                , Mobile_1: $(actualRow).find('.Mobile_1').val()
                , Mobile_2: $(actualRow).find('.Mobile_2').val()
                , Email: $(actualRow).find('.Email').val()
                , Occupation: $(actualRow).find('.Occupation').val()
                , Nationality: $(actualRow).find('.Nationality').val()
                , Date_Of_Birth: $(actualRow).find('.Date_Of_Birth').val()
                , CNIC_NICOP: $(actualRow).find('.CNIC_NICOP').val()
                , Nominee_Name: $(actualRow).find('.Nominee_Name').val()
                , Nominee_Relation: $(actualRow).find('.Nominee_Relation').val()
                , Nominee_Address: $(actualRow).find('.Nominee_Address').val()
                , Nominee_CNIC_NICOP: $(actualRow).find('.Nominee_CNIC_NICOP').val()
                , DateTime: $(actualRow).find('.DateTime').val()
                , City: $(actualRow).find('.City').val()
                , Ownership_Status: $(actualRow).find('.owner-stat-jfkldgf option:selected').val()
                , FileId: $('#file-id').val()
            };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/FileSystem/UpdateOwnerResult/',
                data: JSON.stringify(od),
                success: function (data) {
                    $("#upd-info").show();
                    $(".updt-exstng-owner-rec-dsffskfs").hide();
                    $(".up-info :input").prop("readonly", true);
                    $(".owner-stat-jfkldgf").prop("disabled", true);
                   // alert("Owner's information updated successfully");
                    Swal.fire({
                        icon: 'success',
                        text: "Owner's information updated successfully"
                    });
                },
                error: function (data) {
                    Swal.fire({
                        icon: 'error',
                        text: 'Something went wrong'
                    });
                }
            });
        });
    });

    $(document).on('click', '.new-owner-add', function () {
        EmptyModel();
        $('#ModalLabel').text("Add New Owner");
        var grpId = $(this).attr('data-grpTag');
        var fileId = $(this).attr('data-fileNum');
        $('#modalbody').load('/FileSystem/AddNewOwner/', { Grp_Id: grpId, FileId: fileId});
    });
</script>