@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_LastOwners_File_Id_Result>
@{
    var seven = DateTime.Now.AddDays(7);
    var cure = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    var inst = 1 * Convert.ToInt32(Model.Select(x => x.Installments).FirstOrDefault());
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Reminder</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 30px;
            /*padding: 5px;*/
        }

        header {
            text-align: right;
            margin-bottom: 30px;
        }

        h2, h3 {
            margin-bottom: 5px;
        }

        ol, ul {
            margin-top: 5px;
            margin-bottom: 10px;
        }

        footer {
            text-align: right;
            position: fixed;
            bottom: 70px;
            right: 65px; /* Adjusted right margin for the signature */
            width: calc(100% - 40px); /* Calculated width to match the company details */
            padding-top: 10px;
        }

        .signature-line {
            border-top: 2px solid #000;
            margin-top: 10px;
            margin-left: 65%; /* Right margin for the signature line */
            width: 35%; /* Match the width of the company details */
        }
    </style>
</head>
<body>
    <header>
        <p><b><u>COMPANY DETAILS</u></b></p>
        <p>Telephone No.</p>
        <p>0544-111-11-55-11</p>
        <p>0333-0862601</p>
        <p>0333-0862603</p>
        <p>Dated @DateTime.Now.ToString("dd MMMM, yyyy")</p>
    </header>

    <div>
        <h4><b>To: @string.Join(",", Model.Select(x => x.Name).Distinct())</b></h4>
        @*<p>Reg No. A2EX-0010</p>*@
        <p><b>File No</b> @Model.Select(x => x.FileFormNumber).FirstOrDefault()</p>
        @*<p>Payment Code. 10-M</p>*@
        <p><b>Mobile No.</b> @Model.Select(x => x.Mobile_1)</p>
        <p><b>Address.</b> @Model.Select(x => x.Postal_Address)</p>
    </div>
    <div>
        <h3><b>Subject: <u>1st Reminder Notice on Overdue Installments</u></b></h3>
        <ol>
            <li>
                <p>That subject file is provisionally book in your name and management of The Grand City is regretfully pointed out that an amount of Rs. <b>@string.Format("{0:n0}", Math.Round(Convert.ToDecimal(Model.Select(x => x.Balance_Amount))))/-</b> is outstanding against you, as arrears of Installments regarding your file.</p>
            </li>
            <li>
                <p>You are requested to deposit the installments / outstanding dues with a fine of 0.1% per day. Kindly pay your Outstanding Installments before @DateTime.Now.AddDays(14).ToString("dd MMMM, yyyy") through demand draft or pay order in the name of “Eurobiz Corporation” against receipt directly in given account of “Eurobiz Corporation”.</p>
                <p>Details of account is as under:</p>
                <ul>
                    <li>Account No. 0000-102535994087 &nbsp;&nbsp; Bank Al Baraka</li>
                    <li>Account No. 0023-487000510503 &nbsp;&nbsp; Bank HBL</li>
                    <li>Account No. 0109-000228187019 &nbsp;&nbsp; Bank UBL</li>
                </ul>
            </li>
            <li>
                <p>Please treat this letter as <b>1st REMINDER NOTICE</b>, failing which the management of The Grand City will be constrained to take an appropriate action as per rules & policies, which includes the cancellation of provisional allotment / sale agreement of your file.</p>
            </li>
            <li>
                <p><b><u>In case you have already paid installment / dues of your file, please disregard this notice.</u></b></p>
            </li>
            <li>
                <p>Assuring you of full cooperation and you may visit our site office or head office at any working hours for further assistance.</p>
            </li>
        </ol>
    </div>

    <footer>
        <div class="signature-line"></div>
        <p>Company Official Signature</p>
    </footer>
</body>
</html>

    <!--<style>
        @@page {
            margin: 0 !important;
        }

        p {
            color: black !important;
            font-size: 14px
        }

        .lt-cont {
            padding: 10px 2% !important
        }

        .main-lt-cont {
            width: 60%;
        }

        @@media print {
            @@Page {
                size: A4
            }

            .main-lt-cont {
                width: 100%;
            }

            .lh-foot {
                position: fixed;
                bottom: 0;
            }

            .lt-cont {
                padding: 10px 2% !important
            }
        }
    </style>
    <div class="main-lt-cont">
        <div class="lh-head" style="display: flex; justify-content: center; align-items: center; padding-top:2%;">

            <img src="~/images/LH-Head.png" style="width:15%; height:15%;" />
        </div>
        <div class="lt-cont">
            <p style="text-align: center;"><strong><u><span style="font-size: 15px; font-family: 'Abadi',sans-serif;">Blocks – Plot Cancellation Warning Letter</span></u></strong></p>
            <p style="text-align: center;"><strong><span style="font-family: 'Abadi',sans-serif;">Submission of Installments / Arrears / Dues</span></strong></p>
            <p><strong><span style="font-family: 'Abadi',sans-serif;">Respected Customer,</span></strong></p>
            <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Hope you are having a great day!</span></p>

            <p style="text-align: justify; text-justify: inter-ideograph;line-height:1.3"><span style="font-family: 'Abadi',sans-serif;">Kindly note that considerable amount of Installment is due. To continue towards development and progress of this esteemed project, SA Systems administration requests you to kindly submit your Installment/arrears/dues as soon as possible. Please find below the information.</span></p>

            <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Name: @string.Join(",", Model.Select(x => x.Name).Distinct())</span></p>
            <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Plot Number: @Model.Select(x => x.FileFormNumber).FirstOrDefault()</span></p>
            <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Plot Size: @Model.Select(x => x.Plot_Size).FirstOrDefault()</span></p>
            <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Balance Amount: @string.Format("{0:n0}", Math.Round(Convert.ToDecimal(-1 * Model.Select(x => x.Balance_Amount).FirstOrDefault())))</span></p>
            <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Due Installments: @inst</span></p>
            <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">First Warning Date: @string.Format("{0:dd-MMMM-yyyy}", Model.Select(x => x.First_Notice).FirstOrDefault())</span></p>

            <p style="text-align: justify; text-justify: inter-ideograph;line-height:1.3"><span style="font-family: 'Abadi',sans-serif;">We are<span style=""> hereby</span> grieved to inform that <span style="">as the prescribed payment plan</span> <span style="">of</span> your Installments/arrears/dues <span style="">have yet not been paid</span> <span style="">as agreed per se; hence in lieu thereof, we most humbly request for your</span> <span style="">timely</span> <span style="">payment, as in case of failure, the matter shall be forwarded to our recovery and legal section, which may further also lead to the cancellation of your plot. Please be advised for the kind submission of</span> your dues as a responsible member to avoid such case and make sure the safety of your plot/property. We shall be very thankful to you.</span></p>

            <p style="line-height:1.3"><strong><span style="font-family: 'Abadi',sans-serif;">Note: If there is any ambiguity in this case, please visit our Head Office along with the complete file and receipts in 7 days’ time for rectification.</span></strong></p>

            <p></p>
            <p><span style="font-family: 'Abadi',sans-serif;">Regards,</span></p>
            <p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>
            <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">_________________</span></p>
            <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Muhammad Naeem, </span></p>
            <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Records Manager,</span></p>
            <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Date: @string.Format("{0:dd-MMMM-yyyy}", DateTime.Now)</span></p>
        </div>-->
    @*<div class="lh-foot"><img src="~/images/LH-Footer.png" style="width:100%" /></div>*@
    <!--</div>-->
<div style="page-break-after:always"></div>
@*@{
        Html.RenderAction("FileStatmentAcc", "Reports", new { Token = Model.FileFormNumber });
    }*@
