@model MeherEstateDevelopers.Models.CustomerFileDetailData
@{

    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/assets/styles/pagebreak.css">

    <style>
        body {
            font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
        }

        .bg {
            height: 1750px;
            width: 1100px;
            @*@if(Model.FileData.Block_Name == "ARENA -  ")
            {
                var background = "../../Repository/grand arena application form printing file ready.png";
            }*@

            background-image: url('../../Repository/grand arena application form printing file ready.png');
            background-size: 1100px 1750px;
            background-repeat: no-repeat;
        }
    </style>

</head>
<body>
    <div class="bg" style="padding: 0;margin: 0">


        <table cellspacing="0" border="0" style="width:1100px; margin-top: 0px;">
            <tr>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <td width="300px" align="center" valign=bottom style="font-weight:bold"><b>Serial No.</b> @*@Model.CurrentTransferRequest.Select(x => x.TransferRequestNo).FirstOrDefault()*@</td>
                <td width="300px" align="center" valign=bottom><b>Date</b> <u>@string.Format("{0:ddd, MMMM dd yyyy}", DateTime.Now)</u></td>
                <td width="300px" align="center" valign=bottom><b>&nbsp;</b></td>

            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1100px">
            <tr>
                <td width="200px" align="center" valign="bottom"></td>
                <td width="200px" align="center" valign="bottom"></td>
            </tr>
        </table>
        <table cellspacing="0" border="0" style="width:1100px;font-size: 21px;margin-top: 0px;">
            <tr>
                <td align="left" valign=bottom style="line-height: 45px;">
                    <p>

                        <b>FILE/PLOT NO </b> <u style="text-align:center;">@Model.FileData.FileFormNumber - @Model.FileData.Type</u> <br />
                        <b>FILE/PLOT Size </b> <u style="text-align:center;">@Model.FileData.Plot_Size</u> <br />
                        <b>PLOT PREFERENCE</b> <u style="text-align:center;">@string.Join(",", Model.FilesOwners.Select(x => x.Plot_Prefrence)) </u>
                    </p>
                </td>
            </tr>
        </table>
        
        <table cellspacing="0" border="0" style="width: 1060px; font-size: 21px; margin-top: 150px; margin-left: 20px; margin-right: 20px; ">
            <tr>
                <td align="left" valign=bottom style="line-height: 45px;">
                    <h4 style="text-align: center; background-color: black; color: antiquewhite">PERSONAL INFORMATION</h4>
                    <p>
                        <b>APPLICANT NAME</b>&nbsp; @string.Join(",", Model.FilesOwners.Select(x => x.Name))
                        <b>FATHER/HUSBAND NAME</b>&nbsp; @string.Join(",", Model.FilesOwners.Select(x => x.Father_Husband))
                        <b>CNIC#</b> &nbsp; @string.Join(",", Model.FilesOwners.Select(x => x.CNIC_NICOP))
                        <b>PASSPORT NO. </b>&nbsp; 33339399-00003-33
                        <b>RES. ADDRESS </b>&nbsp;@string.Join(",", Model.FilesOwners.Select(x => x.Residential_Address))
                        <b>MAILING ADDRESS </b> &nbsp; @string.Join(",", Model.FilesOwners.Select(x => x.Postal_Address))
                        <b>PHONE</b>&nbsp;@string.Join(",", Model.FilesOwners.Select(x => x.Phone_Office))
                        <b>MOBILE#</b>&nbsp;@string.Join(",", Model.FilesOwners.Select(x => x.Mobile_1))
                        <b>EMAIL</b>&nbsp; @string.Join(",", Model.FilesOwners.Select(x => x.Email))
                </td>
            </tr>
        </table>

        <table cellspacing="0" border="0" style="width: 1060px; font-size: 21px; margin-left: 20px; margin-right: 20px; ">
            <tr>
                <td align="left" valign=bottom style="line-height: 45px;">
                    <h4 style="text-align:center; background-color:black; color:antiquewhite">NOMINEE DETAILS</h4>

                    <p>
                        <b>Nominee Name</b>&nbsp; @string.Join(",", Model.FilesOwners.Select(x => x.Nominee_Name))
                        <b>FATHER/HUSBAND NAME</b> &nbsp; not defined in the model
                        <b>MAILING ADDRESS</b> &nbsp; @string.Join(",", Model.FilesOwners.Select(x => x.Nominee_Address))
                        <b>NOMINEE CNIC #</b> &nbsp; @string.Join(",", Model.FilesOwners.Select(x => x.Nominee_CNIC_NICOP))
                        <b>PHONE</b>&nbsp; not defined 
                        <b>RELATIONSHIP WITH APPLICANT</b>&nbsp; @string.Join(",", Model.FilesOwners.Select(x => x.Nominee_Relation))
                    </p>
                </td>
            </tr>
        </table>
        

        <table cellspacing="0" border="0" style="width: 1060px; font-size: 21px; margin-left: 20px; margin-right: 20px; ">
            <tr>
                <td align="left" valign=bottom style="line-height: 45px;">
                    <h4 style="text-align: center; background-color: black; color: antiquewhite">PAYMENT DETAILS</h4>
                    <p>
                        <b>FILE/PLOT PRICE</b>abc
                        <b>NET PRICE</b> abc
                        <b>PAYMENT RECEIVED</b> abc
                        <b>PERCENTAGE RECEIVED</b> abc
                        <b>CHEQUE/PAY ORDER#</b> abc
                        <b>CHEQUE/PO AMOUNT</b> abc

                        <br /><b>DATED</b>abc
                        <br /> <b>DISCOUNT/PREMIUM</b>abc
                        <br /> <b>BALANCE</b>abc
                        <br /> <b>RECEIPT#</b>abc
                        <br /><b>BANK</b>abc
                    </p>
                </td>
            </tr>
        </table>


        <table cellspacing="0" border="0" style="width:1070px;font-size: 22px; margin-top:100px;">
            <tr>
                <td width="400px" align="left" valign=bottom style="font-weight:bold; text-align:center; border-top:1px solid">BOOKING OFFICER & DATE</td>
                <td width="30px" align="left" valign=bottom></td>
                <td width="400px" align="left" valign=bottom style="font-weight:bold; text-align:center; border-top:1px solid">MANAGER</td>
                <td width="30px" align="left" valign=bottom></td>
                <td width="400px" align="left" valign=bottom style="font-weight:bold; text-align:center; border-top:1px solid">Applicant Signature</td>

                @*<td width="200px" align="right" valign=bottom style="font-weight:bold">Date</td>
                    <td width="200px" align="center" valign=bottom style="border-bottom:1px solid;font-size: 17px;">@string.Format("{0:ddd, MMMM dd yyyy}", DateTime.Now)</td>*@
            </tr>
        </table>


        @*<div class="page-break">
                <table cellspacing="0" border="0" style="width:600px;font-size: 22px;margin-top: 35px;">
                    <tr>
                        <td width="600px" align="left" valign=bottom><b>DOCUMENTS REQUIRED</b></td>
                    </tr>
                </table>
                <table cellspacing="0" border="0" style="width: 600px; font-size: 18px; margin-top: 10px;">
                    <tr>
                        <td width="600px" align="left" valign=bottom>- Original Documents</td>
                    </tr>
                </table>
                <table cellspacing="0" border="0" style="width: 600px; font-size: 18px; margin-top: 10px; ">
                    <tr>
                        <td width="600px" align="left" valign=bottom>- Plot Transfer Payment Receipts</td>
                    </tr>
                </table>
                <table cellspacing="0" border="0" style="width: 600px; font-size: 18px; margin-top: 10px;">
                    <tr>
                        <td width="600px" align="left" valign=bottom>- Plot Transfer Tax Challan</td>
                    </tr>
                </table>
                <table cellspacing="0" border="0" style="width: 600px; font-size: 18px; margin-top: 10px;">
                    <tr>
                        <td width="600px" align="left" valign=bottom>- CNIC copy of buyer & Seller & 2 Pictures of Buyer</td>
                    </tr>
                </table>
                <table cellspacing="0" border="0" style="width: 600px; font-size: 18px; margin-top: 10px;">
                    <tr>
                        <td width="600px" align="left" valign=bottom>- Copy of file application form with aggreement on Rs. 100/- stamp paper</td>
                    </tr>
                </table>
                <table cellspacing="0" border="0" style="width: 600px; font-size: 18px; margin-top: 10px;">
                    <tr>
                        <td width="600px" align="left" valign=bottom>- Copy of last payment Receipt</td>
                    </tr>
                </table>
            </div>*@


        @*<div class="page-break">
                <table cellspacing="0" border="0" style="width: 1070px;">
                    @if (count == 1)
                    {
                        if (Model.seller.Any())
                        {
                            <tr>
                                @foreach (var item in Model.seller)
                                {
                                    <td align="center"><img src="@item.Owner_Img" width="200" height="200"><br><p>@item.Name</p></td>
                                }
                            </tr>
                            <tr>
                                @foreach (var item in Model.CurrentTransferRequest)
                                {
                                    <td align="center"><img src="@item.Buyer_Image" width="200" height="200"><br><p>@item.Name</p></td>
                                }
                            </tr>
                        }
                        else
                        {
                            <tr>
                                @foreach (var item in Model.PreviousOwners)
                                {
                                    <td align="center"><img src="@item.Owner_Img" width="200" height="200"><br><p>@item.From_Name</p></td>
                                }
                            </tr>
                            <tr>
                                @foreach (var item in Model.CurrentTransferRequest)
                                {
                                    <td align="center"><img src="@item.Buyer_Image" width="200" height="200"><br><p>@item.Name</p></td>
                                }
                            </tr>
                        }

                    }

                </table>
            </div>*@
    </div>
    <script>
                            // Get the <u> tag element
                            //const uTag = document.getElementById('address');

                            // Get the width of the content inside the <u> tag
                            //const contentWidth = uTag.scrollWidth;

                            // Get the style element for .fixed-width-15
                            //const styleElement = document.createElement('style');
                            //styleElement.textContent = `.fixed-width-14 { width: ${contentWidth}px; }`;

                            // Append the style element to the head
                            //document.head.appendChild(styleElement);

    </script>
</body>

</html>
