@{
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("Staff"))
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }

}
<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<input type="hidden" id="grptag" value="@ViewBag.grp" name="Group_Tag">
<script>
    var banklist = @Html.Raw(Json.Encode(ViewBag.Bank));
</script>
@*<script src="~/Scripts/scanning.js"></script>*@
<div class="row gap-20 pos-r">
    <div class="col-md-12">
        <div class="bgc-white p-20 bd">
            @using (Html.BeginForm("RegisterFile", "FileSystem", FormMethod.Post, new { @id = "re-fil-new-fil", @class = "", role = "form", autocomplete = "off" }))
            {
                <h6 class="c-grey-900">Application File Form</h6>
                <div class="mT-30">
                    <div class="form-row row">
                        <div class="col-md-9">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label>Application Form No.</label>
                                    <input type="text" name="FileFormNumber" class="form-control" id="app-num" required>
                                    <input type="hidden" id="app-fil-id" name="File_Form_Id">

                                </div>
                                <div class="form-group col-md-3">
                                    <label>Dealership</label>
                                    <input type="text" class="form-control" id="deal-nam" value="" readonly>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Plot Size</label>
                                    <input type="text" class="form-control" id="pl-size" name="Plot_Size" readonly>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Block</label>
                                    <input type="text" class="form-control" id="blk" readonly>
                                    <input type="hidden" id="blk_Id" name="Block_Id">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-primary my-4" id="sea-file">Search File</button>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-5">
                                    <h5>File Status : &nbsp;<span id="status">-</span></h5>
                                </div>
                                <div class="col-md-7">
                                    <h3 id="dev-char"></h3>
                                    <input type="hidden" id="dev-char-st" name="DevCharStatus" />
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <label class="col-md-2 col-form-label">Plot Prefrence</label>
                                <div class="col-md-4">
                                    <select class="form-control" name="Plot_Prefrence" id="Plot_Prefrence">
                                        <option value="">Select Plot Prefrence</option>
                                        <option value="Normal">Normal</option>
                                        <option value="Corner">Corner</option>
                                        <option value="Facing Park">Facing Park</option>
                                        <option value="Boulevard">Boulevard</option>
                                        <option value="Boulevard Corner">Boulevard Corner</option>
                                    </select>
                                </div>
                                <label class="col-md-6 my-1" id="prefinfo"></label>
                            </div>
                            <div class="form-row ">
                                <label class="col-md-2 col-form-label">Dealership</label>
                                <div class="col-md-4 ">
                                    @Html.DropDownList("Dealership", null, "Choose..", new { @class = "form-control dealers-detail" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="~/assets/static/images/no-img.png" width="200" height="200" id="qr_img" />
                            <input type="hidden" id="qr_Id" name="QR_Code">
                        </div>
                    </div>
                </div>
                <hr />
                <div class="col-md-12 mt-md-2" style="text-align:right;">
                    <i class="fa fa-plus fa-2x pointer add-new-own-applicant" style="color:lawngreen" title="Add Another Applicant"></i>
                </div>
                <h6 class="c-grey-900">Applicant Information &nbsp;&nbsp;(&nbsp;@Html.CheckBox("IsCompanyProperty") <small>Company Property</small>&nbsp;)</h6>

                <div class="owns-list">

                    <div class="owner">
                        <h4>Applicant  <span class="own-count-info">1</span></h4>


                        <div class="mT-30 own-1">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label class="deflt-fld">Name</label>
                                    <label class="comp-prop-fld" style="display:none;">Company Name</label>
                                    <input type="text" class="form-control" name="Name" required>
                                </div>
                                <div class="form-group col-md-3 deflt-fld">
                                    <label>Father's/Husband's Name</label>
                                    <input type="text" class="form-control" name="Father_Husband" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="deflt-fld">CNIC / NICOP</label>
                                    <label class="comp-prop-fld" style="display:none;">NTN</label>
                                    <input type="text" class="form-control" name="CNIC_NICOP" pattern="[0-9+]{5}-[0-9+]{7}-[0-9]{1}|[0-9+]{6}-[0-9+]{6}-[0-9]{1}" placeholder="12345-1234567-1   or   123456-123456-1" required>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="deflt-fld">Date Of Birth</label>
                                    <label class="comp-prop-fld" style="display:none;">Date Of Incorp.</label>
                                    <input type="text" class="form-control" data-provide="datepicker" name="Date_Of_Birth" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Postal Address</label>
                                    <input type="text" class="form-control" name="Postal_Address" placeholder="1234 Main St" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Residential Address</label>
                                    <input type="text" class="form-control" name="Residential_Address" placeholder="Apartment, Plot, or floor" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label>City</label>
                                    @Html.DropDownList("City", null, "Choose..", new { @class = "form-control", required = "" })
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Occupation</label>
                                    <input type="text" class="form-control" name="Occupation" required>
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Nationality</label>
                                    <input type="text" class="form-control" name="Nationality" required>
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Email</label>
                                    <input type="text" class="form-control" name="Email">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label>Phone Office</label>
                                    <input type="text" class="form-control" name="Phone_Office">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Residential</label>
                                    <input type="text" class="form-control" name="Residential">
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Mobile 1</label>
                                    <input type="text" class="form-control" pattern="^0\d{10}" placeholder="03121234567" name="Mobile_1" required>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Mobile 2</label>
                                    <input type="text" class="form-control" pattern="^0\d{10}" placeholder="03121234567" name="Mobile_2">
                                </div>
                            </div>
                        </div>
                        <hr />
                        <h6 class="c-grey-900 deflt-fld">Nominee</h6>
                        <h6 class="c-grey-900 comp-prop-fld" style="display:none;">Board Resolution</h6>
                        <div class="mT-30">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="Nominee_Name" required>
                                </div>
                                <div class="form-group col-md-2">
                                    <label>CNIC / NICOP</label>
                                    <input type="text" class="form-control" pattern="[0-9+]{5}-[0-9+]{7}-[0-9]{1}|[0-9+]{6}-[0-9+]{6}-[0-9]{1}" placeholder="12345-1234567-1 or 123456-123456-1" name="Nominee_CNIC_NICOP" required>
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Relation</label>
                                    <input class="form-control" name="Nominee_Relation" placeholder="" required>
                                </div>
                                <div class="form-group col-md-5">
                                    <label>Address</label>
                                    <input type="text" class="form-control" name="Nominee_Address" placeholder="1234 Main St" required>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>

                <input type="hidden" id="adv" />
                <input type="hidden" id="total" />
                <div class="form-row">
                    <div class="col-md-2">
                        <h6 class="c-grey-900">Payment</h6>
                    </div>
                    <div class="col-md-3">
                        <h6 class="c-grey-900">Advance: <span id="adv-pmt"></span></h6>
                    </div>
                    <div class="col-md-2" id="dis_div" style="display:none;">
                        <h6 class="c-grey-900">Discount: <span id="dis_amt"></span></h6>
                    </div>
                    <div class="col-md-3">
                        <button type="button" id="add-pay-typ" class="btn btn-info"><i class="ti-plus"></i>&nbsp; Add Payment</button>
                    </div>
                    <div class="col-md-3">
                        <h6 style="width: auto;float: left;margin: 7px;">Full Paid</h6>
                        <label class="switch"><input type="checkbox" id="full-paid"><span class="slider round"></span></label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control pay-check">
                            <option value="Payment">Payment</option>
                            <option value="DealerAdjustment">Dealership Adjustment</option>
                        </select>
                    </div>
                    <div class="load-div"></div>
                </div>
                <div class="mT-30">
                    <div class="mT-30" id="pay-list">
                        <div class="form-row" id="pay-1">
                            <div class="form-group col-md-2">
                                <label>Cash / Bank</label>
                                <select class="form-control paytypesel" id="cah-chq-bak" required>
                                    <option value="Cash">Cash</option>
                                    <option value="BankDraft">Bank Draft</option>
                                    <option value="Cheque">Cheque</option>
                                    <option value="PayOrder">Pay Order</option>
                                    <option value="Online_Cash">Online - Cash</option>
                                    <option value="Online_Cheque">Online - Cheque</option>
                                    <option value="Online_Payorder">Online - PayOrder</option>
                                    <option value="Online_Bankdraft">Online - BankDraft</option>
                                </select>
                            </div>
                            <div class="form-group col-md-1">
                                <label>Amount</label>
                                <input class="form-control coma" placeholder="250,000" required>
                                <input type="hidden" id="Amount" class="amt" required>
                            </div>
                            <div class="form-group col-md-2 paymentotherinfo">
                                <label id="paytypelabel">-</label>
                                <input type="text" class="form-control" id="paymenttype" placeholder="" disabled required>
                            </div>
                            <div class="form-group col-md-1 paymentotherinfo">
                                <label>Date</label>
                                <input type="text" class="form-control" id="cbp-date" data-provide="datepicker" placeholder="mm/dd/yyyy" disabled required>
                            </div>
                            <div class="form-group col-md-2 paymentotherinfo">
                                <label>Bank</label>
                                <select class="form-control" id="bank" disabled>
                                    <option>Choose..</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2 paymentotherinfo">
                                <label>Branch </label>
                                <input type="text" class="form-control" id="Branch" placeholder="Mall Rd" disabled required>
                            </div>
                            @*<div class="form-group col-md-1 paymentotherinfo">
                                    <label>Scan File </label>
                                    <button class=" btn btn-block" data-v="1" type="button" id="scanbtn">Scan</button>

                                </div>*@
                            <div class="form-group col-md-3">
                                @*<input type="button" onclick="UpFileee()" id="btnUpload" value="Upload Files" />*@
                                <div style="padding-bottom: 10px !important; cursor: pointer;" onclick="UpFileee()" id="btnUpload" value="Upload Files">Upload</div>
                                <input type="file" id="FileUpload1" />
                            </div>
                            <div id="images-1" class="col-md-1 images"></div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-7">
                                <button type="submit" id="reg-file" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<style>
    .paymentotherinfo {
        display: none;
    }

    #inst-stat {
        height: 1245px;
        overflow-y: scroll;
    }

    img.scanned {
        height: 200px; /** Sets the display size */
        margin-right: 12px;
    }

    div#images {
        margin-top: 20px;
        text-align: center;
    }
</style>
<script>
    $(function () {
        InitBanks(1);
    });
</script>

@if (User.IsInRole("ReadOnly"))
{
    <script>
        $("#re-fil :input").attr("disabled", true);
    </script>
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>

    function UpFileee() {
        if (window.FormData !== undefined) {

            var fileUpload = $("#FileUpload1").get(0);
            var files = fileUpload.files;
            var fileData = new FormData();

            var IdofFile = $("#app-num").val();
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            fileData.append('fileid', IdofFile);

            $.ajax({
                url: '/FileSystem/UploadFiles/',
                type: "POST",
                contentType: false,
                processData: false,
                data: fileData,
                success: function (result) {
                    alert(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    }

        let ownsCount = 2;
    $('.add-new-own-applicant').unbind().click(function () {
        //Swal.fire({
        //    //title: 'Are you sure you want to Add New Owner?',
        //    text: 'Are you sure you want to Add another Owner?',
        //    icon: 'question',
        //    showCancelButton: true,
        //    confirmButtonText: 'Yes',
        //    cancelButtonText: 'No'
        //}).then((result) => {
        //    if (result.isConfirmed) {

            let strct = `<div class="owner"> <h4>Applicant <span class="own-count-info"> ${($('.owner').length + 1)}</span>         <i class="fa fa-trash pointer rmv-owns-applicant" title="Remove this Owner"></i></h4>

                    <div class="mT-30 own-${ownsCount}">

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Name</label>
                            <input type="text" class="form-control" name="Name" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Father's/Husband's Name</label>
                            <input type="text" class="form-control" name="Father_Husband" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label>CNIC / NICOP</label>
                            <input type="text" class="form-control" name="CNIC_NICOP" pattern="[0-9+]{5}-[0-9+]{7}-[0-9]{1}|[0-9+]{6}-[0-9+]{6}-[0-9]{1}" placeholder="12345-1234567-1   or   123456-123456-1" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Date Of Birth</label>
                            <input type="text" class="form-control" data-provide="datepicker" name="Date_Of_Birth" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Postal Address</label>
                            <input type="text" class="form-control" name="Postal_Address" placeholder="1234 Main St" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Residential Address</label>
                            <input type="text" class="form-control" name="Residential_Address" placeholder="Apartment, Plot, or floor" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label>City</label>
                            @Html.DropDownList("City", null, "Choose..", new { @class = "form-control", required = "" })
                        </div>
                        <div class="form-group col-md-3">
                            <label>Occupation</label>
                            <input type="text" class="form-control" name="Occupation" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Nationality</label>
                            <input type="text" class="form-control" name="Nationality" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Email</label>
                            <input type="text" class="form-control" name="Email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Phone Office</label>
                            <input type="text" class="form-control" name="Phone_Office">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Residential</label>
                            <input type="text" class="form-control" name="Residential">
                        </div>

                        <div class="form-group col-md-3">
                            <label>Mobile 1</label>
                            <input type="text" class="form-control" pattern="^0\d{10}" placeholder="03121234567" name="Mobile_1" required>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Mobile 2</label>
                            <input type="text" class="form-control" pattern="^0\d{10}" placeholder="03121234567" name="Mobile_2">
                        </div>
                    </div>
                </div>
                <hr />
                <h6 class="c-grey-900">Nominee</h6>
                <div class="mT-30">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Name</label>
                            <input type="text" class="form-control" name="Nominee_Name" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label>CNIC / NICOP</label>
                            <input type="text" class="form-control" pattern="[0-9+]{5}-[0-9+]{7}-[0-9]{1}|[0-9+]{6}-[0-9+]{6}-[0-9]{1}" placeholder="12345-1234567-1 or 123456-123456-1" name="Nominee_CNIC_NICOP" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Relation</label>
                            <input class="form-control" name="Nominee_Relation" placeholder="" required>
                        </div>
                        <div class="form-group col-md-5">
                            <label>Address</label>
                            <input type="text" class="form-control" name="Nominee_Address" placeholder="1234 Main St" required>
                        </div>
                    </div>
                </div>
                <hr />
</div> `


            $('.owns-list').append(strct);

            $('.City').last().select2();

            ownsCount++;

        });
        //$(document).on('click', '.rmv-owns-applicant', function () {
        //    /let confi = confirm('Are you sure you want to remove this owner?');
        //    if (!confi) {
        //    //Swal.fire({
        //    //    //title: 'Are you sure?',
        //    //    text: 'Are you sure you want to Remove the Owner?',
        //    //    icon: 'question',
        //    //    showCancelButton: true,
        //    //    confirmButtonText: 'Yes',
        //    //    cancelButtonText: 'No'
        //    //}).then((result) => {
        //    //    if (result.isConfirmed) {

        //            $(this).closest('.owner').remove();
        //            $('.owner').each(function (ind, val) {
        //                $(this).find('.own-count-info').text((ind + 1));
        //            });

        //        } else {
        //            return;
        //        }
        //    });

        //});
        // Register  a file
        $(document).on("submit", "#re-fil-new-fil", function (e) {
            debugger;
            e.preventDefault();
            var advamt = parseFloat(RemoveComma($("#adv-pmt").text()));

            var payType = $(".pay-check option:selected").val();

            var recamt = $("#rec-amt").val();
           /* recamt = recamt.replace(/,/g, '');*/
            var avlbal = $("#avl-bal").text();
    /*        avlbal = avlbal.replace(/,/g, '');*/
            // Convert strings to integers
            var recamtInt = parseInt(recamt, 10);
            var avlbalInt = parseInt(avlbal, 10);

            if (payType == "DealerAdjustment") {

                if (avlbalInt < recamtInt) {
                    //alert("Plot Cannot be Register Due to Low Dealer Balance"); }
                    Swal.fire({
                        icon: 'info',
                        text: "Unable to Register File Due to Insufficient Dealer Balance"
                    });
                    return false;
                }
            }
            else
            {
                var totalamt = 0
                $(".amt").each(function () {
                    totalamt = parseFloat(totalamt) + parseFloat($(this).val());
                });
                if (advamt != totalamt) {
                    alert("Received Amount is not equal to Booking Amount");
                    //Swal.fire({
                    //    icon: 'info',
                    //    text: "Received Amount is not equal to the Booking Amount"
                    //});
                    return false;
                }
            }
            var flag = true;
            for (var i = 1; i <= paycont; i++) {
                var cash_che_bank = $("#pay-" + i + " #cah-chq-bak").val();
                if (cash_che_bank !== "Cash") {
                    flag = false;
                }
            }
            var allrecepts = []
            for (var i = 1; i <= paycont; i++) {
                var recedata = {
                    Amount: "", AmountInWords: "", Bank: "", PayChqNo: "", PaymentType: "",
                    Project_Name: "", Branch: "", Ch_bk_Pay_Date: "", FileImage: "",
                };
                recedata.Amount = $("#pay-" + i + " #Amount").val();
                recedata.AmountInWords = InWords($("#pay-" + i + " #Amount").val());
                recedata.Bank = $("#pay-" + i + " #bank").val();
                recedata.PayChqNo = $("#pay-" + i + " #paymenttype").val();
                recedata.PaymentType = $("#pay-" + i + " #cah-chq-bak").val();
                recedata.Project_Name = $("#prj").val();
                recedata.Branch = $("#pay-" + i + " #Branch").val();
                recedata.Ch_bk_Pay_Date = $("#pay-" + i + " #cbp-date").val();
                recedata.FileImage = $("#pay-" + i + " #scanned").attr('src');
                recedata.Mobile_1 = $(this).find("input[name=Mobile_1]").val();
                    debugger;
                allrecepts.push(recedata);
            }
            $("#reg-file").prop("disabled", true);
            var fileno = $("#app-num").val();
            var fulpaid = $("#full-paid").is(":checked");
            var delerId = $("#Dealership").val();
            var allowners = [];
            var regfiledata;
            $('.owner').each(function () {
                regfiledata = {
                    Id: 0,
                    Plot_Size: $("#pl-size").val(),
                    Name: $(this).find("input[name=Name]").val(),
                    Father_Husband: $(this).find("input[name=Father_Husband]").val(),
                    Postal_Address: $(this).find("input[name=Postal_Address]").val(),
                    Residential_Address: $(this).find("input[name=Residential_Address]").val(),
                    Phone_Office: $(this).find("input[name=Phone_Office]").val(),
                    Residential: $(this).find("input[name=Residential]").val(),
                    Mobile_1: $(this).find("input[name=Mobile_1]").val(),
                    Mobile_2: $(this).find("input[name=Mobile_2]").val(),
                    Email: $(this).find("input[name=Email]").val(),
                    Occupation: $(this).find("input[name=Occupation]").val(),
                    Nationality: $(this).find("input[name=Nationality]").val(),
                    Date_Of_Birth: $(this).find("input[name=Date_Of_Birth]").val(),
                    CNIC_NICOP: $(this).find("input[name=CNIC_NICOP]").val(),
                    Nominee_Name: $(this).find("input[name=Nominee_Name]").val(),
                    Nominee_Relation: $(this).find("input[name=Nominee_Relation]").val(),
                    Nominee_Address: $(this).find("input[name=Nominee_Address]").val(),
                    Nominee_CNIC_NICOP: $(this).find("input[name=Nominee_CNIC_NICOP]").val(),
                    Plot_Prefrence: $("#Plot_Prefrence").val(),
                    File_Form_Id: $("#app-fil-id").val(),
                    Phase_Id: $("#phs_Id").val(),
                    Block_Id: $("#blk_Id").val(),
                    QR_Code: $("#qr_Id").val(),
                    City: $("#City").val(),
                    Rate: 0,
                    Total: 0,
                    GrandTotal: 0,
                    Delivery: 0,
                    Group_Tag: $("#grptag").val(),

                }
                allowners.push(regfiledata);


            });

            var alldata = {
                filedatas: allowners,
                Flag: flag,
                DevCharStatus: $("#dev-char-st").val(),
                FileFormNumber: $("#app-num").val(),
                Receiptdata: allrecepts,
                FullPaid: fulpaid,
                DelerId: delerId,
                recamt: recamt,
                payType: payType
            };
            var con = confirm("Are you sure you want to Register File");
            if (con) {
            //Swal.fire({
            //    title: 'Are you sure you want to Register the File?',
            //    //text: 'Do you want to Register the File?',
            //    icon: 'question',
            //    showCancelButton: true,
            //    confirmButtonText: 'Yes',
            //    cancelButtonText: 'No'
            //}).then((result) => {
            //    if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: $(this).attr("action"),
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(alldata),
                        success: function (data) {
                            if (!data.Status) {
                                alert(data.Msg)
                                //Swal.fire({
                                //    icon: 'success',
                                //    title: 'Success!',
                                //    text: data.Msg
                                //});
                                $("#reg-file").removeAttr("disabled");
                            }
                            else {
                                alert(data.Msg);
                                //Swal.fire({
                                //    icon: 'success',
                                //    title: 'Success!',
                                //    text: data.Msg
                                //});
                                $(data.Receiptid).each(function (i) {
                                    window.open("/Banking/Receipt?Id=" + data.Receiptid[i] + "&Token=" + data.Token, '_blank');
                                });
                                if (data.PaymentNo != '0') {
                                    window.open("/Vouchers/SAGVouchers_Vendor?Id=" + data.PaymentNo + "&Token=" + data.TokenV, '_blank');
                                }
                                //window.location.reload();
                            }
                        }
                        , error: function (xmlhttprequest, textstatus, message) {
                            $("#reg-file").removeAttr("disabled");
                            if (textstatus === "timeout") {
                                //alert("got timeout");
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error!',
                                    text: "Request Timed Out."
                                });
                            } else {
                                Swal.fire({
                                    icon: 'info',
                                    title: 'Error!',
                                    text: textstatus
                                });
                                //alert(textstatus);
                            }
                        }
                    });
                }
            //});
        });

        $(document).ready(function () {
            $('#IsCompanyProperty').unbind().change(function () {
                if ($(this).is(':checked')) {
                    $('.comp-prop-fld').show();
                    $('.deflt-fld').hide();
                    $('input[name=Father_Husband]').val('-');
                }
                else {
                    $('.deflt-fld').show();
                    $('.comp-prop-fld').hide();
                    $('input[name=Father_Husband]').val('');
                }
            });
        });
    $('.pay-check').change(function () {
        var val = $(this).val();
        if (val == "Payment") {
            $('.pay-div').show();
            $('.del-bal-div').hide();
        }
        else if (val == "DealerAdjustment") {
            debugger
            $('.del-bal-div').show();
            $('.pay-div').hide();
            $('.pay-list').hide();
            var id = $('#Dealership').val();
            //var id = $('#dealer-id').val();
            $.ajax({
                type: "POST",
                url: '/Dealership/DealerBalance/',
                data: { DealerId: id, Led_Nature: "Advance" },
                beforeSend: function () {
                    SASLoad($('.load-div'))
                },
                complete: function () {
                    SASUnLoad($('.load-div'))
                },
                success: function (data) {
                    $('#deal-nam').text($('#dealership').text());
                    $('#avl-bal').text(Number(data.Balance).toLocaleString());
                }
                , error: function (xmlhttprequest, textstatus, message) {
                    if (textstatus === "timeout") {
                        alert("got timeout");
                    } else {
                        alert(textstatus);
                    }
                }
            });
        }
    });


</script>
