@model MeherEstateDevelopers.Models.Sp_Get_CurrentOwner_File_Id_Result

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Reminder</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 30px;
            /*padding: 5px;*/
        }

        header {
            text-align: right;
            margin-bottom: 30px;
        }

        h2, h3 {
            margin-bottom: 5px;
        }

        ol, ul {
            margin-top: 5px;
            margin-bottom: 10px;
        }

        footer {
            text-align: right;
            position: fixed;
            bottom: 70px;
            right: 65px; /* Adjusted right margin for the signature */
            width: calc(100% - 40px); /* Calculated width to match the company details */
            padding-top: 10px;
        }

        .signature-line {
            border-top: 2px solid #000;
            margin-top: 10px;
            margin-left: 65%; /* Right margin for the signature line */
            width: 35%; /* Match the width of the company details */
        }
    </style>
</head>
<body>
    <table cellspacing="0" border="0" style="width:1000px;font-size: 21px;margin-top: 7px;">
        <tr>
            <td width="800px" valign="top">
                <table style="margin-top:10px">
                    <tbody>
                        <tr>
                            <td width="800px" align="center" valign="bottom"><img src="~/assets/static/images/K-04.png" width=200 height=150></td>
                        </tr>
                        <tr>
                            <td width="800px" align="right" valign="bottom">Telephone No</td>
                        </tr>
                        <tr>
                            <td width="800px" align="right" valign="bottom">0333-0862601</td>
                        </tr>
                        <tr>
                            <td width="800px" align="right" valign="bottom">0333-0862603</td>
                        </tr>
                        <tr>
                            <td width="800px" align="right" valign="bottom">UAN(+92-335-11111-55)</td>

                        </tr>
                        <tr>
                            <td width="800px" align="right" valign="bottom">Head Office(170 CCA Phase VI DHA Lahore)</td>
                        </tr>
                        <tr>
                            <td width="800px" align="right" valign="bottom">Site Office(Main GT Road Kharian/ Sara-i-Alamgir)</td>

                        </tr>
                        <tr>
                            <td width="800px" align="right" valign="bottom">Dated @DateTime.Now.ToString("dd MMMM, yyyy")</td>
                        </tr>
                    </tbody>
                </table>

            </td>
            @*<td width="200px" align="center" valign=top><img style="border: 1px solid;padding: 5px;" src="@Model.Own_Img" width=170 height=200></td>*@
        </tr>

    </table>
    <table cellspacing="0" border="0" style="width:1000px;font-size: 21px;margin-top: 7px;">
        <tr>
            <td width="800px" valign="top">
                <table style="margin-top:10px">
                    <tbody>

                        <tr>
                            <td width="800px" align="left" valign="bottom"><b>To: </b>@Model.Name </td>

                        </tr>
                        <tr>
                            <td width="800px" align="left" valign="bottom"><b>Reg No:</b>@Model.FileFormNumber</td>
                        </tr>
                        @*<tr>
                            <td width="800px" align="left" valign="bottom"><b>Plot Size:</b>@Model.Plot_Size</td>
                        </tr>*@
                        <tr>
                            <td width="800px" align="left" valign="bottom"><b>Mobile No:</b> @Model.Mobile_1</td>

                        </tr>
                        <tr>
                            <td width="800px" align="left" valign="bottom"><b>Address:</b> @Model.Postal_Address</td>
                        </tr>

                    </tbody>
                </table>

            </td>
            @*<td width="200px" align="center" valign=top><img style="border: 1px solid;padding: 5px;" src="@Model.Own_Img" width=170 height=200></td>*@
        </tr>

    </table>
    <table cellspacing="0" border="0" style="width:1000px;font-size: 11.5pt;">
        <h3><b>Subject: <u>@ViewBag.subject</u></b></h3>
        <tr>
            <td width="1000px" align="left" valign=bottom>
                <ol>
                    <li>
                        That subject plot is provisionally book in your name and management of The Grand City is regretfully pointed out that an amount of Rs. <b>@string.Format("{0:n0}", Math.Round(Convert.ToDecimal(Model.Balance_Amount)))/-</b>
                        is outstanding against you, as arrears of Installments regarding your residential plot.

                    </li>
                    <li>
                        You are requested to deposit the installments / outstanding dues with a fine of 0.1% per day. Kindly pay your Outstanding Installments before @DateTime.Now.AddDays(14).ToString("dd MMMM, yyyy")
                        through demand draft or pay order in the name of “Eurobiz Corporation” against receipt directly in given account of “Eurobiz Corporation”.
                        Details of account is as under:
                        <ul>
                            <li>Account No. 0000-102535994087 &nbsp;&nbsp; Bank Al Baraka</li>
                            <li>Account No. 0023-487000510503 &nbsp;&nbsp; Bank HBL</li>
                            <li>Account No. 0109-000228187019 &nbsp;&nbsp; Bank UBL</li>
                        </ul>
                    </li>
                    <li>
                        Please treat this letter as <b>@ViewBag.msg</b>, failing which the management of The Grand City will be constrained to take an appropriate action as per rules & policies, which includes the cancellation of provisional allotment / sale agreement of your plot.
                    </li>
                    <li>
                        <b><u>In case you have already paid installment / dues of your plot, please disregard this notice.</u></b>
                    </li>
                    <li>
                        Assuring you of full cooperation and you may visit our site office or head office at any working hours for further assistance 10:00AM to 6:00PM (GMT+5)

                    </li>
                </ol>
            </td>
        </tr>
    </table>
    <footer>
        <div class="signature-line"></div>
        <p>Company Official Signature</p>
    </footer>
</body>
</html>
@*<style>
        @@page {
            margin: 0 !important;
        }

        p {
            color: black !important;
            font-size: 14px
        }

        .lt-cont {
            padding: 10px 2% !important
        }

        .main-lt-cont {
            width: 60%;
        }

        @@media print {
            @@Page {
                size: A4
            }

            .main-lt-cont {
                width: 100%;
            }

            .lh-foot {
                position: fixed;
                bottom: 0;
            }

            .lt-cont {
                padding: 10px 2% !important
            }
        }
    </style>
    <div class="main-lt-cont">
        <div class="lh-head" style="display: flex; justify-content: center; align-items: center; padding-top:2%;">

            <img src="~/images/LH-Head.png" style="width:15%; height:15%;" />
        </div>
        <div class="lt-cont">
            <p style="text-align: center;"><strong><u><span style="font-size: 23px; font-family: 'Abadi',sans-serif;">Blocks – Plot Cancellation Warning Letter</span></u></strong></p>
            <p style="text-align: center;"><strong><span style="font-family: 'Abadi',sans-serif;">Submission of Installments / Arrears / Dues</span></strong></p>
            <p><strong><span style="font-family: 'Abadi',sans-serif;">Respected Customer,</span></strong></p>
            <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Hope you are having a great day!</span></p>

            <p style="text-align: justify; text-justify: inter-ideograph;line-height:1.3"><span style="font-family: 'Abadi',sans-serif;">This letter and/or reminder is hereby being issued in continuation to the previous reminder dated @string.Format("{0:dd-MMMM-yyyy}", Model.First_Notice) which was lodged in regards to the non-payment of your Installment as due amounting to Rs. @string.Format("{0:n0}", Math.Round(Convert.ToDecimal(Model.Balance_Amount))).  You are hereby yet again henceforth advised to make the outstanding payment (as already encapsulated above) since the date as prescribed on this letter, and please be advised in an event of any omission in regards thereto, your plot shall be qualified to be cancelled.</span></p>

            <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Name: @Model.Name</span></p>
            <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Plot Number: @Model.FileFormNumber</span></p>
            <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Plot Size: @Model.Plot_Size</span></p>
            <p style="text-align: justify; text-justify: inter-ideograph;line-height:1"><span style="font-family: 'Abadi',sans-serif;">Second Warning Date: @string.Format("{0:dd-MMMM-yyyy}", Model.Sec_Notice)</span></p>

            <p style="line-height:1.3"><strong><span style="font-family: 'Abadi',sans-serif;">Note: If there is any ambiguity in this case, please visit our Head Office along with the complete file and receipts in 7 days’ time for rectification.</span></strong></p>

            <p></p>
            <p><span style="font-family: 'Abadi',sans-serif;">Regards,</span></p>
            <p><span style="font-family: 'Abadi',sans-serif;">&nbsp;</span></p>
            <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">_________________</span></p>
            <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Muhammad Naeem, </span></p>
            <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Records Manager,</span></p>
            <p style="line-height:1"><span style="font-family: 'Abadi',sans-serif;">Date: @string.Format("{0:dd-MMMM-yyyy}", DateTime.Now)</span></p>
        </div>
        <div class="lh-foot"><img src="~/images/LH-Footer.png" style="width:100%" /></div>
    </div>
    <div style="page-break-after:always"></div>*@
@*@{
        Html.RenderAction("FileStatmentAcc", "Reports", new { Token = Model.FileFormNumber });
    }*@