@model MeherEstateDevelopers.Models.DailySAMCashRep
<style>
    @@media print {
        table, tr, td, th {
            padding: 1px !important;
        }
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <h4 class="c-grey-900 mB-20">Closed Marketing Cash Report</h4>
            <a href="#" class="btn btn-primary" id="test" onClick="convert()">Download</a>
            <div id="result">
                <h6>Receipts</h6>
                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>SA Marketing Recovery Report</th>
                            @if (ViewBag.From == ViewBag.To)
                            {
                                <th>@string.Format("{0:D}", ViewBag.From)</th>
                            }
                            else
                            {
                                <th>@string.Format("{0:D}", ViewBag.From) - @string.Format("{0:D}", ViewBag.To)</th>
                            }
                        </tr>
                    </thead>
                </table>
                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th colspan="2">Name: </th>
                            <th colspan="3" class="nam">@ViewBag.Name</th>
                            <th colspan="10">Plots Recovery</th>
                        </tr>
                        <tr>
                            <th>Sr.</th>
                            <th>Amount</th>
                            <th>Receipt No.</th>
                            <th>Plot No.</th>
                            <th>Block</th>
                            <th>Company</th>
                            <th>Cash/Bank</th>
                            <th>Bank</th>
                            <th>No.</th>
                            <th>inst Date</th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Type</th>
                            <th>Project</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.PlotCollection.Any())
                            {
                                int srcount = 1;
                                foreach (var item in Model.PlotCollection)
                                {
                                    <tr>
                                        <td>@srcount</td>
                                        <td>@string.Format("{0:n0}", item.Amount)</td>
                                        <td>@item.ReceiptNo</td>
                                        <td>@item.File_Plot_Number</td>
                                        <td>@item.Block</td>
                                        <td>@item.Dealership_Name</td>
                                        <td>@item.PaymentType</td>
                                        <td>@item.Bank</td>
                                        <td>@item.Ch_Pay_Draft_No</td>
                                        <td>@item.Ch_Pay_Draft_Date</td>
                                        <td>@item.Name</td>
                                        <td>@item.Contact</td>
                                        <td>@item.Type</td>
                                        <td>@item.Project</td>
                                        <td>@string.Format("{0:t}", item.DateTime)</td>
                                    </tr>
                                    srcount++;
                                }
                            }
                        }
                        <tr>
                            <th>Total</th>
                            <td>@string.Format("{0:n0}", Model.Plot_Total)</td>
                            <th>Cash</th>
                            <td>@string.Format("{0:n0}", Model.Plot_Cash)</td>
                            <th>Cheques</th>
                            <td>@string.Format("{0:n0}", Model.Plot_Cheque)</td>
                            <th>Payorders</th>
                            <td>@string.Format("{0:n0}", Model.Plot_PayOrder)</td>
                            <th>Bank Draft</th>
                            <td>@string.Format("{0:n0}", Model.Plot_BankDraft)</td>
                            <th>Online</th>
                            <td>@string.Format("{0:n0}", Model.Plot_Online)</td>
                            <td colspan="3"></td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr><th colspan="12">Grand Total</th></tr>
                        <tr>
                            <th>Total</th>
                            <td>@string.Format("{0:n0}", Model.Total)</td>
                            <th>Cash</th>
                            <td>@string.Format("{0:n0}", Model.Cash)</td>
                            <th>Cheques</th>
                            <td>@string.Format("{0:n0}", Model.Cheque)</td>
                            <th>Payorders</th>
                            <td>@string.Format("{0:n0}", Model.PayOrder)</td>
                            <th>Bank Draft</th>
                            <td>@string.Format("{0:n0}", Model.BankDraft)</td>
                            <th>Online</th>
                            <td>@string.Format("{0:n0}", Model.Online)</td>
                        </tr>
                    </thead>
                </table>
                <hr />
                <h6>Payment Vouchers</h6>
                <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th colspan="2">Name: </th>
                            <th colspan="3" class="nam">@ViewBag.Name</th>
                            <th colspan="10">Plot Voucher</th>
                        </tr>
                        <tr>
                            <th>Sr.</th>
                            <th>Amount</th>
                            <th>Receipt No.</th>
                            <th>Plot No.</th>
                            <th>Block</th>
                            <th>Company</th>
                            <th>Cash/Bank</th>
                            <th>Bank</th>
                            <th>No.</th>
                            <th>inst Date</th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Type</th>
                            <th>Project</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.PlotVoucher.Any())
                            {
                                int srcount = 1;
                                foreach (var item in Model.PlotVoucher)
                                {
                                    <tr>
                                        <td>@srcount</td>
                                        <td>@string.Format("{0:n0}", item.Amount)</td>
                                        <td>@item.ReceiptNo</td>
                                        <td>@item.File_Plot_Number</td>
                                        <td>@item.Block</td>
                                        <td>@item.Dealership_Name</td>
                                        <td>@item.PaymentType</td>
                                        <td>@item.Bank</td>
                                        <td>@item.Ch_Pay_Draft_No</td>
                                        <td>@item.Ch_Pay_Draft_Date</td>
                                        <td>@item.Name</td>
                                        <td>@item.Contact</td>
                                        <td>@item.Type</td>
                                        <td>@item.Project</td>
                                        <td>@string.Format("{0:t}", item.DateTime)</td>
                                    </tr>
                                    srcount++;
                                }
                            }
                        }
                        <tr>
                            <th>Total</th>
                            <td>@string.Format("{0:n0}", Model.V_Plot_Total)</td>
                            <th>Cash</th>
                            <td>@string.Format("{0:n0}", Model.V_Plot_Cash)</td>
                            <th>Cheques</th>
                            <td>@string.Format("{0:n0}", Model.V_Plot_Cheque)</td>
                            <th>Payorders</th>
                            <td>@string.Format("{0:n0}", Model.V_Plot_PayOrder)</td>
                            <th>Bank Draft</th>
                            <td>@string.Format("{0:n0}", Model.V_Plot_BankDraft)</td>
                            <th>Online</th>
                            <td>@string.Format("{0:n0}", Model.V_Plot_Online)</td>
                            <td colspan="3"></td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr><th colspan="12">Grand Total</th></tr>
                        <tr>
                            <th>Total</th>
                            <td>@string.Format("{0:n0}", Model.V_Total)</td>
                            <th>Cash</th>
                            <td>@string.Format("{0:n0}", Model.V_Cash)</td>
                            <th>Cheques</th>
                            <td>@string.Format("{0:n0}", Model.V_Cheque)</td>
                            <th>Payorders</th>
                            <td>@string.Format("{0:n0}", Model.V_PayOrder)</td>
                            <th>Bank Draft</th>
                            <td>@string.Format("{0:n0}", Model.V_BankDraft)</td>
                            <th>Online</th>
                            <td>@string.Format("{0:n0}", Model.V_Online)</td>
                        </tr>
                    </thead>
                </table>
                <hr />
                <h6>Net Total</h6>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Total</th>
                            <td>@string.Format("{0:n0}", Model.Total + Model.V_Total)</td>
                            <th>Cash</th>
                            <td>@string.Format("{0:n0}", Model.Cash + Model.V_Cash)</td>
                            <th>Cheques</th>
                            <td>@string.Format("{0:n0}", Model.Cheque + Model.V_Cheque)</td>
                            <th>Payorders</th>
                            <td>@string.Format("{0:n0}", Model.PayOrder + Model.V_PayOrder)</td>
                            <th>Bank Draft</th>
                            <td>@string.Format("{0:n0}", Model.BankDraft + Model.V_BankDraft)</td>
                            <th>Online</th>
                            <td>@string.Format("{0:n0}", Model.Online + Model.V_Online)</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.nam').text( $('#user-name').text());
    });
</script>

