@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_LeadsDishonredCheques_Result>
@{ if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<div class="row">
    <div class="col-md-12">
        <div class="bdrs-3 ov-h bgc-white p-10 bd">
            <div class="form-row">
                <h5></h5>
            </div>
            @*<div class="form-row">
                    <div class="form-group col-md-2">
                        <label>From</label>
                        <input type="text" id="from" class="form-control" data-provide="datepicker" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>To</label>
                        <input type="text" id="to" class="form-control" data-provide="datepicker" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>Date</label>
                        <input type="text" id="date" class="form-control" data-provide="datepicker" />
                    </div>
                    <div class="form-group col-md-2">
                        <label style="width:100%">Users</label>
                        @Html.DropDownList("Users", null, null, new { id = "users", @class = "form-control pay-typ" })
                    </div>

                    <div class="form-group col-md-2">
                        <button class="btn btn-info acc-sea-res">Search</button>
                    </div>
                </div>*@
            <div class="form-row">
                <div class="table-responsive" id="report">
                    <table id="result" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Cheque No.</th>
                                <th>Date</th>
                                <th>Bank</th>
                                <th>Amount</th>
                                <th>File/Plot No -  Module - Type</th>
                                <th>Dep Bank</th>
                                <th>Acc No</th>
                                <th>Dep Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.Any())
                                {
                                    foreach (var g in Model.GroupBy(x => new { x.Ch_Pay_Draft_No, x.Bank, x.Ch_Pay_Draft_Date, x.Status, x.Deposit_Bank, x.Deposit_Bank_Acc_Number, x.Posted_Date }))
                                    {
                                        string statuscolor = "";
                                        if (g.Key.Status == "Approved") { statuscolor = "bgc-green-50"; }
                                        else if (g.Key.Status == "Dishonored") { statuscolor = "bgc-red-50"; }

                                        <tr class="@statuscolor pointer ld-dis-chqs" id="@g.Key.Ch_Pay_Draft_No`@g.Key.Ch_Pay_Draft_Date`@g.Key.Bank`@g.Key.Status" data-toggle="modal" data-target="#Modal">
                                            <td>@g.Key.Ch_Pay_Draft_No</td>
                                            <td>@string.Format("{0:D}", g.Key.Ch_Pay_Draft_Date)</td>
                                            <td>@g.Key.Bank</td>
                                            <td>@string.Format("{0:n0}", g.Sum(x => x.Amount))</td>
                                            <td>
                                                @foreach (var item in g)
                                                {
                                                    var data = item.File_Plot_Number + " - " + item.Module + " - " + item.Type;
                                                    <span>@data</span><br />
                                                }
                                            </td>
                                            <td>@g.Key.Deposit_Bank</td>
                                            <td>@g.Key.Deposit_Bank_Acc_Number</td>
                                            <td>@string.Format("{0:MMM dd yyyy}", g.Key.Posted_Date)</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="10">No Record Found</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
