@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_Salary_Arrears_Details_Result>


<h5>Allownces & Bouns</h5>

<div class="col-md-12">
    <div id="Allownces_And_bonus">
        @if (Model.Any())
        {
            foreach (var item in Model.Where(x => x.Type == "AllowncesAndBonus"))
            {
                <input type="hidden" class="AllowncesAndBonusSalaries" value="@item.Salaries_id" />
                <div class="from-row row">

                    <div class="form-group col-md-3">

                        <label>@item.Description</label>

                    </div>
                    <div class="form-group col-md-3">

                        <label>@String.Format("{0:n0}", item.Amount)</label>
                    </div>
                    <div class="form-group">
                        <i class="ti-minus allownces-bonus-rmv bgc-red-50 pointer" id="@item.Id"></i>
                    </div>

                </div>

            }
        }
    </div>
    <div class="form-row row">
        <div class="col-md-8">
            <hr />
        </div>
    </div>
    <div class="from-row row">
        <div class="form-group col-md-3">
            <label>Description</label>
            <input class="form-control detail_descrip" id="" />
        </div>
        <div class="form-group col-md-3">
            <label>Amount</label>
            <input class="form-control coma" placeholder="12,345" required>
            <input type="hidden" id="" name="Amount" class="amt sala_amt" required>
        </div>
        <div class="form-group col-md-1">
            <label>-----</label>
            <button class="btn btn-primary" type="submit" id="save_allownces_and_bonus" value="">Add</button>
        </div>
    </div>

</div>


<h5>Deductions & Tax</h5>
<div class="col-md-12">
    <div id="Deductions_and_tax">
        @if (Model.Any())
        {
            foreach (var item in Model.Where(x => x.Type == "DeductionAndTaxes"))
            {
                <input type="hidden" class="DeductionAndTaxesSalaries" value="@item.Salaries_id" />
                <div class="from-row row">

                    <div class="form-group col-md-3">

                        <label>@item.Description</label>

                    </div>
                    <div class="form-group col-md-3">

                        <label>@String.Format("{0:n0}", item.Amount)</label>
                    </div>
                    @if (item.Description != "Absentee" && item.Description!="Tax" )
                    {
                        <div class="form-group">
                            <i class="ti-minus ded-taxes-rmv bgc-red-50 pointer" id="@item.Id"></i>
                        </div>
                    }

                </div>

            }
        }
    </div>
    <div class="form-row row">
        <div class="col-md-8">
            <hr />
        </div>
    </div>
    <div class="from-row row">
        <div class="form-group col-md-3">
            <label>Description</label>
            <input class="form-control " type="text" id="detail_descrip" />
        </div>
        <div class="form-group col-md-3">
            <label>Amount</label>
            <input class="form-control coma" placeholder="12,345" required>
            <input type="hidden" id="sala_amt" name="Amount" class="amt" required>
        </div>
        <div class="form-group col-md-1">
            <label>-----</label>
            <button class="btn btn-primary" type="submit" id="save_deduc_and_Tax" value="">Add</button>
        </div>
    </div>
</div>
