@model MeherEstateDevelopers.Models.NewConnectionCharges
@if (Model != null)
{
    using (Html.BeginForm("PayFineCharges", "ServiceCharges", FormMethod.Post, new { @id = "pay-fin-char", @class = "", role = "form", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.PlotData.Id" name="PlotId" />
        <input type="hidden" id="trans-id" name="TransactionId" value="@ViewBag.TransactionId" />
        <input type="hidden" value="PlotManagement" name="Module" />
        <div class="bgc-white p-20 bd">
            <div class="mT-30">
                <div class="form-row row">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-1">
                                <label>Plot No.</label>
                                <h5 id="plt-no">@Model.PlotData.Plot_No</h5>
                            </div>
                            <div class="form-group col-md-1">
                                <label>Block</label>
                                <h5 id="plt-blk">@Model.PlotData.Block_Name</h5>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Size</label>
                                <h5 id="plt-size">@Model.PlotData.Plot_Size</h5>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Type</label>
                                <h5 id="plt-type">@Model.PlotData.Type</h5>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Name</label>
                                <h5 id="nam">@string.Join(",", Model.OwnerData.Select(x => x.Name))</h5>
                            </div>
                        </div>
                        <hr />
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label>Receipt Type</label>
                                <select class="form-control rec-type" name="Type">
                                    <option value="">Select</option>
                                    @*<option value="Confirmation">Confirmation</option>*@
                                    <option value="SurCharge">SurCharge</option>
                                    @*<option value="Completion_Charges">Completion_Charges</option>*@
                                    @*<option value="Development_Charges">Development_Charges</option>*@
                                    @*<option value="Special_Preference">Special_Preference</option>*@
                                    <option value="Other_Charges">Other_Charges</option>
                                    @*<option value="Possession_Charges">Possession_Charges</option>*@
                                    @*<option value="Balloting">Balloting</option>*@
                                    <option value="Activation_Charges">Activation_Charges</option>
                                    <option value="Demarcation">Demarcation</option>
                                    <option value="Govt_Tax">Govt_Tax</option>
                                    <option value="Possession_Charges">Possession_Charges</option>
                                    <option value="Processing_Fee">Processing_Fee</option>

                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Amount</label>
                                <input class="form-control coma" placeholder="12,345">
                                <input type="hidden" id="amt" name="Amount" class="amt">
                            </div>
                            <div class="form-group col-md-2">
                                <label>Payment Type</label>
                                <select class="form-control paytypesel-test" id="cah-chq-bak" name="PaymentType">
                                    <option value="Cash">Cash</option>
                                    <option value="Adjustment">Adjustment</option>
                                    <option value="Adj_Merge">Adj_Merge</option>
                                    <option value="BankDraft">Bank Draft</option>
                                    <option value="Cheque">Cheque</option>
                                    <option value="PayOrder">Pay Order</option>
                                    <option value="Online_Cash">Online - Cash</option>
                                    <option value="Online_Cheque">Online - Cheque</option>
                                    <option value="Online_Payorder">Online - PayOrder</option>
                                    <option value="Online_Bankdraft">Online - BankDraft</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 paymentotherinfo">
                                <label id="paytypelabel"></label>
                                <input type="text" class="form-control" id="paymenttype" name="PayChqNo" placeholder="" disabled>
                            </div>
                            <div class="form-group col-md-3 paymentotherinfo">
                                <label>Bank</label>
                                @Html.DropDownList("Bank", null, "Choose..", new { @class = "form-control", disabled = "" })
                            </div>
                            <div class="form-group col-md-2 paymentotherinfo">
                                <label>Branch </label>
                                <input type="text" class="form-control" id="Branch" name="Branch" placeholder="Mall Rd" disabled>
                            </div>
                            <div class="form-group col-md-2 paymentotherinfo">
                                <label>Date</label>
                                <input type="text" class="form-control" data-provide="datepicker" name="Ch_bk_Pay_Date" placeholder="mm/dd/yyyy" disabled required>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Description</label>
                                <textarea class="form-control" name="Remarks" id="desc"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <button class="btn btn-info" type="button" id="gen-fine-rec">Generate Receipt</button>
                        </div>

                    </div>

                </div>
            </div>
            <hr />

        </div>
    }
}
else
{
    <div class="bgc-white p-20 bd">
        <h5 class="c-grey-900">No Record Found</h5>
    </div>
}
@*<script>
    $(function () {
        $('.modal-footer').append('<button class="btn btn-success" id="#gen-fine-rec" type="submit">Generate Receipt</button>');
        $("#name").val($("#Name").val());
        $("#fth-husbad").val($("#Father_Husband").val());
        $("#mbl").val($("#Mobile_1").val());

        $("#amt-file-no").val($("#plt-no").text());

        $("#total-amt").val($("#ttl-amt").val());
        $("#prj-name").val($("#prj").val());

        $("#blk-nam").val($("#Block option:selected").text());

        $("#plot-size").val($("#plt-size").text());
        $("#plotid").val($("#plot-details").val());

    });
</script>*@
<script>
    $(document).on("change", ".rec-type", function () {
        var val = $(this).val();
        if (val == "Fines_Penalities" || val == "Out_Station_Charges" || val == "Other_Transfer_Charges") {
            $(".amt , .coma ").removeAttr("readonly");
            $(".amt , .coma ").val('');

        }
        else if (val == "Power_Of_Attorney") {
            $(".coma").val("5,000");
            $(".amt").val(5000);
            $(".amt , .coma ").attr("readonly", "true")
        }
        else if (val == "Duplicate_AllotmentLetter" || val == "Duplicate_Customer_File" ) {
            var v = $("#plt-size").text();
            var t = $("#plt-type").text();
            var size = v.split(' ')[0];
            if (t== "Residential") {
                var amount = size * 3000;
                $(".coma").val(Number(amount).toLocaleString());
                $(".amt").val(amount);
                //$(".amt , .coma ").attr("readonly", "true")
            }
            else if (t == "Commercial") {
                var amount = size * 6000;
                $(".coma").val(Number(amount).toLocaleString());
                $(".amt").val(amount);
                //$(".amt , .coma ").attr("readonly", "true")
            }
        }
        else if (val == "Possession_Charges") {
            var v = $("#plt-size").text();
            var t = $("#plt-type").text();
            var size = v.split(' ')[0];
            if (t == "Residential") {
                var amount = size * 2000;
                $(".coma").val(Number(amount).toLocaleString());
                $(".amt").val(amount);
                $(".amt , .coma ").attr("readonly", "true")
            }
            else if (t == "Commercial") {
                var amount = size * 5000;
                $(".coma").val(Number(amount).toLocaleString());
                $(".amt").val(amount);
                $(".amt , .coma ").attr("readonly", "true")
            }
        }
    });
</script>

