
@model MeherEstateDevelopers.Models.Sp_Get_ElecBill_ById_Result

@if(Model is null)
{

}
else
{

}
<head>
    <script>
        var billDets = @Html.Raw(Json.Encode(Model));
    </script>
</head>
<input type="hidden" value="@ViewBag.tp" class="waiver-tp" />
<div class="col-md-12">
    <table class="table table-borderless">
        <thead>
            <tr class="central-text-align">
                <th>Amount</th>
                <th>Arrears</th>
                <th>Fine</th>
                <th>Total</th>
            </tr>
        </thead>

        <tbody>
            <tr class="central-text-align">
                <td>@string.Format("{0:n2}", Model.Total_Amount)</td>
                <td>@Model.Arrears</td>
                <td>@Model.Fine_Amount</td>
                <td>@string.Format("{0:n2}", Model.Net_Total)</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row central-text-align">
    <div class="col-md-2">
        <label>Arrears To Add</label>
        <input type="number" class="form-control amt-fhjkds" />
    </div>
    <div class="col-md-9">
        <label>Remarks:</label>
        <textarea class="form-control rems-jhkl" rows="1" cols="7"></textarea>
    </div>
</div>
<div class="col-md-12 central-text-align mt-md-3">
    <button class="btn btn-primary waiver-sv-btn-asljkhg">Save</button>
</div>

<script>
    //yahan pe save krna hai waiver
    $('.waiver-sv-btn-asljkhg').click(function () {
        let rems = $('.rems-jhkl').val();
        let currAmt = parseFloat($('.amt-fhjkds').val());
        if (currAmt < 0) {
            alert('Cannot enter a negative amount. Please check your input amount again');
            return;
        }

        //yahan pe ajax ki hit maar do
        $.ajax({
            type: "POST",
            url: '/ServiceCharges/SaveMeterWaiverRequest/',
            data: { plot: billDets.Plot_Id, remarks: rems, billType: 1, waiveType: 4, amt: currAmt },
            success: function (data) {
                if (data) {
                    alert('Trail balance request has been submitted successfully');
                    closeModal();
                }
                else {
                    alert('Failed to forward request for this balance. Please try again');
                }
            },
            error: function (xmlhttprequest, textstatus, message) {
                if (textstatus === "timeout") {
                    alert("Request timeout. Internet connectivity issue.");
                } else {
                    alert(textstatus);
                }
            }
        });
    });
</script>