<input type="hidden" value="@ViewBag.ReceiptId" id="rec-id" />
<input type="hidden" value="@ViewBag.userid" id="tok" />
<input type="hidden" value="@ViewBag.Amt" id="amtpen" />
<label>Pending Amount</label>
<h6>@string.Format("{0:n}",ViewBag.Amt)</h6>
<hr />


<div class="form-row">
    <div class="form-group col-md-2">
        <label>Amount</label>
        <input class="form-control coma" placeholder="12,345" required>
        <input type="hidden" id="amt" name="Amount" class="amt" required>
    </div>
    <div class="form-group col-md-2">
        <label>Cash / Bank</label>
        <select class="form-control paytypesel-test" id="cah-chq-bak" name="PaymentType">
            <option value="Cash">Cash</option>
            <option value="BankDraft">Bank Draft</option>
            <option value="Cheque">Cheque</option>
            <option value="PayOrder">Pay Order</option>
            <option value="Online_Cash">Online - Cash</option>
            <option value="Online_Cheque">Online - Cheque</option>
            <option value="Online_Payorder">Online - PayOrder</option>
            <option value="Online_Bankdraft">Online - BankDraft</option>
        </select>
    </div>
    <div class="form-group col-md-3 paymentotherinfo">
        <label id="paytypelabel"></label>
        <input type="text" class="form-control" id="paymenttype" name="PayChqNo" placeholder="" disabled>
    </div>
    <div class="form-group col-md-3 paymentotherinfo">
        <label>Bank</label>
        @Html.DropDownList("Bank", null, "Choose..", new { @class = "form-control", disabled = "" })
    </div>
    <div class="form-group col-md-2 paymentotherinfo">
        <label>Branch </label>
        <input type="text" class="form-control" id="Branch" name="Branch" placeholder="Mall Rd" disabled>
    </div>
    <div class="form-group col-md-2 paymentotherinfo">
        <label>Date</label>
        <input type="text" class="form-control" data-provide="datepicker" name="Ch_bk_Pay_Date" placeholder="mm/dd/yyyy" disabled required>
    </div>

    <div class="form-group col-md-1 paymentotherinfo">
        <label>Scan File </label>
        <button class=" btn btn-primary" data-v="1" type="button" id="scanbtn">Scan</button>

    </div>
    <div id="images-1" class="col-md-10"></div>
</div>

<script>
    $(function () {
        $('.modal-footer').append('<button class="btn btn-primary" id="Prn-mem-rec" type="button">Print</button>');
    });
</script>