@model IEnumerable<MeherEstateDevelopers.Models.RealEstate_Projects>
@{
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}

@if (!Model.Any())
{

    <div class="container-fluid">
        <h4 class="c-grey-900 mT-10 mB-30"></h4>

        <ul class="nav nav-tabs" id="myTabs">
            @{ string activeclass = "active";
                    <li class="nav-item"><a class="nav-link @activeclass" data-toggle="tab" role="tab" data-link="/AdminFacilities/ProjectFee?ProjectId=1" href="#prodetail">NO Project Exist</a></li>
            }
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="prodetail" class="tab-pane active">
                @{ Html.RenderAction("ProjectFee", "AdminFacilities", new { ProjectId = 0 });}
            </div>
        </div>
    </div>
}
else
{

    <div class="container-fluid">
        <h4 class="c-grey-900 mT-10 mB-30"></h4>

        <ul class="nav nav-tabs" id="myTabs">

            @{ string activeclass = "active";

                var id = Model.Select(x => x.Id).FirstOrDefault();

                foreach (var item in Model)
                {
                    <li class="nav-item"><a class="nav-link @activeclass" data-toggle="tab" role="tab" data-link="/AdminFacilities/ProjectFee?ProjectId=@item.Id" id="@item.Id" href="#prodetail">@item.Project_Name</a></li>
                    activeclass = "";
                }
                foreach (var item in Model)
                {
                    <li class="nav-item"><a class="nav-link @activeclass" data-toggle="tab" role="tab" data-link="/AdminFacilities/DailyFeeDistrubution?ProjectId=@item.Id" id="@item.Id" href="#prodetail">@item.Project_Name Fee</a></li>
                    activeclass = "";

                }

            }
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="prodetail" class="tab-pane active">
                @{ Html.RenderAction("ProjectFee", "AdminFacilities", new { ProjectId = id });}
            </div>
        </div>
    </div>
}






